
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">实盘账户管理</h3>
                    <a href="{:url('shipanaccount/add')}" target="_blank" id="addToTable" style="float:left; margin-left: 130px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-plus"></i> 新增账户</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>名字</th>
                                    <th>账号</th>
                                    <th>IP</th>
                                    <th>API版本号</th>
                                    <th>营业部代码</th>
                                    <th>通讯端口</th>
                                    <th>通讯密码</th>
                                    <th>可用余额</th>
                                    <th>总资产</th>
                                    <th>资金余额</th>
                                    <th>上海股票股东代码</th>
                                    <th>深圳股票股东代码</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left" >
                                    <td>{$vo.id}</td>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.zhanghao}</td>
                                    <td>{$vo.ip}</td>
                                    <td>{$vo.version}</td>
                                    <td>{$vo.yybID}</td>
                                    <td>{$vo.port}</td>
                                    <th>{$vo.txmima}</th>
                                    <td>{$vo.balance}</td>
                                    <td>{$vo.allbalance}</td>
                                    <td>{$vo.zijinbalance}</td>
                                    <td>{$vo.shholder}</td>
                                    <td>{$vo.szholder}</td>
                                    <td>
                                        <a href="{:url('shipanaccount/update',['id'=>$vo['id']])}" target="_blank" class="ion-edit"></a>
                                        {empty name="marketer"}
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('shipanaccount/del',['id'=>$vo['id']])}" class="ion-trash-a" onclick="return confirm('确定删除?');"></a>
                                        {/empty}
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}
