{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改账户信息</h3></div>
                <div class="panel-body">

                    <form  action="{:url('shipanaccount/update')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <input type="hidden" name="id" value="{$shipan_account.id}">
                        <div style="width:100%">
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>账号</span>
                                    <input type="text" id="" name='account' class="form-control" placeholder="账号"  value="{$shipan_account.zhanghao}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>密码</span>
                                    <input type="text" id="" name='pwd' class="form-control" placeholder="密码" value="">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>名字</span>
                                    <input type="text" id="" name='username' class="form-control" placeholder="名字" value="{$shipan_account.name}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>IP</span>
                                    <input type="text" id="" name='ip' class="form-control" placeholder="IP"  value="{$shipan_account.ip}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>API版本号</span>
                                    <input type="text" id="" name='version' class="form-control" placeholder="API版本号"  value="{$shipan_account.version}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>营业部代码</span>
                                    <input type="text" id="" name='yybID' class="form-control" placeholder="营业部代码"  value="{$shipan_account.yybID}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>通讯端口</span>
                                    <input type="text" id="" name='port' class="form-control" placeholder="通讯端口"  value="{$shipan_account.port}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>通讯密码</span>
                                    <input type="text" id="" name='txmima' class="form-control" placeholder="通讯密码"  value="{$shipan_account.txmima}">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}