
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">分销商管理</h3>
                    {empty name="marketer"}
                    <a href="{:url('marketer/add')}" target="_blank" id="addToTable" style="float:left; margin-left: 130px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-plus"></i> 新增分销商</a>
                    {/empty}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>分销商账户</th>
                                    <th>名字</th>
                                    <th>头像</th>
                                    <th>会员总数</th>
                                    <th>工作人员总数</th>
                                    <th>是否禁用</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left" >
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.username}</td>
                                    <td><img src="{$vo.headurl}" alt="" width="50px" height="50px" style="border-radius: 50%;"></td>
                                    <td>{$vo.admincount}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('marketer/admin',['marketer_id'=>$vo['id']])}" target="_blank" class="ion-eye"></a></td>
                                    <td>{$vo.usercount}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('marketer/staffindex',['id'=>$vo['id'],'del'=>$vo['is_del']])}" target="_blank" class="ion-eye"></a></td>
                                    <td>{if condition="$vo.is_del == 1"}正常{else/}禁用{/if}</td>
                                    <td>{$vo.create_time}</td>
                                    <td>
                                        <a href="{:url('marketer/update',['id'=>$vo['id']])}" target="_blank" class="ion-edit"></a>
                                        {empty name="marketer"}
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('marketer/del',['id'=>$vo['id']])}" class="ion-trash-a" onclick="return confirm('确定删除?');"></a>
                                        {/empty}
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}
