
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">分销人员管理</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>用户账号</th>
                                    <th>账户余额</th>
                                    <th>策略账户余额</th>
                                    <th>身份证</th>
                                    <th>昵称</th>
                                    <th>真实姓名</th>
                                    <th>邀请人</th>
                                    <th>是否禁用</th>
                                    <th>我的推广</th>
                                    <th>注册时间</th>
                                    <th>最后登录时间</th>
                                    {empty name="marketer"}
                                    <th>操作</th>
                                    {/empty}
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left" >
                                    <td>{$vo['id']}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.balance}</td>
                                    <td>{$vo.tactics_balance}</td>
                                    <td>{$vo.card_id}</td>
                                    <td>{$vo.nick_name}</td>
                                    <td>{$vo.true_name}</td>
                                    <td>{$vo.inviter}</td>
                                    <td>{$vo.is_del}</td>
                                    <td>{$vo.extend}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('admin/extendindex',['id'=>$vo['id']])}" target="_blank" class="ion-eye"></a></td>
                                    <td>{$vo.create_time}</td>
                                    <td>{$vo.lastlogin_time}</td>
                                    {empty name="marketer"}
                                    <td>
                                        <a href="{:url('admin/update',['id'=>$vo['id']])}" target="_blank" class="ion-edit"></a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('admin/bankindex',['id'=>$vo['id']])}" target="_blank" class="ion-card"></a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('admin/del',['id'=>$vo['id']])}" class="ion-trash-a" onclick="return confirm('确定删除?');"></a>
                                    </td>
                                    {/empty}
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}