
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">分销商工作人员管理</h3>
                    {if condition="$del == 1"}
                    <a href="{:url('marketer/staffadd',['marketer_id'=>$marketer_id,'del'=>$del])}" target="_blank" id="addToTable" style="float:left; margin-left: 180px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-plus"></i> 新增人员</a>
                    {/if}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>工作人员账户</th>
                                    <th>名字</th>

                                    <!-- LRSS 2019-2-10 ADD 增加手续费和利息 -->
                                    <th>手续费</th>
                                    <th>利息</th>

                                    <th>头像</th>
                                    <th>会员总数</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left" >
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.username}</td>

                                    <!-- LRSS 2019-2-10 ADD 增加手续费和利息 -->
                                    <td>{$vo.fee}&nbsp;%</td>
                                    <td>{$vo.interest}&nbsp;%</td>

                                    <td><img src="{$vo.headurl}" alt="" width="50px" height="50px" style="border-radius: 50%;"></td>
                                    <td>{$vo.admincount}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('marketer/admin',['marketer_user'=>$vo['id'],'marketer_id'=>$marketer_id])}" target="_blank" class="ion-eye"></a></td>
                                    <td>{$vo.create_time}</td>
                                    <td>
                                        <a href="{:url('marketer/staffupdate',['id'=>$vo['id'],'marketer_id'=>$marketer_id,'del'=>$del])}" target="_blank" class="ion-edit"></a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('marketer/staffdel',['id'=>$vo['id'],'marketer_id'=>$marketer_id,'del'=>$del])}" class="ion-trash-a" onclick="return confirm('确定删除?');"></a>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}
