{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改工作人员信息</h3></div>
                <div class="panel-body">

                    <form  action="{:url('marketer/staffupdate')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <input type="hidden" name="id" value="{$user.id}">
                        <input type="hidden" name="del" value="{$del}">
                        <input type="hidden" name="marketer_id" value="{$marketer_id}">
                        <div style="width:100%">
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>账号</span>
                                    <input type="text" id="" name='account' class="form-control" placeholder="账号"  value="{$user.account}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>登陆密码</span>
                                    <input type="text" id="" name='pwd' class="form-control" placeholder="登陆密码" value="">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>名字</span>
                                    <input type="text" id="" name='username' class="form-control" placeholder="名字" value="{$user.username}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block;">
                                <label  class="col-md-4 control-label" style="text-align: left; padding-left: 23px">头像</label>
                                <div class="col-md-8">
                                    <div class="fallback" style="margin-top: 8px;font-size: 12px;">
                                        <input id="f_file" name="headurl" type="file" />
                                    </div>
                                </div>
                            </div>

                            <!-- LRSS 2019-2-10 ADD 增加手续费和利息 -->
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>手续费</span>
                                    <input type="text" id="" name='fee' class="form-control" placeholder="手续费" value="{$user.fee}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>利息</span>
                                    <input type="text" id="" name='interest' class="form-control" placeholder="利息" value="{$user.interest}">
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}