{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改分销商信息</h3></div>
                <div class="panel-body">

                    <form  action="{:url('marketer/update')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <input type="hidden" name="id" value="{$user.id}">
                        <div style="width:100%">
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>账号</span>
                                    <input type="text" id="" name='account' class="form-control" placeholder="账号"  value="{$user.account}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>登陆密码</span>
                                    <input type="text" id="" name='pwd' class="form-control" placeholder="登陆密码" value="">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>名字</span>
                                    <input type="text" id="" name='username' class="form-control" placeholder="名字" value="{$user.username}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block;">
                                <label  class="col-md-4 control-label" style="text-align: left; padding-left: 23px">头像</label>
                                <div class="col-md-8">
                                    <div class="fallback" style="margin-top: 8px;font-size: 12px;">
                                        <input id="f_file" name="headurl" type="file" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="width: 48%; display:inline-block">
                                <label class="col-md-4 name='if_record' control-label" style="text-align: left; padding-left: 25px">是否修改用户正式测试信息(谨慎修改)</label>
                                <div class="col-md-8">
                                    <div class="radio-inline" style="padding-left: 0px;">
                                        <label name='updshipan' class="cr-styled" for="example-radio6">
                                            <input type="radio" id="example-radio6" name="updshipan" value="1">
                                            <i class="fa" selected></i>
                                            是
                                        </label>
                                    </div>
                                    <div class="radio-inline" >
                                        <label name='updshipan' class="cr-styled" for="example-radio7">
                                            <input type="radio" id="example-radio7" name="updshipan" value="2" checked >
                                            <i class="fa" ></i>
                                            否
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <label class="col-md-4 name='if_record' control-label" style="text-align: left; padding-left: 25px">是否测试</label>
                                <div class="col-md-8">
                                    <div class="radio-inline" style="padding-left: 0px;">
                                        <label name='is_real_disk' class="cr-styled" for="example-radio4">
                                            <input type="radio" id="example-radio4" name="is_real_disk" value="1" {if $user.is_real_disk eq 1} checked {/if}>
                                            <i class="fa" selected></i>
                                            正式
                                        </label>
                                    </div>
                                    <div class="radio-inline" >
                                        <label name='is_real_disk' class="cr-styled" for="example-radio5">
                                            <input type="radio" id="example-radio5" name="is_real_disk" value="2" {if $user.is_real_disk eq 2} checked {/if}>
                                            <i class="fa" ></i>
                                            测试
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%;  display:inline-block">
                                <div class="col-sm-10">
                                    <span>正式账户(正式才有效)</span>
                                    <select class="form-control" name='shipan_account'>
                                        {foreach name="shipan_account" item="v" key="key"}
                                        <option value="{$v.id}" {if $user.shipan_account eq $v.id} selected {/if}>{$v.name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}