{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->
<style>
    .col-sm-6{margin-bottom: 3%}
</style>


<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改配置</h3></div>
                <div class="panel-body">

                    <form action="" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <div style="width:100%">
                            <div class="form-group" >
                                <div class="col-sm-12">
                                    <span class="col-sm-12" style="padding:0">{$list[41]['remark']}</span>
                                    <div class="f-cb" style="margin-bottom:20px;">
                                        <div class="col-md-6" style="padding:0">
                                            <div class="fallback f-cb">
                                                <input id="f_file" name="value42" type="file" class="web_bannerurl" />
                                                <span class="web_bannerbtn">上传</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="padding:0">
                                            <img src="" alt="" class="web_bannerimg fl" width="60px" style="margin-right:10px;" id="web_bannerimg1">
                                            <img src="{$list[41]['value']}" alt="" width="60px" class="fl">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <span class="col-sm-12" style="padding:0">{$list[42]['remark']}</span>
                                    <div class="f-cb" style="margin-bottom:20px;">
                                        <div class="col-md-6" style="padding:0">
                                            <div class="fallback f-cb">
                                                <input id="f_file1" name="value43" type="file" class="web_bannerurl" />
                                                <span class="web_bannerbtn">上传</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="padding:0">
                                            <img src="" alt="" class="web_bannerimg fl" width="60px" style="margin-right:10px;" id="web_bannerimg2">
                                            <img src="{$list[42]['value']}" alt="" width="60px" class="fl">
                                        </div>
                                    </div>
                                </div>
                              
                              
                              	<div class="col-sm-6">
                                    <span>{$list[43]['remark']}</span>
                                    <input type="text" id="" name='value44' class="form-control" placeholder="{$list[43]['remark']}"  value="{$list[43]['value']}">
                                </div>


                                <div class="col-sm-6">
                                    <span>{$list[44]['remark']}</span>
                                    <input type="text" id="" name='value45' class="form-control" placeholder="{$list[44]['remark']}"  value="{$list[44]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[45]['remark']}</span>
                                    <input type="text" id="" name='value46' class="form-control" placeholder="{$list[45]['remark']}"  value="{$list[45]['value']}">
                                </div>
                                
                              
                              	
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->
<script>

$("#f_file").on('change', function () {
       var file = this.files[0];//获取文件信息
       console.log(file)
        if (window.FileReader)
        {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            //监听文件读取结束后事件    
            reader.onloadend = function (e) {
                console.log(e)
                $("#web_bannerimg1").attr("src",e.target.result);
            };
        }
})

$("#f_file1").on('change', function () {
       var file = this.files[0];//获取文件信息
       console.log(file)
        if (window.FileReader)
        {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            //监听文件读取结束后事件    
            reader.onloadend = function (e) {
                console.log(e)
                $("#web_bannerimg2").attr("src",e.target.result);
            };
        }
})


</script>

{include file="login/footer" /}