
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">回复管理</h3>
                    <a href="{:url('feedback/feedbacktalk',['fid'=>$fid])}" target="_blank" id="" style="float:left; margin-left: 100px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">回复此人</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>回复人员</th>
                                    <th>回复内容</th>
                                    <th>创建时间</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="arr" item="vo"}
                                <tr align="left">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.content}</td>
                                    <td>{$vo.create_time}</td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>
{include file="login/footer" /}
<!-- Page Content Ends -->
<!-- =========