
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">反馈管理</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>反馈用户</th>
                                    <th>反馈内容</th>
                                    <th>处理状态</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.content}</td>
                                    <td>{$vo.status}</td>
                                    <td>{$vo.create_time}</td>
                                    <td>
                                        <a href="{:url('feedback/update',['id'=>$vo['id']])}" target="_blank" class="ion-edit"></a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('feedback/feedbackindex',['id'=>$vo['id']])}" target="_blank" class="ion-eye"></a>
                                        &nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>
{include file="login/footer" /}
<!-- Page Content Ends -->
<!-- =