{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改反馈</h3></div>
                <div class="panel-body">

                    <form  action="{:url('feedback/update')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <input type="hidden" name="id" value="{$feedback.id}">
                        <div style="width:100%">
                            <div class="form-group" style="width: 50%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>反馈用户</span>
                                    <input type="text" id="" name='account' class="form-control" placeholder="反馈用户"  value="{$feedback.account}" disabled >
                                </div>
                            </div>
                            <div class="form-group" style="width: 49%;  display:inline-block">
                                <div class="col-sm-10">
                                    <span>处理状态</span>
                                    <select class="form-control" name='status'>
                                        {foreach name="status" item="v" key="key"}
                                        <option value="{$v}" {if $feedback.status eq $v} selected {/if}>{$key}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea disabled class="form-control" rows="5" name="content" placeholder="反馈内容">{$feedback.content}</textarea>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->



{include file="login/footer" /}