{include file="login/header" /}

<div class="wraper container-fluid">
    <div class="page-title">
        <h3 class="title">策略详情</h3>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">策略单号：{$strategy.strategy_num}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table style="margin-bottom: 10px;" class="table table-bordered">

                                <tbody>
                                <tr>
                                    <th >用户账号：</th>
                                    <td>{$strategy.account}</td>
                                    <th>策略状态：</th>
                                    <td>{$strategy.status}</td>
                                    <th>买卖股数：</th>
                                    <td>{$strategy.stock_number}</td>
                                </tr>
                                <tr>
                                    <th>股票名字：</th>
                                    <td>{$strategy.stock_name}</td>
                                    <th>股票代码：</th>
                                    <td>{$strategy.stock_code}</td>
                                    <th>买入价格：</th>
                                    <td>{$strategy.buy_price}</td>
                                </tr>
                                <tr>
                                    <th>信用金：</th>
                                    <td>{$strategy.credit}</td>
                                    <th>策略盈亏：</th>
                                    <td>{$strategy.income}</td>
                                    <th>卖出价格：</th>
                                    <td>{$strategy.sell_price}</td>
                                </tr>
                                <tr><th>市值：</th>
                                    <td>{$strategy.market_value}</td>
                                    <th>亏损扣减：</th>
                                    <td>{$strategy.dropprice}</td>
                                    <th>当前价格：</th>
                                    <td>{$strategy.nowprice}</td>
                                </tr>
                                <tr>
                                    <th>止盈价格：</th>
                                    <td>{$strategy.surplus_value}</td>
                                    <th>盈利分配：</th>
                                    <td>{$strategy.getprice}</td>
                                    <th>涨/跌幅比率：</th>
                                    <td>{$strategy.rate}</td>
                                </tr>
                                <tr>
                                    <th>止损价格：</th>
                                    <td>{$strategy.loss_value}</td>
                                    <th>买入时间：</th>
                                    <td>{$strategy.buy_time}</td>
                                    <th>卖出时间：</th>
                                    <td>{$strategy.sell_time}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- col -->
    </div> <!-- End row -->





</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}