
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->
<style type="text/css">
    .cel{
        float: left;margin-bottom: 10px;margin-right: 20px;}
    .cel select{border: none;}
    input[type="submit"]{border: none;padding: 3px 10px;margin-top: -10px;background-color: #5dadfb;color: #ffffff;border-radius: 5px;}
</style>

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">炒股大赛管理</h3>
                </div>
                <div class="panel-body">
                    <form action="{:url('strategycontest/index')}" method="get">
                        <div class="cel">
                            <label>策略盈亏</label>
                        <select name="income">
                            <option value="0">请选择</option>
                            <option {notempty name="incomed" }{if $incomed eq 1} selected {/if}{/notempty} value="1">盈利</option>
                            <option {notempty name="incomed" }{if $incomed eq 2} selected {/if}{/notempty} value="2">亏损</option>
                        </select>
                        </div>
                        <div class="cel">
                            <label>策略状态</label>
                        <select name="status">
                            <option value="0">请选择</option>
                            <option {notempty name="statusd" }{if $statusd eq 1} selected {/if}{/notempty} value="1">持仓申报中</option>
                            <option {notempty name="statusd" }{if $statusd eq 2} selected {/if}{/notempty} value="2">持仓中</option>
                            <option {notempty name="statusd" }{if $statusd eq 3} selected {/if}{/notempty} value="3">平仓申报中</option>
                            <option {notempty name="statusd" }{if $statusd eq 4} selected {/if}{/notempty} value="4">已平仓</option>
                        </select>
                    </div>
                        <input type="submit" value="查询">
                    </form>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>策略单号</th>
                                    <th>用户账号</th>
                                    <th>股票代码</th>
                                    <th>股票名字</th>
                                    <th>买入价格</th>
                                    <th>当前价格</th>
                                    <th>策略盈亏</th>
                                    <th>涨/跌幅比率</th>
                                    <th>策略状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>{$vo.strategy_num}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.stock_code}</td>
                                    <td>{$vo.stock_name}</td>
                                    <td>{$vo.buy_price}</td>
                                    <td>{$vo.nowprice}</td>
                                    <td>{$vo.income}</td>
                                    <td>{$vo.rate}</td>
                                    <td>{$vo.status}</td>
                                    <td><a href="{:url('strategycontest/detail',['id'=>$vo['id']])}" target="_blank" class="ion-eye"></a></td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}
