{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->
<style>
    .col-sm-6{margin-bottom: 3%}
</style>


<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改配置</h3></div>
                <div class="panel-body">

                    <form  action="{:url('index/configure')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <div style="width:100%">
                            <div class="form-group" >
                                <div class="col-sm-6">
                                    <span>{$list[1]['remark']}</span>
                                    <input type="text" id="" name='value2' class="form-control" placeholder="{$list[1]['remark']}(0-10)" value="{$list[1]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[2]['remark']}(0-1)</span>
                                    <input type="text" id="" name='value3' class="form-control" placeholder="{$list[2]['remark']}(0-10)" value="{$list[2]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[5]['remark']}(0-1)</span>
                                    <input type="text" id="" name='value6' class="form-control" placeholder="{$list[5]['remark']}(0-10)" value="{$list[5]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[3]['remark']}(0-1)</span>
                                    <input type="text" id="" name='value4' class="form-control" placeholder="{$list[3]['remark']}(0-10)" value="{$list[3]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[6]['remark']}(元)</span>
                                    <input type="text" id="" name='value7' class="form-control" placeholder="{$list[6]['remark']}(元)" value="{$list[6]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[7]['remark']}(0-1)</span>
                                    <input type="text" id="" name='value8' class="form-control" placeholder="{$list[7]['remark']}(0-10)" value="{$list[7]['value']}">
                                </div>
                              
								<div class="col-sm-6">
                                    <span>{$list[10]['remark']}</span>
                                    <input type="text" id="" name='value11' class="form-control" placeholder="{$list[10]['remark']}/天" value="{$list[10]['value']}">
                                </div>
                              	
                              	<div class="col-sm-6">
                                    <span>{$list[49]['remark']}</span>
                                    <input type="text" id="" name='value50' class="form-control" placeholder="请输入现价的倍数" value="{$list[49]['value']}">
                                </div>
                              	
                                <div class="col-sm-6">
                                    <span>{$list[8]['remark']}</span>
                                    <input type="text" id="" name='value9' class="form-control" placeholder="{$list[8]['remark']}" value="{$list[8]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[9]['remark']}(元)</span>
                                    <input type="text" id="" name='value10' class="form-control" placeholder="{$list[9]['remark']}(元)" value="{$list[9]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[11]['remark']}</span>
                                    <input type="text" id="" name='value12' class="form-control" placeholder="{$list[11]['remark']}" value="{$list[11]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[12]['remark']}</span>
                                    <input type="text" id="" name='value13' class="form-control" placeholder="{$list[12]['remark']}" value="{$list[12]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[13]['remark']}</span>
                                    <input type="text" id="" name='value14' class="form-control" placeholder="{$list[13]['remark']}" value="{$list[13]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[4]['remark']}(0-1)</span>
                                    <input type="text" id="" name='value5' class="form-control" placeholder="{$list[4]['remark']}(0-10)" value="{$list[4]['value']}">
                                </div>
                              
                              
                              	<div class="form-group" style="width: 48%; display:inline-block">
                                    <label class="col-md-4 name='if_record' control-label" style="text-align: left; padding-left: 25px">是否允许客户上调止盈</label>
                                    <div class="col-md-8">
                                        <div class="radio-inline" style="padding-left: 0px;">
                                            <label name='is_real_disk' class="cr-styled" for="example-radio4">
                                                <input type="radio" id="example-radio4" name="value49" value="1" {if $list[48]['value'] eq 1} checked {/if}>
                                                <i class="fa" selected></i>
                                                允许
                                            </label>
                                        </div>
                                        <div class="radio-inline" >
                                            <label name='is_real_disk' class="cr-styled" for="example-radio5">
                                                <input type="radio" id="example-radio5" name="value49" value="2" {if $list[48]['value'] eq 2} checked {/if}>
                                                <i class="fa" ></i>
                                                禁止
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}