{include file="login/header" /}

<style type="text/css">
    .hove{background-color: #00a0e9; transition: all .3s ease-in-out;border: 1px solid #00a0e9;}
</style>
<div class="wraper container-fluid">
    <div class="page-title">
        <h3 class="title">统计详情</h3>
    </div>
    <div class="page-title cov" style="margin: 0 0 30px 0">
        {notempty name="markk"}
        {notempty name="account"}
        <a href="{:url('index/countinfo',['date'=>1,'account'=>$account,'mark'=>$markk])}" id="" style="float:left; border-radius: 5px;" class="btn btn-primary waves-effect waves-light">今天</a>
        <a href="{:url('index/countinfo',['date'=>2,'account'=>$account,'mark'=>$markk])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">本周</a>
        <a href="{:url('index/countinfo',['date'=>3,'account'=>$account,'mark'=>$markk])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">本月</a>
        <a href="{:url('index/countinfo',['date'=>4,'account'=>$account,'mark'=>$markk])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">全部</a>
        {else /}
        <a href="{:url('index/countinfo',['date'=>1,'mark'=>$markk])}" id="" style="float:left;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">今天</a>
        <a href="{:url('index/countinfo',['date'=>2,'mark'=>$markk])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">本周</a>
        <a href="{:url('index/countinfo',['date'=>3,'mark'=>$markk])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">本月</a>
        <a href="{:url('index/countinfo',['date'=>4,'mark'=>$markk])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">全部</a>
        {/notempty}
        {else /}
        {notempty name="account"}
        <a href="{:url('index/countinfo',['date'=>1,'account'=>$account])}" id="" style="float:left;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">今天</a>
        <a href="{:url('index/countinfo',['date'=>2,'account'=>$account])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">本周</a>
        <a href="{:url('index/countinfo',['date'=>3,'account'=>$account])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">本月</a>
        <a href="{:url('index/countinfo',['date'=>4,'account'=>$account])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">全部</a>
        {else /}
        <a href="{:url('index/countinfo',['date'=>1])}" id="" style="float:left;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">今天</a>
        <a href="{:url('index/countinfo',['date'=>2])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">本周</a>
        <a href="{:url('index/countinfo',['date'=>3])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">本月</a>
        <a href="{:url('index/countinfo',['date'=>4])}" id="" style="float:left; margin-left: 10px;border-radius: 5px;" class="btn btn-primary waves-effect waves-light">全部</a>
        {/notempty}
        {/notempty}
        <input type="hidden" id="changecolor" value="{$date}">
        <form action="{:url('index/countinfo')}" method="get">
            <input class="btn btn-primary waves-effect waves-light" style="width: 10%;float: right;" type="submit" value="查询">
            <input class="form-control" id="end_time" style="width: 10%;float: right;margin-right: 1%;" type="text" placeholder="查询结束时间" name="end_time" {notempty name="end_time" } value="{$end_time}" {/notempty} onClick="WdatePicker()">
            <input class="form-control" id="begin_time" style="width: 10%;float: right;margin-right: 1%;" type="text"  placeholder="查询起始时间" name="begin_time" {notempty name="begin_time" } value="{$begin_time}" {/notempty} onClick="WdatePicker()">

            {notempty name="account"}
            <input type="hidden" id="account" name="account" value="{$account}">
            {/notempty}
            <input type="hidden" id="date" name="date" value="{$date}">

            {empty name="marketer"}
            <select name="mark" id="mark" style="width: 10%;float: right;margin-right: 1%;border: none;padding-left: 10px; background-color: #fafafa;height: 32px;">
                <option value="">请选择</option>
                {foreach name="allmarketer" item="v" key="key"}
                <option {notempty name="markk" }{if $markk eq $v.id} selected {/if}{/notempty} value="{$v.id}">{$v.username}</option>
                {/foreach}
            </select>
            <span style="display: inline-block;float: right;height: 30px;line-height: 32px;margin-right: 10px;font-weight: bold;">分销商 : </span>
            {/empty}
        </form>

        <input type="hidden" id="markd" name="mark" {notempty name="markk" } value="{$markk}" {/notempty}>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="overflow: hidden;">
                    <h3 class="panel-title" style="width: 5%;float: left;margin-top: 10px;">会员统计</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table style="margin-bottom: 10px;" class="table table-bordered">

                                <tbody>
                                <tr>
                                    <th>钱包余额：</th>
                                    <td>{$admin.balance}元</td>
                                    <th>策略余额：</th>
                                    <td>{$admin.tactics_balance}元</td>
                                    <th>冻结金额：</th>
                                    <td>{$admin.frozen_money}元</td>
                                </tr>
                                <tr>
                                    <th>会员数量：</th>
                                    <td>{$admin.person}</td>
                                    <th>全部金额：</th>
                                    <td>{$admin.all_balance}元</td>
                                    <th></th>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">持仓中策略统计</h3>
                    {empty name="marketer_user"}
                    <a href="" id="exportchicang" style="float:right; margin-left: 130px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">导出持仓中策略</a>
                    {/empty}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table style="margin-bottom: 10px;" class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>T+1策略个数：</th>
                                    {notempty name="account" }
                                    {notempty name="markk"}
                                    <td>{$strategy.strategy_num1}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>1,'status'=>2,'account'=>$account,'mark'=>$markk,'date'=>$date,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {else/}
                                    <td>{$strategy.strategy_num1}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>1,'status'=>2,'account'=>$account,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {/notempty}
                                    {else/}
                                    {notempty name="markk"}
                                    <td>{$strategy.strategy_num1}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>1,'status'=>2,'mark'=>$markk,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {else/}
                                    <td>{$strategy.strategy_num1}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>1,'status'=>2,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {/notempty}
                                    {/notempty}
                                    <th>T+5策略个数：</th>
                                    {notempty name="account" }
                                    {notempty name="markk"}
                                    <td>{$strategy.strategy_num2}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>2,'status'=>2,'account'=>$account,'mark'=>$markk,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {else/}
                                    <td>{$strategy.strategy_num2}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>2,'status'=>2,'account'=>$account,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {/notempty}
                                    {else/}
                                    {notempty name="markk"}
                                    <td>{$strategy.strategy_num2}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>2,'status'=>2,'mark'=>$markk,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {else/}
                                    <td>{$strategy.strategy_num2}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>2,'status'=>2,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {/notempty}
                                    {/notempty}
                                    <th>信用金：</th>
                                    <td>{$strategy.credit}元</td>
                                </tr>
                                <tr>
                                    <th>T+1手续费：</th>
                                    <td>{$strategy.poundage1}元</td>
                                    <th>T+5手续费：</th>
                                    <td>{$strategy.poundage2}元</td>
                                    <!-- LRSS 2019-2-21 EDIT 暂时不显示递延费 -->
                                    <th>递延费：</th>
                                    <td>{$strategy.defer_value}元</td>
                                    <!--
                                    <th></th>
                                    <td></td>
                                    -->
                                </tr>
                                <tr>
                                    <th>浮动盈亏：</th>
                                    <td>{$strategy.recordMoney}元</td>
                                    <th>策略总市值：</th>
                                    <td>{$strategy.market_value}元</td>
                                    <th>策略总金额：</th>
                                    <td>{$strategy.double_value}元</td>
                                </tr>
                                <tr>
                                    <th>已使用红包数量</th>
                                    <td>{$strategy.redpacket}</td>
                                    <th></th>
                                    <td></td>
                                    <th></th>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">已平仓策略统计</h3>
                    {empty name="marketer_user"}
                    <a href="" id="exportpingcang" style="float:right; margin-left: 130px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">导出已平仓策略</a>
                    {/empty}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table style="margin-bottom: 10px;" class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>T+1策略个数：</th>
                                    {notempty name="account" }
                                    {notempty name="markk"}
                                    <td>{$strategy_sell.strategy_num1}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>1,'status'=>4,'account'=>$account,'mark'=>$markk,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {else/}
                                    <td>{$strategy_sell.strategy_num1}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>1,'status'=>4,'account'=>$account,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {/notempty}
                                    {else/}
                                    {notempty name="markk"}
                                    <td>{$strategy_sell.strategy_num1}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>1,'status'=>4,'mark'=>$markk,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {else/}
                                    <td>{$strategy_sell.strategy_num1}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>1,'status'=>4,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {/notempty}
                                    {/notempty}
                                    <th>T+5策略个数：</th>
                                    {notempty name="account" }
                                    {notempty name="markk"}
                                    <td>{$strategy_sell.strategy_num2}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>2,'status'=>4,'account'=>$account,'mark'=>$markk,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {else/}
                                    <td>{$strategy_sell.strategy_num2}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>2,'status'=>4,'account'=>$account,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {/notempty}
                                    {else/}
                                    {notempty name="markk"}
                                    <td>{$strategy_sell.strategy_num2}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>2,'status'=>4,'mark'=>$markk,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {else/}
                                    <td>{$strategy_sell.strategy_num2}&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategy/index',['strategy_type'=>2,'status'=>4,'date'=>$date])}" target="_blank" class="ion-eye"></a></td>
                                    {/notempty}
                                    {/notempty}
                                    <th>信用金：</th>
                                    <td>{$strategy_sell.credit}元</td>
                                </tr>
                                <tr>
                                    <th>T+1手续费：</th>
                                    <td>{$strategy_sell.poundage1}元</td>
                                    <th>T+5手续费：</th>
                                    <td>{$strategy_sell.poundage2}元</td>
                                    <!-- LRSS 2019-2-21 EDIT 暂时不显示递延费 -->
                                    <th>递延费：</th>
                                    <td>{$strategy_sell.defer_value}元</td>
                                    <!--
                                    <th></th>
                                    <td></td>
                                    -->
                                </tr>
                                <tr>
                                    <th>策略盈亏：</th>
                                    <td>盈利：{$strategy_sell.celueRecordMoney1}元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        亏损：{$strategy_sell.celueRecordMoney2}元</td>
                                    <th>策略总市值：</th>
                                    <td>{$strategy_sell.market_value}元</td>
                                    <th>策略总金额：</th>
                                    <td>{$strategy_sell.double_value}元</td>
                                </tr>
                                <tr>
                                    <th>盈利分配：</th>
                                    <!-- LRSS 2019-2-19 EDIT 暂时将盈利分配显示为0 -->
                                    <!--
                                    <td>{$strategy_sell.lastRecordMoney}元</td>
                                    -->
                                    <td>0元</td>

                                    <th>软件服务费：</th>
                                    <!-- LRSS 2019-2-19 EDIT 暂时将软件服务费显示为0 -->
                                    <!--
                                    <td>{$strategy_sell.ruanjian}元</td>
                                    -->
                                    <td>0元</td>

                                    <th>已使用红包数量</th>
                                    <td>{$strategy_sell.redpacket}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- LRSS 2019-2-21 ADD 添加递延策略 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">递延策略统计</h3>
                    {empty name="marketer_user"}
                    <a href="" id="exportdiyanstrategy" style="float:right; margin-left: 130px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">导出递延策略</a>
                    {/empty}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table style="margin-bottom: 10px;" class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>T+1递延策略个数：</th>
                                    <td>{$diyantrade.Tonedianyan}&nbsp;&nbsp;
                                        {if $diyantrade.Tonedianyan gt 0}
                                        <a href="{$defer_t1_list_url}" target="_blank" class="ion-eye"></a>
                                        {else}
                                        <a href="javascript:;" class="ion-eye"></a>
                                        {/if}
                                    </td>
                                    <th>T+5递延策略个数：</th>
                                    <td>{$diyantrade.Tfivedianyan}&nbsp;&nbsp;
                                        {if $diyantrade.Tfivedianyan gt 0}
                                        <a href="{$defer_t5_list_url}" target="_blank" class="ion-eye"></a>
                                        {else}
                                        <a href="javascript:;" class="ion-eye"></a>
                                        {/if}
                                    </td>
                                    <th>递延费：</th>
                                    <td>{$diyantrade.diyanfei}元</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">交易统计</h3>
                    {empty name="marketer_user"}
                    <a href="" id="exporttrade" style="float:right; margin-left: 130px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">导出交易记录</a>
                    {/empty}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table style="margin-bottom: 10px;" class="table table-bordered">

                                <tbody>
                                <tr>
                                    <th>充值金额：</th>
                                    <td>{$trade.recharge_trade_price_lianlian}元</td>
                                    <th>已提现金额：</th>
                                    <td>{$trade.withdraw_trade_price}元</td>
                                    <th>提现申请中金额：</th>
                                    <td>{$trade.tradeshenqing}元</td>
                                </tr>
                                 <tr>
                                    <th>支付宝转账：</th>
                                    <td>{$trade.recharge_trade_price_zhifubao}元</td>
                                    <th>微信转账：</th>
                                    <td>{$trade.recharge_trade_price_weixin}元</td>
                                    <th>银行卡转账：</th>
                                    <td>{$trade.recharge_trade_price_bank}元</td>
                                </tr>
                                 <tr>
                                   	<th>后台充值金额：</th>
                                    <td>{$trade.recharge_trade_price_houtai}元</td>
                                    <th>除权派息：</th>
                                    <td>{$trade.recharge_trade_price_chuquan}元</td>
                                    <th></th>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

            <!-- LRSS 2019-2-21 EDIT 不显示红包统计 -->
            <div class="panel panel-default" style="display: none;">
                <div class="panel-heading">
                    <h3 class="panel-title">红包统计</h3>
                    {empty name="marketer_user"}
                    <a href="" id="exportpacket" style="float:right; margin-left: 130px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">导出红包记录</a>
                    {/empty}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table style="margin-bottom: 10px;" class="table table-bordered">

                                <tbody>
                                <tr>
                                    <th>已使用红包：</th>
                                    <td>{$packet.packetedMoney}元</td>
                                    <th>已使用红包次数：</th>
                                    <td>{$packet.packetedTimes}个</td>
                                    <th>红包金额使用率：</th>
                                    <td>{$packet.packetMoneyLv}</td>
                                </tr>
                                <tr>
                                    <th>所有红包：</th>
                                    <td>{$packet.packetMoney}元</td>
                                    <th>所有的红包个数：</th>
                                    <td>{$packet.packetTimes}个</td>
                                    <th>红包次数使用率：</th>
                                    <td>{$packet.packetTimesLv}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div> <!-- col -->
    </div> <!-- End row -->

</div>
<!-- Page Content Ends -->
<!-- ================== -->


<script>
    $("#mark").change(function(){
        var mark = $("#mark").val();
        $("#markd").val(mark);
    });
    $('#exportchicang').click(function(){
        var account = $("#account").val();
        var date = $("#date").val();
        var mark = $("#markd").val();
        var begin_time = $("#begin_time").val();
        var end_time = $("#end_time").val();
        var url = "/index/index/exportstrategy/status/2";
        if(account){
            url=url+'/account/'+account;
        }
        if(date){
            url=url+'/date/'+date;
        }
        if(mark){
            url=url+'/mark/'+mark;
        }
        if(begin_time){
            url=url+'/begin_time/'+begin_time;
        }
        if(end_time){
            url=url+'/end_time/'+end_time;
        }
        $(this).prop('href',url);
    });
    $('#exportpingcang').click(function(){
        var account = $("#account").val();
        var date = $("#date").val();
        var mark = $("#markd").val();
        var begin_time = $("#begin_time").val();
        var end_time = $("#end_time").val();
        var url = "/index/index/exportstrategy/status/4";
        if(account){
            url=url+'/account/'+account;
        }
        if(date){
            url=url+'/date/'+date;
        }
        if(mark){
            url=url+'/mark/'+mark;
        }
        if(begin_time){
            url=url+'/begin_time/'+begin_time;
        }
        if(end_time){
            url=url+'/end_time/'+end_time;
        }
        $(this).prop('href',url);
    });
    $('#exportdiyanstrategy').click(function(){
        var account = $("#account").val();
        var date = $("#date").val();
        var mark = $("#markd").val();
        var begin_time = $("#begin_time").val();
        var end_time = $("#end_time").val();
        var url = "/index/index/exportdiyanstrategy";
        if(account){
            url=url+'/account/'+account;
        }
        if(date){
            url=url+'/date/'+date;
        }
        if(mark){
            url=url+'/mark/'+mark;
        }
        if(begin_time){
            url=url+'/begin_time/'+begin_time;
        }
        if(end_time){
            url=url+'/end_time/'+end_time;
        }
        $(this).prop('href',url);
    });
    $('#exporttrade').click(function(){
        var account = $("#account").val();
        var date = $("#date").val();
        var mark = $("#markd").val();
        var begin_time = $("#begin_time").val();
        var end_time = $("#end_time").val();
        var url = "/index/index/exporttrade";
        if(account){
            url=url+'/account/'+account;
        }
        if(date){
            url=url+'/date/'+date;
        }
        if(mark){
            url=url+'/mark/'+mark;
        }
        if(begin_time){
            url=url+'/begin_time/'+begin_time;
        }
        if(end_time){
            url=url+'/end_time/'+end_time;
        }
        $(this).prop('href',url);
    });
    $('#exportpacket').click(function(){
        var account = $("#account").val();
        var date = $("#date").val();
        var mark = $("#markd").val();
        var begin_time = $("#begin_time").val();
        var end_time = $("#end_time").val();
        var url = "/index/index/exportpacket";
        if(account){
            url=url+'/account/'+account;
        }
        if(date){
            url=url+'/date/'+date;
        }
        if(mark){
            url=url+'/mark/'+mark;
        }
        if(begin_time){
            url=url+'/begin_time/'+begin_time;
        }
        if(end_time){
            url=url+'/end_time/'+end_time;
        }
        $(this).prop('href',url);
    });


    var hid= $("#changecolor").val();
    if(hid == 1){
        $(".cov a").removeClass("hove");
        $(".cov a:eq(0)").addClass("hove");
    }else if(hid == 2){
        $(".cov a").removeClass("hove");
        $(".cov a:eq(1)").addClass("hove");
    }else if(hid == 3){
        $(".cov a").removeClass("hove");
        $(".cov a:eq(2)").addClass("hove");
    }else if(hid == 4){
        $(".cov a").removeClass("hove");
        $(".cov a:eq(3)").addClass("hove");
    }

</script>


{include file="login/footer" /}