{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="page-title">
        <h3 class="title">Welcome !</h3>
    </div>


    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-eye text-pink"></i>
            <h2 class="m-0 counter">{$list.person}</h2>
            <div>今日新增会员数</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-wifi text-purple"></i>
            <h2 class="m-0 counter">{$list.strategy_num}</h2>
            <div>今日新增策略数</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-ios7-pricetag text-info"></i>
            <h2 class="m-0 counter">{$list.all_market_value}</h2>
            <div>今日市值总金额</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-android-contacts text-success"></i>
            <h2 class="m-0 counter">{$list.all_credit}</h2>
            <div>今日信用金总金额</div>
        </div>
    </div>


    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-eye text-pink"></i>
            <h2 class="m-0 counter">{$history.person}</h2>
            <div>总会员数</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-wifi text-purple"></i>
            <h2 class="m-0 counter">{$history.strategy_num}</h2>
            <div>总策略数</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-ios7-pricetag text-info"></i>
            <h2 class="m-0 counter">{$history.all_market_value}</h2>
            <div>市值总金额</div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 white-bg">
            <i class="ion-android-contacts text-success"></i>
            <h2 class="m-0 counter">{$history.all_credit}</h2>
            <div>信用金总金额</div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="portlet"><!-- /primary heading -->
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    会员增长数量
                </h3>
                <div class="portlet-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                    <span class="divider"></span>
                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="portlet1" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div id="admininfo" style="width: 800px;height:300px;"></div>

                </div>
            </div>
        </div> <!-- /Portlet -->

    </div> <!-- end col -->


    <div class="col-lg-6">
        <div class="portlet"><!-- /primary heading -->
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    策略增长数量
                </h3>
                <div class="portlet-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                    <span class="divider"></span>
                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="portlet2" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div id="strategyinfo" style="width: 800px;height:300px;"></div>

                </div>
            </div>
        </div> <!-- /Portlet -->

    </div> <!-- end col -->

    <div class="col-lg-4">
        <div class="portlet"><!-- /primary heading -->
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    会员总余额
                </h3>
                <div class="portlet-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                    <span class="divider"></span>
                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>会员账号</th>
                                <th>总余额</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach name="admin_ranking" item="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.account}</td>
                                <td>{$vo.allmoney}元</td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->



    <div class="col-lg-8">
        <div class="portlet"><!-- /primary heading -->
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    最新策略
                </h3>
                <div class="portlet-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                    <span class="divider"></span>
                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>策略单号</th>
                                <th>会员账号</th>
                                <th>策略种类</th>
                                <th>股票名字</th>
                                <th>信用金</th>
                                <th>市值</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach name="strategy_ranking" item="vo"}
                            <tr>
                                <td>{$vo.strategy_num}</td>
                                <td>{$vo.account}</td>
                                <td>{$vo.strategy_type}</td>
                                <td>{$vo.stock_name}</td>
                                <td>{$vo.credit}元</td>
                                <td>{$vo.market_value}元</td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->

    </div> <!-- End row -->

<script>
    $.post("{:url('index/createAdminLine')}",{},function(data){
        // 绘制会员添加的图表。
        echarts.init(document.getElementById('admininfo')).setOption({
            xAxis: {
                type: 'category',
                data: [data.day1.time, data.day2.time, data.day3.time, data.day4.time, data.day5.time, data.day6.time, data.day7.time]
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [data.day1.num, data.day2.num, data.day3.num, data.day4.num, data.day5.num, data.day6.num, data.day7.num],
                type: 'line'
            }]
        });
    });
    $.post("{:url('index/createStrategyLine')}",{},function(data){
        // 绘制策略创建的图表。
        echarts.init(document.getElementById('strategyinfo')).setOption({
            xAxis: {
                type: 'category',
                data: [data.day1.time, data.day2.time, data.day3.time, data.day4.time, data.day5.time, data.day6.time, data.day7.time]
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [data.day1.num, data.day2.num, data.day3.num, data.day4.num, data.day5.num, data.day6.num, data.day7.num],
                type: 'line'
            }]
        });
    });
</script>

</div>



<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}