{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 350px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改密码</h3></div>
                <div class="panel-body">
                    <form action="{:url('index/modify')}" class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                            <p><b>&nbsp;&nbsp;&nbsp;请输入新密码</b></p>
                            <div class="col-md-10" style="width: 97%;">
                                <input type="password" name='pwd' class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <p><b>&nbsp;&nbsp;&nbsp;请再次输入新密码</b></p>
                            <div class="col-md-10" style="width: 97%;">
                                <input type="password" name='repwd' class="form-control">
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">提交</button>
                    </form>
                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->

</div>
<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}