{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->
<style>
    .col-sm-6{margin-bottom: 3%}
</style>


<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改配置</h3></div>
                <div class="panel-body">

                    <form action="{:url('index/settings')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <div style="width:100%">
                            <div class="form-group" >
                                <div class="col-sm-6">
                                    <span>{$list[14]['remark']}</span>
                                    <input type="text" id="" name='value15' class="form-control" placeholder="{$list[14]['remark']}"  value="{$list[14]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[15]['remark']}</span>
                                    <input type="text" id="" name='value16' class="form-control" placeholder="{$list[15]['remark']}" value="{$list[15]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[16]['remark']}</span>
                                    <input type="text" id="" name='value17' class="form-control" placeholder="{$list[16]['remark']}" value="{$list[16]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[17]['remark']}</span>
                                    <input type="text" id="" name='value18' class="form-control" placeholder="{$list[17]['remark']}" value="{$list[17]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[18]['remark']}</span>
                                    <input type="text" id="" name='value19' class="form-control" placeholder="{$list[18]['remark']}" value="{$list[18]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[19]['remark']}</span>
                                    <input type="text" id="" name='value20' class="form-control" placeholder="{$list[19]['remark']}" value="{$list[19]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[24]['remark']}</span>
                                    <input type="text" id="" name='value25' class="form-control" placeholder="{$list[24]['remark']}" value="{$list[24]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[25]['remark']}</span>
                                    <input type="text" id="" name='value26' class="form-control" placeholder="{$list[25]['remark']}" value="{$list[25]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[26]['remark']}</span>
                                    <input type="text" id="" name='value27' class="form-control" placeholder="{$list[26]['remark']}" value="{$list[26]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[27]['remark']}</span>
                                    <input type="text" id="" name='value28' class="form-control" placeholder="{$list[27]['remark']}" value="{$list[27]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[28]['remark']}</span>
                                    <input type="text" id="" name='value29' class="form-control" placeholder="{$list[28]['remark']}" value="{$list[28]['value']}">
                                </div>
                                <div class="col-sm-6">
                                    <span>{$list[29]['remark']}</span>
                                    <input type="text" id="" name='value30' class="form-control" placeholder="{$list[29]['remark']}" value="{$list[29]['value']}">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}