{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->
<style>
    .col-sm-6{margin-bottom: 3%}
</style>


<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改配置</h3></div>
                <div class="panel-body">

                    <form action="" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <div style="width:100%">
                            <div class="form-group" >
                              	<div class="col-sm-6">
                                    <span>{$list[39]['remark']}</span>
                                    <input type="text" id="" name='value40' class="form-control" placeholder="{$list[39]['remark']}" value="{$list[39]['value']}">
                                </div>
                              	<div class="col-sm-6">
                                    <span>{$list[40]['remark']}</span>
                                    <input type="text" id="" name='value41' class="form-control" placeholder="{$list[40]['remark']}" value="{$list[40]['value']}">
                                </div>
                                <div class="col-sm-12">
                                    <span class="col-sm-12" style="padding:0">{$list[30]['remark']}</span>
                                    <div class="f-cb" style="margin-bottom:20px;">
                                        <div class="col-md-6" style="padding:0">
                                            <div class="fallback f-cb">
                                                <input id="f_file" name="value31" type="file" class="web_bannerurl" />
                                                <span class="web_bannerbtn">上传</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="padding:0">
                                            <img src="" alt="" class="web_bannerimg fl" width="60px" style="margin-right:10px;" id="web_bannerimg1">
                                            <img src="{$list[30]['value']}" alt="" width="60px" class="fl">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <span class="col-sm-12" style="padding:0">{$list[31]['remark']}</span>
                                    <div class="f-cb" style="margin-bottom:20px;">
                                        <div class="col-md-6" style="padding:0">
                                            <div class="fallback f-cb">
                                                <input id="f_file1" name="value32" type="file" class="web_bannerurl" />
                                                <span class="web_bannerbtn">上传</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="padding:0">
                                            <img src="" alt="" class="web_bannerimg fl" width="60px" style="margin-right:10px;" id="web_bannerimg2">
                                            <img src="{$list[31]['value']}" alt="" width="60px" class="fl">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <span class="col-sm-12" style="padding:0">{$list[38]['remark']}</span>
                                    <div class="f-cb" style="margin-bottom:20px;">
                                        <div class="col-md-6" style="padding:0">
                                            <div class="fallback f-cb">
                                                <input id="f_file2" name="value39" type="file" class="web_bannerurl" />
                                                <span class="web_bannerbtn">上传</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6" style="padding:0">
                                            <img src="" alt="" class="web_bannerimg fl" width="60px" style="margin-right:10px;" id="web_bannerimg3">
                                            <img src="{$list[38]['value']}" alt="" width="60px" class="fl">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->
<script>

$("#f_file").on('change', function () {
       var file = this.files[0];//获取文件信息
       console.log(file)
        if (window.FileReader)
        {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            //监听文件读取结束后事件    
            reader.onloadend = function (e) {
                console.log(e)
                $("#web_bannerimg1").attr("src",e.target.result);
            };
        }
})

$("#f_file1").on('change', function () {
       var file = this.files[0];//获取文件信息
       console.log(file)
        if (window.FileReader)
        {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            //监听文件读取结束后事件    
            reader.onloadend = function (e) {
                console.log(e)
                $("#web_bannerimg2").attr("src",e.target.result);
            };
        }
})

$("#f_file2").on('change', function () {
       var file = this.files[0];//获取文件信息
       console.log(file)
        if (window.FileReader)
        {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            //监听文件读取结束后事件    
            reader.onloadend = function (e) {
                console.log(e)
                $("#web_bannerimg3").attr("src",e.target.result);
            };
        }
})
</script>

{include file="login/footer" /}