{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->
<style>
    .col-sm-6{margin-bottom: 3%}
</style>


<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改app下载页</h3></div>
                <div class="panel-body">

                    <form action="{:url('webdown/index')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <div style="width:100%">
                            <div class="form-group" >
                                
                                
                                <div class="col-sm-12">
                                    <div class="col-sm-8">
                                        <label  class="col-md-5 control-label" style="text-align: left; padding-left: 23px">app下载图</label>
                                        <div class="fallback" style="margin-top: 8px;font-size: 12px;">
                                            <input id="" name="app_img" type="file" />
                                        </div>
                                    </div>
                                    <img src="{$list.app_img}" alt="" width="180px" height="120px" style="margin-bottom: 20px;">
                                </div>


                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}