@charset "utf-8";

*{font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bbbbbb;
    letter-spacing:2px;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #bbbbbb;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #bbbbbb;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #bbbbbb;
}


.mian{overflow: hidden;background-color: #eeeeee;}


.mian .container .logoin{width: 33%;float: right; margin: 10% 0;text-align: center;background: #ffffff;}
.mian .container .logoin h1{color: #ed5551;margin:10% 0;letter-spacing: 10px;font-size: 26px; }
.mian .container{background-image: url("../image/denglu/banner.png");background-repeat: no-repeat;background-position: 10%;}
.mian .container .logoin input{width: 76%;height: 40px;background-color: transparent;border: none;}
.mian .container .logoin .denlu{ width: 80%;margin: 7% auto;background-color: #f1f1f1; border-radius: 10px;border: none;position: relative;}
.mian .container .logoin .denlu span{margin-right: 2%;padding: 0 10px;}
.mian .container .logoin .denlu input{outline:none;font-size: 14px;}
.mian .container .logoin .denlu .ti-top{transition:all .3s ease-in-out;opacity: 0; position: absolute;top:-90px;width:243px;height:95px;background-image:url("../image/zhuce/tstop.png");right:0;color:#ff6c63;overflow: hidden;line-height: 80px;}

.mian .container .logoin .mima{width: 80%;margin: 4% auto;background-color: #f1f1f1;border-radius: 10px;border: none;position: relative;}
.mian .container .logoin .mima .ti-bom{transition:all .3s ease-in-out;opacity: 0; position: absolute;bottom:-90px;z-index:-99; width:243px;height:95px;background-image:url("../image/zhuce/tsbom.png");right:0;line-height:120px;overflow: hidden;color:#ff6c63;}
.mian .container .logoin .mima span{margin-right: 2%;padding: 0 10px;}
.mian .container .logoin .mima input{outline:none;font-size: 16px;}
.mian .container .logoin .suy{width: 80%; margin-top: 9%;background-color:#ff6c63;color: #ffffff;font-size: 14px;letter-spacing: 10px;border-radius: 10px;margin-bottom: 5%;z-index:999;}
.mian .container .logoin input:focus{border: none;box-shadow:none;}
.mian .container .logoin p{width: 80%;margin: 0 auto;overflow: hidden;}
.mian .container .logoin p  a{float: left;text-decoration: none;letter-spacing:2px; }
.mian .container .logoin p .zuce{float: right;color: #ed5551;}

