@charset "utf-8";

.active{background-color: #ed5551;color: #ffffff;}

section{overflow: hidden;}
section .main{background-color: #f5f5f5;}
section .main .container .col-md-12{margin: 5% auto;}
section .main .container .col-md-12 .col-md-3{height: 660px;padding: 0; width: 23%;margin-right: 2%; background-color: #ffffff;border-top: 2px solid crimson;overflow: hidden;text-align: center;}
section .main .container .col-md-12 .col-md-3 .col-box{margin-top: 20%;}
section .main .container .col-md-12 .col-md-3 .col-box p{margin: 5% auto; }
section .main .container .col-md-12 .col-md-3 .col-box p .xig{cursor: pointer;margin-left: 5px;}
section .main .container .col-md-12 .col-md-3 .col-footr{margin-top: 2%;margin-bottom: 10%;}
section .main .container .col-md-12 .col-md-3 .col-footr a{transition: all .3s ease-in-out; display: block;width: 100%;text-decoration: none;padding: 15px 0;margin-top: 1%;}
section .main .container .col-md-12 .col-md-3 .col-footr a:hover{background-color: #ed5551;color: #ffffff;}

section .main .container .col-md-12 .col-md-9{height: 660px;background-color: #ffffff;border-top: 2px solid crimson;}
section .main .container .col-md-12 .hd-col9{padding:0;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-top{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-top h3{font-size: 16px;margin-top: 0; border-left:4px solid #ed5551; padding-left: 10px;margin:3% auto;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-top p{font-size: 12px;text-indent: 4em;margin-bottom: 3%;}

section .main .container .col-md-12 .col-md-9 .col-box-rig-cen{border-bottom: 1px solid #dddddd;width: 90%;margin: 0 auto;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-cen div{text-align: left;margin: 5% auto;text-indent: 4em;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-cen div span{margin-right: 3%;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-cen div .yuer{color: #ed5551;margin: 0;margin-left: 21%;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-cen div a{text-indent: 0;display: inline-block; text-decoration: none;margin-left: 10%;border-radius: 7px;padding: 7px 30px;color: #ffffff; background-color: #4B7ABD;}

section .main .container .col-md-12 .col-md-9 .col-box-rig-cen div a:last-child{margin-left: 3%;background-color: #ed5551;color: #ffffff;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-cen div .co-box-rig{overflow: hidden;width: 50%;float: left;margin: 0;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-cen div .co-box-rig a{transition:all .3s ease-in-out;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-cen div .co-box-rig a:hover{background-color:#6698de;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-cen div .co-box-rig a:last-child:hover{background-color:#ef6764;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-cen div .youi{float: left;width: 40%;margin: 0;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-cen .yio{font-weight: bold;}

section .main .container .col-md-12 .col-md-9 .col-box-rig-bom{width: 90%;margin: 0 auto;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div{text-align: left;margin: 4% auto;text-indent: 4em;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div span{margin-right:3%;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div .yuer{color: #ed5551;margin: 0;margin-left: 10%;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div a{transition:all .3s ease-in-out; text-indent: 0;display: inline-block; text-decoration: none;margin-left: 10%;border-radius: 7px;padding: 6px 30px;border: 1px solid #4B7ABD; color: #4B7ABD; background-color: transparent;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div a:hover{background-color:#4B7ABD;color:#fff;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div a:last-child{margin-left: 3%;border: 1px solid #ed5551; color: #ed5551; background-color: transparent;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div .co-box-rig{overflow: hidden;width: 50%;float: left;margin: 0;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div .rig{overflow: hidden;width: 50%;float: left;margin: 0;margin-top: -9px;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div .rig a{border: 0;color: #4B7ABD;padding-left: 0;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div .youi{float: left;width: 40%;margin: 0;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div .yoi{float: left;margin-left:4%;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom div .er{margin-left: 6%;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom .ki-top{margin-top: 4%;margin-bottom: 0;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom .ki-cen{margin: 1% 0;}
section .main .container .col-md-12 .col-md-9 .col-box-rig-bom .yio{font-weight: bold;}

#intw:hover{background-color:#ed5551;color:#fff;}
