@charset "utf-8";

.banner{overflow: hidden;}
.banner img{width: 100%}


.banner .row .container p{margin: 10px 0;color: #888888;}

section{overflow: hidden;background-color: #f5f5f5;}
.hd_r1 .container .col-md-12{padding: 0;}
.hd_r1 .container .hd_head{margin: 5% auto;}
.hd_r1 .container .hd_head a{overflow: hidden;margin-right: 2.5%;}
.hd_r1 .container .hd_head a .ishow{width: 0;height: 0;opacity: 0;}
.hd_r1 .container .hd_head a .hshow{opacity: 1;}
.hd_r1 .container .whit{background-color: #ffffff;}
.hd_r1 .container .col-md-12 .hd_left{float: left;width: 10%;margin: 3% 2% 3% 0;border-right: 1px solid #e3e3e3;text-align: center;padding-bottom: 10px;}
.hd_r1 .container .col-md-12 .hd_left h1{color: #ee8885;margin-bottom: 0;margin-top: 10px;}
.hd_r1 .container .col-md-12 .hd_left span{margin-left: 5px;color: #888888;}
.hd_r1 .container .col-md-12 .hd_right{margin: 3.5% 2% 2.5% 0;}
.hd_r1 .container .col-md-12 .hd_right h2{font-size: 20px;color: #333333;margin-bottom: 13px;}
.hd_r1 .container .col-md-12 .hd_right p{font-size: 14px;color: #777777;margin-right: 2%;}
.hd_r1 .container .col-md-12 .text-center .pagination{margin: 3% auto;margin-bottom: 10%;}
.hd_r1 .container .col-md-12 .text-center .pagination li a{transition: all .3s ease-in-out; background-color: transparent;color: #555555;}
.hd_r1 .container .col-md-12 .text-center .pagination li a:hover{background-color: #ed5551;color: #ffffff;}
.hd_r1 .container .col-md-12 .text-center .pagination li a:first-child{border-radius: 0;}
.hd_r1 .container .col-md-12 .text-center .pagination li a:last-child{border-radius: 0;}