@charset "utf-8";

.banner{overflow: hidden;}
.banner .row{border-bottom: 1px solid #eeeeee;}
.banner .row .container p{margin: 10px 0;color: #555555;}
.banner .row .container p span{margin-right: 2%;}
.banner .row .container p span img{margin-top: -5px;}
h2{font-size: 24px;}
.row{margin: 0;}
section .container .row p{margin: 2%;margin-left: 0;font-size: 16px;color: #999999;}

.ind{overflow: hidden;}
.ind .con-hd-gen-kit{padding: 0;}
.ind .ind_hd_rd{background-image: url("../image/shouye/bj.png");}
.ind .row .container{padding: 0;}
.ind .row .container .col-md-12{margin: 5% auto;padding: 0;margin-bottom: 0;}
.ind .row .container .col-md-12 .ind_hd_box{overflow: hidden;background-image: url("../image/shouye/jx.png");background-size: 100%;}
.ind .row .container .col-md-12 .ind_hd_box a{display: block;width: 20%;float: left;text-align: center;text-decoration: none;margin: 7% 0;}
.ind .row .container .col-md-12 .ind_hd_box a:hover img{margin-top: -5px;}
.ind .row .container .col-md-12 .ind_hd_box a img{transition: all .7s ease-in-out; margin-top: 10px;}
.ind .row .container .col-md-12 .ind_hd_box a p{margin: 10% 0;color: #ffffff;}
.ind .row .container .colmd2{margin-top: 5%;}
.ind .row .container .col-md-12  h2{padding-left: 10px;}
.ind .row .container .col-md-12 .col-md-6 {text-align: center;padding: 0;}
.ind .row .container .col-md-12 .col-md-6 h2{padding: 0;font-size: 30px;color: #333333;}
.ind .row .container .col-md-12 .col-md-6 img{margin: 10% auto;}
.ind .row .container .col-md-12 .col-md-6 .ind_hd_left{text-align: left;margin: 10% auto;width: 80%;}
.ind .row .container .col-md-12 .col-md-6 .ind_hd_left h2{margin-top: 20%;font-size: 30px;color: #333333;}
.ind .row .container .col-md-12 .col-md-6 .ind_hd_right{width: 80%;float: right;}
.ind .row .container .col-md-12 .col-md-6 .ind_hd_left p{font-size: 14px;color: #666666;}
.ind .row .container .col-md-12 .col-md-6 .ind_hd_left .abous{font-size: 16px;color: #666666;}


.ind .ind_hd_r1 .container{margin: 2% auto;margin-bottom: 2%;}
.ind .ind_hd_r1 .container h1{margin: 2% auto;}
.ind .ind_hd_r1 .container .ind_hd_mok{overflow: hidden;border-bottom: 1px solid #eeeeee;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4{padding: 0;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .toutiao{width: 80%;float: left;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .toutiao  img{margin: 10% 0;margin-bottom: 2%;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .toutiao  h2{margin: 7% 0;margin-top: 5%;font-size: 20px;color: #333333;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .toutiao  p{margin-bottom: 0;margin-top: 2%;font-size: 14px;color: #555555;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .toutiao  span{color: #888888;font-size: 14px;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .toutiao  a{overflow: hidden;margin: 5% 0;display: block;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .toutiao  a img{margin: 10px 0;}

.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .tcon{width: 80%;margin: 0 auto;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .tcon  img{margin: 10% 0;margin-bottom: 2%;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .tcon  h2{margin: 7% 0;margin-top: 5%;font-size: 20px;color: #333333;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .tcon  p{margin-bottom: 0;margin-top: 2%;font-size: 14px;color: #555555;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .tcon  span{color: #888888;font-size: 14px;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .tcon  a{overflow: hidden;margin: 5% 0;display: block;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .tcon  a img{margin: 10px 0;}

.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .trig{width: 80%;float: right;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .trig  img{margin: 10% 0;margin-bottom: 2%;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .trig  h2{margin: 7% 0;margin-top: 5%;font-size: 20px;color: #333333;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .trig  p{margin-bottom: 0;margin-top: 2%;font-size: 14px;color: #555555;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .trig  span{color: #888888;font-size: 14px;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .trig  a{overflow: hidden;margin: 5% 0;display: block;}
.ind .ind_hd_r1 .container .ind_hd_mok .col-md-4 .trig  a img{margin: 10px 0;}

.ind .ind_hd_r1 .container .ind_hd_mok2{overflow: hidden;margin-top: 2%;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4{padding: 0;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .toutiao{width: 80%;float: left;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .toutiao  img{margin: 10% 0;margin-bottom: 2%;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .toutiao  h2{margin: 7% 0;margin-top: 5%;font-size: 20px;color: #333333;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .toutiao  p{margin-bottom: 0;margin-top: 2%;font-size: 14px;color: #555555;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .toutiao  span{color: #888888;font-size: 14px;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .toutiao  a{overflow: hidden;margin: 5% 0;display: block;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .toutiao  a img{margin: 10px 0;}

.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .tcon{width: 80%;margin: 0 auto;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .tcon  img{margin: 10% 0;margin-bottom: 2%;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .tcon  h2{margin: 7% 0;margin-top: 5%;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .tcon  p{margin-bottom: 0;margin-top: 2%;font-size: 14px;color: #555555;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .tcon  span{color: #888888;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .tcon  a{overflow: hidden;margin: 5% 0;display: block;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .tcon  a img{margin: 10px 0;}

.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .trig{width: 80%;float: right;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .trig  img{margin: 10% 0;margin-bottom: 2%;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .trig  h2{margin: 7% 0;margin-top: 5%;font-size: 20px;color: #333333;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .trig  p{margin-bottom: 0;margin-top: 2%;font-size: 14px;color: #555555;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .trig  span{color: #888888;font-size: 14px;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .trig  a{overflow: hidden;margin:  5% 0;display: block;}
.ind .ind_hd_r1 .container .ind_hd_mok2 .col-md-4 .trig  a img{margin: 10px 0;}

.ind .ind_hd_r2{background-color: #eeeeee;text-align: center;}
.ind .ind_hd_r2 h2{margin: 5% 0;}
.ind .ind_hd_r2 .container{margin-bottom: 5%;}
.ind .ind_hd_r2 .container .ind_hd_bom{width: 80%;margin: 5% auto;}
.ind .ind_hd_r2 .container .ind_hd_bom img{transition: all .3s ease-in-out; margin-bottom: 5%;}
.ind .ind_hd_r2 .container .ind_hd_bom img:hover{margin-top: -10px;}
.ind .ind_hd_r2 .container .ind_hd_bom h2{font-size: 18px;color: #333333;}
.ind .ind_hd_r2 .container .ind_hd_bom p{font-size: 14px;color: #666666;}

.ind .ind_hd_r3{text-align: center;background-color: #e3e3e3;}
.ind .ind_hd_r3 h2{font-size: 32px;color: #333333;margin-top: 5%;margin-bottom: 1%;}
.ind .ind_hd_r3 .container{margin-bottom: 2%;}
.ind .ind_hd_r3 .container .col-md-12{margin-top: 0;}
.ind .ind_hd_r3 .container .col-md-12 ul{list-style: none;margin: 2% auto;overflow: hidden;}
.ind .ind_hd_r3 .container .col-md-12 ul li{float: left;width: 12.5%;text-align: center;}
.ind .ind_hd_r3 .container .col-md-12 ul li img{transition: all .3s ease-in-out;}
.ind .ind_hd_r3 .container .col-md-12 ul li:hover img{margin-left: -5px;}



.r1{background-color: #eeeeee;overflow: hidden;}
.r1 .container .row p{margin: 2%;margin-left: 0;font-size: 16px;color: #999999;}
.r1 .con-hd-gen-ki{background-color: #ffffff;border-radius: 10px;border: 1px solid #dddddd;padding: 20px;}
.r1 .con-hd-gen-ki .hd_box{width:22%;margin: 1% 1.5%;border: 1px solid #dddddd;float: left;border-radius: 10px;margin-bottom: 2%; }
.r1 .con-hd-gen-ki h2{border-left: 3px solid #d43f3a;padding-left: 10px;font-size:18px;font-weight: bold;margin: 2% 1.5%;}
.r1 .con-hd-gen-ki .hd_box .he_ki_top{overflow: hidden;width: 75%;margin: 8% auto;}
.r1 .con-hd-gen-ki .hd_box .he_ki_top .he_ki3_top_left{width: 50%;float: left;margin-top: 5%;margin-bottom: 3%;}
.r1 .con-hd-gen-ki .hd_box .he_ki_top .he_ki3_top_right{width: 50%; float: left;margin-top: 5%;margin-bottom: 3%;}
.r1 .con-hd-gen-ki .hd_box .he_ki_top .he_ki3_top_right p{color: #333333;font-size: 18px;}
.r1 .con-hd-gen-ki .hd_box .he_ki_top .he_ki3_top_right a{display: block;text-decoration: none;background-color: #4b7abd;border-radius: 10px;color: #ffffff;height: 30px;line-height: 30px; text-align: center;}

.r1 .con-hd-gen-ki2{margin-top: 3%; background-color: #ffffff;border-radius: 10px;border: 1px solid #dddddd;padding: 20px;}
.r1 .con-hd-gen-ki2 h2{border-left: 3px solid #d43f3a;padding-left: 10px;font-size:18px;font-weight: bold;margin: 2% 1.5%;}
.r1 .con-hd-gen-ki2 .list{list-style: none;width: 97%;margin: 0 auto;}
.r1 .con-hd-gen-ki2 .list li{border-bottom: 1px solid #eeeeee;overflow: hidden;}
.r1 .con-hd-gen-ki2 .list li div{ width: 12.5%;height: 100%;float: left;font-size: 14px;color: #999999;margin: 1.5% 0;text-align: center;}
.r1 .con-hd-gen-ki2 .list .er div { color: #555555;margin: 2% 0;text-align: center;}
.r1 .con-hd-gen-ki2 .list .er .colr{color: #20a520;}
.r1 .con-hd-gen-ki2 .list .er4 .colr{color: #d75854;}
.r1 .con-hd-gen-ki2 .list .er div a{text-decoration: none;font-size: 14px; display: block;width: 55%;height: 35px;border-radius: 10px;line-height: 35px; margin: 0 auto;color: #fff;background-color: #ff6c63;}
.r1 .con-hd-gen-ki2 .list .er .liea{margin: 1.5% 0;}

.r1 .con-hd-gen-ki2 .col-md-12 .text-center .pagination{margin: 3% auto;margin-bottom: 2%;}
.r1 .con-hd-gen-ki2 .col-md-12 .text-center .pagination li a{transition: all .3s ease-in-out; background-color: transparent;color: #999999;}
.r1 .con-hd-gen-ki2 .col-md-12 .text-center .pagination li a:hover{background-color: #ed5551;color: #ffffff;}
.r1 .con-hd-gen-ki2 .col-md-12 .text-center .pagination li:first-child a{border-radius: 0;}
.r1 .con-hd-gen-ki2 .col-md-12 .text-center .pagination li:last-child a{border-radius: 0;}
.r1 .con-hd-gen-ki2 .col-md-12 .text-center .pagination li .active{background-color: #ed5551;color: #ffffff;}

.r1 .con-hd-gen-ki3{margin-top: 3%; background-color: #ffffff;border-radius: 10px;border: 1px solid #dddddd;padding: 20px;margin-bottom: 5%;}
.r1 .con-hd-gen-ki3 h2{border-left: 3px solid #d43f3a;padding-left: 10px;font-size:18px;font-weight: bold;margin: 2% 1.5%;}
.r1 .con-hd-gen-ki3 .hd_box{width:22%;margin: 1.5% 1.5%;border: 1px solid #dddddd;float: left;border-radius: 10px; }
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_top{overflow: hidden;width: 75%;margin: 6% auto;}
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_top .he_ki3_top_left{width: 50%;float: left;margin-top: 5%;margin-bottom: 3%;}
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_top .he_ki3_top_right{width: 50%; float: left;margin-top: 5%;margin-bottom: 3%;}
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_top .he_ki3_top_right a{display: block;text-decoration: none;background-color: #4b7abd;border-radius: 10px;color: #ffffff;height: 30px;line-height: 30px; text-align: center;}
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_con{width: 75%;margin: 6% auto;overflow: hidden;border-top: 1px solid #dddddd;}
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_con .he_ki3_con_left{margin: 10% 0;width: 49%;float: left;margin-bottom: 5%;text-align: center;border-right: 1px solid #dddddd;}
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_con .he_ki3_con_left p{ color: #fc5146;font-size: 28px;}
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_con .he_ki3_con_left span{font-size: 12px;color: #888888;}
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_con .he_ki3_con_right{width: 50%;float: left;text-align: center;margin: 10% 0;margin-bottom: 5%;}
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_con .he_ki3_con_right p{font-size: 28px;color: #333333;}
.r1 .con-hd-gen-ki3 .hd_box .he_ki3_con .he_ki3_con_right span{font-size: 12px;color: #888888;}

.banner-cg{position: relative;overflow: hidden;}
.cg{background-color: #eeeeee;}
.cg .container .con-hd-cg-ki{overflow: hidden; background-color: #ffffff; margin-bottom: 100px; width: 100%;position: relative; border-radius: 10px;margin-top: -70px;z-index: 2;box-shadow: 0px 10px 10px #dddddd;}
.cg .container .con-hd-cg-ki .cg-hd-top-left{width: 20%;float: left;border-right: 1px solid #dddddd;margin: 3%;}
.cg .container .con-hd-cg-ki .cg-hd-top-left h2{color: #4b7abd;text-align: left;margin: 0;font-size: 18px;}

.cg .container .con-hd-cg-ki .cg-hd-top-right{width: 66%;float: left;}
.cg .container .con-hd-cg-ki .cg-hd-top-left .con-cen-left{width: 25%;float: left;margin: 7% 2%;}
.cg .container .con-hd-cg-ki .cg-hd-top-left .con-cen-right{width: 70%;float: left;margin: 7% 0;}
.cg .container .con-hd-cg-ki .cg-hd-top-left .con-cen-right p{font-size: 12px;color: #888888;}
.cg .container .con-hd-cg-ki .cg-hd-top-left .con-cen-right .con-cen-right-dh{font-size: 14px;color: #333333;}
.cg .container .con-hd-cg-ki .cg-hd-top-left .con-cen-right p .dh-sp{color: #6f9ad9;}
.cg .container .con-hd-cg-ki .cg-hd-top-left .con-cen-right p .dh-sp2{color: #fe7a6e;}

.cg .container .con-hd-cg-ki .con-cen-bom{width: 100%;margin:0 7%; }
.cg .container .con-hd-cg-ki .con-cen-bom .moni{border: none;padding: 5px 0;border-radius: 10px; background-color: #ff6c63;width: 70%;color: #ffffff;}
.cg .container .con-hd-cg-ki .cg-hd-top-right{margin: 3% 0;}
.cg .container .con-hd-cg-ki .cg-hd-top-right h2{color: #4b7abd;text-align: left;margin: 0;font-size: 18px;margin-bottom: 2%; }
.cg .container .con-hd-cg-ki .cg-hd-top-right p{font-size: 14px;color: #666666;margin-bottom: 3px;}


.cg .con-hd-cg-kit .row{margin-bottom: 5%;}
.cg .container .row .hd_box{width:23%;margin: 1.5% 1%;margin-top:3%;float: left;border-radius: 10px;background-color: #ffffff; }
.cg .container .row .hd_box .he_ki3_top{overflow: hidden;width: 75%;margin: 4% auto;}
.cg .container .row .hd_box .he_ki3_top .he_ki3_top_left{width: 40%;float: left;margin-top: 5%;margin-bottom: 3%;}
.cg .container .row .hd_box .he_ki3_top .he_ki3_top_right{width: 60%; float: left;margin-top: 5%;margin-bottom: 3%;}
.cg .container .row .hd_box .he_ki3_top .he_ki3_top_right p{color: #333333;font-size: 18px;}
.cg .container .row .hd_box .he_ki3_top .he_ki3_top_right .ck{color: #666666;font-size: 12px; text-align: left;}

.cg .container .row .hd_box .he_ki3_con{width: 75%;margin: 4% auto;overflow: hidden;border-top: 1px solid #dddddd;}
.cg .container .row .hd_box .he_ki3_con .he_ki3_con_left{margin: 10% 0;width: 49%;float: left;margin-bottom: 5%;text-align: center;border-right: 1px solid #dddddd;}
.cg .container .row .hd_box .he_ki3_con .he_ki3_con_left p{ color: #fc5146;font-size: 28px;}
.cg .container .row .hd_box .he_ki3_con .he_ki3_con_left span{font-size: 12px;color: #888888;}
.cg .container .row .hd_box .he_ki3_con .he_ki3_con_right{width: 50%;float: left;text-align: center;margin: 10% 0;margin-bottom: 5%;}
.cg .container .row .hd_box .he_ki3_con .he_ki3_con_right p{font-size: 28px;}
.cg .container .row .hd_box .he_ki3_con .he_ki3_con_right span{font-size: 12px;color: #888888;}

.cg .container .row .hd_box .hd-cg-bom{width: 75%;margin: 4% auto;border-top: 1px solid #dddddd;overflow: hidden;margin-bottom: 0;}
.cg .container .row .hd_box .hd-cg-bom .hd-cg-bom-left{width: 50%;text-align: left;float: left;margin:6% 0;margin-bottom: 3%;}
.cg .container .row .hd_box .hd-cg-bom .hd-cg-bom-left p{font-size: 16px;color: #666666;}
.cg .container .row .hd_box .hd-cg-bom .hd-cg-bom-left span{font-size: 12px;color: #888888;}
.cg .container .row .hd_box .hd-cg-bom .hd-cg-bom-right{width: 50%;float: left;text-align: right;margin:6% 0;}
.cg .container .row .hd_box .hd-cg-bom .hd-cg-bom-right img{cursor: pointer;}

.cg-hd-2 .container .col-md-12{margin: 5% auto;margin-bottom: 2%;}
.cg-hd-2 .container .c12{margin: 0;}
.cg-hd-2 .container .c12 div{width:14.28571428571429%;text-align: center;float: left;font-size: 16px;color: #333333; margin: 2% 0 3% 0;}
.cg-hd-2 .container .uoli{list-style: none;width: 98%;margin: 0 auto;}
.cg-hd-2 .container .uoli li{border: 1px solid #dddddd;overflow: hidden;}
.cg-hd-2 .container .uoli li div{float: left;width:14.28571428571429%;text-align: center;overflow: hidden;font-size: 12px;margin: 1.5% 0;padding-top: 11px;}
.cg-hd-2 .container .uoli li div a{font-size: 12px;color: #4b7abd;}
.cg-hd-2 .container .uoli li .qupd{padding-top: 0;}
.cg-hd-2 .container .uoli li .flt{font-size: 14px;color: #555555;}
.cg-hd-2 .container .uoli .liact div{font-size: 14px;color: #999999;text-align: center;overflow: hidden;margin: 1% 0;}
.cg-hd-2 .container .cl-md12{margin: 3% auto;}


.cg-hd-2 .container .cl-md12 .text-center .pagination{margin: 0 auto;}
.cg-hd-2 .container .cl-md12 .text-center .pagination li a{transition: all .3s ease-in-out; background-color: transparent;color: #999999;}
.cg-hd-2 .container .cl-md12 .text-center .pagination li a:hover{background-color: #ed5551;color: #ffffff;}
.cg-hd-2 .container .cl-md12 .text-center .pagination li:first-child a{border-radius: 0;}
.cg-hd-2 .container .cl-md12 .text-center .pagination li:last-child a{border-radius: 0;}
.cg-hd-2 .container .cl-md12 .text-center .pagination li .active{background-color: #ed5551;color: #ffffff;}

.con-hd-ch{background-color: #eeeeee;overflow: hidden;}
.con-hd-ch .con-hd-ch-kit .row{margin: 0;}
.con-hd-ch .con-hd-ch-kit .row p{margin: 2%;margin-left: 0;font-size: 16px;color: #999999;}

.con-hd-ch .con-hd-ch-kit2{ background-color: #ffffff;border-radius: 10px;border: 1px solid #dddddd;padding: 20px;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-3{border-right: 1px solid #dddddd;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-3 .col-md4_cen{margin: 5%;text-align: left;width: 70%;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-3 .col-md4_cen span{color: #333333;font-size: 18px;overflow: hidden;display: block;float: right;margin-top: 10%;margin-right: 35%;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-4{border-right: 1px solid #dddddd;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-4 .col-md2-cen{margin: 5%;overflow: hidden;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-4 .col-md2-cen .md2-left{width: 70%;float: left;margin-top: 5%;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-4 .col-md2-cen .md2-left p{font-size: 14px;color: #666666;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-4 .col-md2-cen .md2-left p span{color: #999999;font-size: 12px;margin-left: 3%;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-4 .col-md2-cen .md2-right{width: 30%;float: left;text-align: center;margin-top: 5%;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-5 .col-md3-con{margin: 5%;overflow: hidden;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-5 .col-md3-con .col-md3-con-left{width: 30%;float: left;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-5 .col-md3-con .col-md3-con-left a{text-align: center; text-decoration: none;font-size: 14px; display: block;width: 70%;height: 35px;border-radius: 10px;line-height: 35px; margin: 0 auto;color: #fff;background-color: #ff6c63;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-5 .col-md3-con .col-md3-con-right{float: left;width: 70%;text-align: center;margin-top: 3%;}
.con-hd-ch .con-hd-ch-kit2 .row .col-md-5 .col-md3-con .col-md3-con-right p{color: #4b7abd;font-size: 12px;}

.con-hd-ch .con-hd-ch-kit3{background-color: #ffffff;border-radius: 10px;border: 1px solid #dddddd;padding: 20px;margin-top: 3%;}
.con-hd-ch .con-hd-ch-kit3 h2{border-left: 3px solid #d43f3a;padding-left: 10px;font-size:18px;font-weight: bold;margin: 2% 1.5%;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4{border-right: 1px solid #dddddd;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki_left{float: left;width: 50%;text-align: center;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki_left p{color: #20a520;font-size: 16px;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki_left span{color: #999999;font-size: 14px;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki_rigt{float: left;width: 50%;text-align: center;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki_rigt p{font-size: 16px;color: #333333;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki_rigt span{color: #999999;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki2_left{float: left;width: 50%;text-align: center;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki2_left p{color: #d75854;font-size: 16px;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki2_left span{color: #999999;font-size: 14px;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki2_rig{float: left;width: 50%;text-align: center;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki2_rig p{font-size: 18px;color: #333333;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki2_rig span{color: #999999;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki3_left{float: left;width: 50%;text-align: center;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki3_left p{color: #20a520;font-size: 16px;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki3_left span{color: #999999;font-size: 14px;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki3_rig{float: left;width: 50%;text-align: center;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki3_rig p{font-size: 18px;color: #333333;}
.con-hd-ch .con-hd-ch-kit3 .col-md-4 .con_ki3_rig span{color: #999999;}
.con-hd-ch .con-hd-ch-kit3 .xian{border: none;}

.con-hd-ch .con-hd-ch-kit4{background-color: #ffffff;border-radius: 10px;border: 1px solid #dddddd;padding: 20px;margin-top: 3%;}
.con-hd-ch .con-hd-ch-kit4 h2{border-left: 3px solid #d43f3a;padding-left: 10px;font-size:18px;font-weight: bold;margin: 2% 1.5%;}
.con-hd-ch .con-hd-ch-kit4 .col-md-4{text-align: center;}
.con-hd-ch .con-hd-ch-kit4 .col-md-4 .col-ht{width: 80%;margin: 2% auto;text-align: left;}
.con-hd-ch .con-hd-ch-kit4 .col-md-4 .col-ht p{color: #555555;font-size: 16px;margin: 8%;letter-spacing: 10px;}
.con-hd-ch .con-hd-ch-kit4 .col-md-4 .col-ht p span{margin-left: 6%;letter-spacing: 0;}
.con-hd-ch .con-hd-ch-kit4 .col-md-4 .col-ht .yinli{letter-spacing: 0;}
.con-hd-ch .con-hd-ch-kit4 .col-md-4 .col-ht .yinli span{margin-left: 10%;}
.con-hd-ch .con-hd-ch-kit4 .col-md-4 .col-ht .zc{letter-spacing: 23px;}
.con-hd-ch .con-hd-ch-kit4 .col-md-4 .col-ht .zc span{margin-left: 0.5%;}
.con-hd-ch .con-hd-ch-kit4 .col-md-8{text-align: center;}


.con-hd-ch .con-hd-ch-kit5{margin-top: 3%; background-color: #ffffff;border-radius: 10px;border: 1px solid #dddddd;padding: 20px;}
.con-hd-ch .con-hd-ch-kit5 .row h2{border-left: 3px solid #d43f3a;padding-left: 10px;font-size:18px;font-weight: bold;margin: 2% 1.5%;}
.con-hd-ch .con-hd-ch-kit5 .row .lt{list-style: none;width: 97%;margin: 0 auto;}
.con-hd-ch .con-hd-ch-kit5 .row .lt li{border-bottom: 1px solid #eeeeee;overflow: hidden;}
.con-hd-ch .con-hd-ch-kit5 .row .lt li div{ width: 12.5%;height: 100%;float: left;font-size: 14px;color: #999999;margin: 1.5% 0;text-align: center;}
.con-hd-ch .con-hd-ch-kit5 .row .lt .er div { color: #555555;margin: 2% 0;text-align: center;}
.con-hd-ch .con-hd-ch-kit5 .row .lt .er .colr{color: #d75854;}
.con-hd-ch .con-hd-ch-kit5 .row .lt .er div a{text-decoration: none;font-size: 14px; display: block;width: 55%;height: 35px;border-radius: 10px;line-height: 35px; margin: 0 auto;color: #fff;background-color: #ff6c63;}
.con-hd-ch .con-hd-ch-kit5 .row .lt .er .liea{margin: 1.5% 0;}

.con-hd-ch .con-hd-ch-kit6{margin-top: 3%; background-color: #ffffff;border-radius: 10px;border: 1px solid #dddddd;padding: 20px;margin-bottom:5%;}
.con-hd-ch .con-hd-ch-kit6 .row h2{border-left: 3px solid #d43f3a;padding-left: 10px;font-size:18px;font-weight: bold;margin: 2% 1.5%;}
.con-hd-ch .con-hd-ch-kit6 .row .lt{list-style: none;width: 97%;margin: 0 auto;}
.con-hd-ch .con-hd-ch-kit6 .row .lt li{border-bottom: 1px solid #eeeeee;overflow: hidden;}
.con-hd-ch .con-hd-ch-kit6 .row .lt li div{ width: 12.5%;height: 100%;float: left;font-size: 14px;color: #999999;margin: 1.5% 0;text-align: center;}
.con-hd-ch .con-hd-ch-kit6 .row .lt .er div { color: #555555;margin: 2% 0;text-align: center;}
.con-hd-ch .con-hd-ch-kit6 .row .lt .er .colr{color:#20a520;}
.con-hd-ch .con-hd-ch-kit6 .row .lt .er2 .colr{color:#d75854;}
.con-hd-ch .con-hd-ch-kit6 .row .lt .er div a{text-decoration: none;font-size: 14px; display: block;width: 55%;height: 35px;border-radius: 10px;line-height: 35px; margin: 0 auto;color: #fff;background-color: #ff6c63;}
.con-hd-ch .con-hd-ch-kit6 .row .lt .er .liea{margin: 1.5% 0;}

.con-hd-ch .con-hd-ch-kit6 .col-md-12 .text-center .pagination{margin: 3% auto;margin-bottom: 2%;}
.con-hd-ch .con-hd-ch-kit6 .col-md-12 .text-center .pagination li a{transition: all .3s ease-in-out; background-color: transparent;color: #999999;}
.con-hd-ch .con-hd-ch-kit6 .col-md-12 .text-center .pagination li a:hover{background-color: #ed5551;color: #ffffff;}
.con-hd-ch .con-hd-ch-kit6 .col-md-12 .text-center .pagination li:first-child a{border-radius: 0;}
.con-hd-ch .con-hd-ch-kit6 .col-md-12 .text-center .pagination li:last-child a{border-radius: 0;}
.con-hd-ch .con-hd-ch-kit6 .col-md-12 .text-center .pagination li .active{background-color: #ed5551;color: #ffffff;}

.con-hd-cl{background-color: #f5f5f5;}
.con-hd-cl .cl-hd-ki2 .row{margin-bottom: 15%;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-left{border-top-left-radius: 20px;border-bottom-left-radius: 20px; height: 876px;width: 6%;background-color: #dddddd;float: left;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-left a{display: block;width: 100%;margin-top: 150%;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-left a img{width: 100%;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-left .at2{margin-top: 50%;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right{height:876px;width: 90%;float: left;background-color: #ffffff;border-top-right-radius: 20px;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right-top{ width: 100%;background-color: #ededed;border: 1px solid #dddddd;border-left: 0px; border-top-right-radius: 20px;overflow: hidden;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left{float: left;width: 50%;text-align: center;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left a{ font-size: 20px;display: block;margin:3% 1% 0 12%; color: #555555; float: left;text-decoration: none;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left a p{margin-bottom: 0;height: 10px;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left a p img{margin-top: -12px;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left .active{margin-left: 15%;color:#fc5146;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-right{float: left;width: 50%;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right-top h2{font-size: 20px;color: #fc5146;margin: 2% 0;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .ki2-top-cen{width: 100%;background-color: #ffffff;overflow: hidden;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-1{width: 25%;margin: 1.2% 0;margin-bottom: 0;float: left;text-align: center;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-1 p{font-size:12px;color: #555555; }
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-2{width: 25%;margin: 1.2% 0;margin-bottom: 0;float: left;text-align: left;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-2 p{font-size:12px;color: #555555; }
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-3{width: 40%;float: left;margin: 2.2% 0;margin-bottom: 0;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-3 a{ text-decoration: none; text-align: center; display: block; float: left;width: 60px;height: 30px;border-radius: 10px;line-height: 30px;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-3 .ru{transition: all .3s ease-in-out; border:1px solid #fc5146;font-size: 14px;margin: 0 10%;margin-left: 0;color: #fc5146;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-3 .ru:hover{background-color: #fc5146;color: #ffffff;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-3 .chu{transition: all .3s ease-in-out;font-size: 14px;border: 1px solid #4b7abd;margin-left: 8%;color: #4b7abd;}
.con-hd-cl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-3 .chu:hover{background-color: #4b7abd;color: #ffffff;}

.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-5{padding: 0;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group{margin:12% 0 0 6%;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group .form-control{height: 40px;border: 1px solid #d43f3a;font-size: 14px;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group .form-control::-webkit-input-placeholder { /* WebKit browsers */color:    #888888;letter-spacing:2px;padding-left: 40px;}  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:    #eeeeee;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */color:    #eeeeee;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */color:    #eeeeee;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group .input-group-btn .xl{padding: 9.5px 25px;background-color: #d43f3a;border: none;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-4{padding: 0;margin: 10% 0;margin-bottom: 0;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-4 p{font-size: 24px;font-weight: bold;color: #333333;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-4 p span{font-size: 14px;color: #555555;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-5{padding: 0;margin: 8% 0;margin-bottom: 0;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-5 p{font-size: 36px;color: #00a100;text-align: center;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-5 p span{margin-left: 5%;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-3{padding: 0;margin: 12.5% 0;font-size: 14px;margin-bottom: 0;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-3 p{color: #00a100;width: 90%;}
.con-hd-cl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-3 p span{float: right;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen{width: 100%;overflow: hidden;background: #ffffff;margin-bottom: 4%;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen h2{font-size:14px;font-weight: bold;color: #333333;border-left: 3px solid #4b7abd;margin-left: 2.5%;margin-bottom:3%;padding-left: 10px; }
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen .kit2-2{width: 95%;margin: 0 auto;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen .row .md2{width: 19%;padding: 0;margin: 0 0.5%;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen{width: 100%;border: 1px solid #dddddd;padding:0 8px;border-radius: 4px;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .ben1{font-size: 16px;color: #333333;margin-top: 8%;margin-bottom: 3%;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .ben1 span{float: right;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .ben2{font-size: 14px;color: #888888;margin: 5% 0;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .ben2 span{font-size: 12px;color: #00a100;float: right;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .ben2 span img{padding-right: 5px;margin-top: -5px;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen input{width: 100%;margin-bottom: 15%; height: 30px;border-radius: 5px; font-size: 12px;color: #d43f3a;border: 1px solid #d43f3a;background-color: transparent;line-height: 20px;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .bom_tu{width:172px;height:100px;overflow: hidden;}

.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2{width: 100%;overflow: hidden;background: #ffffff;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2 h2{ font-size:14px;font-weight: bold;color: #333333;border-left: 3px solid #4b7abd;margin-left: 2.5%;margin-bottom:3%;padding-left: 10px; }
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2 .kit2-2{width: 95%;margin: 0 auto;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2{width: 19%;padding: 0;margin: 0 0.5%;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen{width: 100%;border: 1px solid #dddddd;padding:0 8px;border-radius: 4px;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen .ben1{font-size: 16px;color: #333333;margin-top: 5%;margin-bottom: 3%;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen .ben1 span{float: right;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen .ben2{font-size: 14px;color: #888888;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen .ben2 span{font-size: 12px;color: #00a100;float: right;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen .ben2 span img{padding-right: 5px;margin-top: -5px;}
.con-hd-cl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen input{margin: 10% 0;margin-bottom: 15%;width: 100%;height: 30px;border-radius: 5px; font-size: 12px;color: #d43f3a;border: 1px solid #d43f3a;background-color: transparent;line-height: 20px;}


.con-hd-mncl{background-color: #f5f5f5;}
.con-hd-mncl .cl-hd-ki2 .row{margin-bottom: 15%;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-left{border-top-left-radius: 20px;border-bottom-left-radius: 20px; height: 876px;width: 6%;background-color: #dddddd;float: left;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-left a{display: block;width: 100%;margin-top: 150%;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-left a img{width: 100%;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-left .at2{margin-top: 50%;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right{height:876px;width: 90%;float: left;border-bottom-right-radius: 20px; background-color: #ffffff;border-top-right-radius: 20px;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right-top{ width: 100%;background-color: #ededed;border: 1px solid #dddddd;border-left: 0px; border-top-right-radius: 20px;overflow: hidden;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left{float: left;width: 55%;text-align: center;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left a{ font-size: 20px;display: block;margin:3% 1% 0 7%; color: #555555; float: left;text-decoration: none;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left a p{margin-bottom: 0;height: 10px;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left a p img{margin-top: -10px;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left .active{margin-left: 15%;color:#fc5146;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-right{float: left;width: 45%;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right-top h2{font-size: 20px;color: #fc5146;margin: 2% 0;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right .ki2-top-cen{width: 100%;background-color: #ffffff;overflow: hidden;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-1{width: 40%;margin: 1.2% 0;margin-bottom: 0;float: left;text-align: left;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-1 p{font-size:12px;color: #555555; }
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-2{width: 60%;margin: 1.2% 0;margin-bottom: 0;float: left;text-align: left;}
.con-hd-mncl .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-2 p{font-size:12px;color: #555555; }


.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-5{padding: 0;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group{margin:12% 0 0 6%;width: 85%;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group .form-control{height: 40px;border: 1px solid #d43f3a;font-size: 14px;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group .form-control::-webkit-input-placeholder { /* WebKit browsers */color:    #888888;letter-spacing:2px;padding-left: 40px;}  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:    #eeeeee;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */color:    #eeeeee;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */color:    #eeeeee;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-5 .input-group .input-group-btn .xl{padding: 9.5px 25px;background-color: #d43f3a;border: none;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-4{padding: 0;margin: 10% 0;margin-bottom: 0;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-4 p{font-size: 24px;font-weight: bold;color: #333333;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-4 p span{font-size: 14px;color: #555555;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-5{padding: 0;margin: 8% 0;margin-bottom: 0;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-5 p{font-size: 36px;color: #00a100;text-align: center;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-5 p span{margin-left: 5%;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-3{padding: 0;margin: 12.5% 0;font-size: 14px;margin-bottom: 0;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-3 p{color: #00a100;width: 90%;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-top-cen .col-md-7 .col-md-3 p span{float: right;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen{width: 100%;overflow: hidden;background: #ffffff;margin-bottom: 4%;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen h2{font-size:14px;font-weight: bold;color: #333333;border-left: 3px solid #4b7abd;margin-left: 2.5%;margin-bottom:3%;padding-left: 10px; }
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen .kit2-2{width: 95%;margin: 0 auto;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen .row .md2{width: 19%;padding: 0;margin: 0 0.5%;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen{width: 100%;border: 1px solid #dddddd;padding:0 8px;border-radius: 4px;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .ben1{font-size: 16px;color: #333333;margin-top: 8%;margin-bottom: 3%;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .ben1 span{float: right;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .ben2{font-size: 14px;color: #888888;margin: 5% 0;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .ben2 span{font-size: 12px;color: #00a100;float: right;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .ben2 span img{padding-right: 5px;margin-top: -5px;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen input{width: 100%;margin-bottom: 15%; height: 30px;border-radius: 5px; font-size: 12px;color: #d43f3a;border: 1px solid #d43f3a;background-color: transparent;line-height: 20px;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen .row .md2 .bom-cen-cen .bom_tu{width:172px;height:100px;overflow: hidden;}

.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2{width: 100%;overflow: hidden;background: #ffffff;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2 h2{ font-size:14px;font-weight: bold;color: #333333;border-left: 3px solid #4b7abd;margin-left: 2.5%;margin-bottom:3%;padding-left: 10px; }
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2 .kit2-2{width: 95%;margin: 0 auto;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2{width: 19%;padding: 0;margin: 0 0.5%;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen{width: 100%;border: 1px solid #dddddd;padding:0 8px;border-radius: 4px;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen .ben1{font-size: 16px;color: #333333;margin-top: 5%;margin-bottom: 3%;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen .ben1 span{float: right;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen .ben2{font-size: 14px;color: #888888;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen .ben2 span{font-size: 12px;color: #00a100;float: right;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen .ben2 span img{padding-right: 5px;margin-top: -5px;}
.con-hd-mncl .cl-hd-ki2 .row .ki2-bom-cen2 .row .md2 .bom-cen-cen input{margin: 10% 0;margin-bottom: 15%;width: 100%;height: 30px;border-radius: 5px; font-size: 12px;color: #d43f3a;border: 1px solid #d43f3a;background-color: transparent;line-height: 20px;}


.con-hd-cjmn{background-color: #f5f5f5;}
.con-hd-cjmn .cl-hd-ki2 .row{margin-bottom: 15%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-left{border-top-left-radius: 20px;border-bottom-left-radius: 20px; height: 876px;width: 6%;background-color: #dddddd;float: left;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-left a{display: block;width: 100%;margin-top: 150%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-left a img{width: 100%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-left .at2{margin-top: 50%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right{height:876px;width: 90%;float: left;border-bottom-right-radius: 20px; background-color: #ffffff;border-top-right-radius: 20px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right-top{ width: 100%;background-color: #ededed;border: 1px solid #dddddd;border-left: 0px; border-top-right-radius: 20px;overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left{float: left;width: 50%;text-align: center;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right-top .wid{width: 55%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left a{ font-size: 20px;display: block;margin:3% 1% 0 7%; color: #555555; float: left;text-decoration: none;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left a p{margin-bottom: 0;height: 10px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left a p img{margin-top: -10px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-left .active{margin-left: 15%;color:#fc5146;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right-top .ki2-top-right{float: left;width: 45%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right-top h2{font-size: 20px;color: #fc5146;margin: 2% 0;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .ki2-top-cen{width: 100%;background-color: #ffffff;overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-1{width: 40%;margin: 1.5% 0;margin-bottom: 0;float: left;text-align: left;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-1 p{font-size:12px;color: #555555; }
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-2{width: 60%;margin: 1.5% 0;margin-bottom: 0;float: left;text-align: left;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .ki2-top-right .xz1{width: 30%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .ki2-top-right .xz12{width: 30%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .ki2-top-right .xz3{}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .ki2-top-right .xz3{width: 40%;float: left;margin: 2.6% 0;margin-bottom: 0;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .ki2-top-right .xz3 a{ text-decoration: none; text-align: center; display: block; float: left;width: 60px;height: 30px;border-radius: 10px;line-height: 30px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .ki2-top-right .xz3 .ru{transition: all .3s ease-in-out; border:1px solid #fc5146;font-size: 14px;margin: 0 10%;margin-left: 0;color: #fc5146;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .ki2-top-right .xz3 .ru:hover{background-color: #fc5146;color: #ffffff;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .ki2-top-right .xz3 .chu{transition: all .3s ease-in-out;font-size: 14px;border: 1px solid #4b7abd;margin-left: 8%;color: #4b7abd;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .ki2-top-right .xz3 .chu:hover{background-color: #4b7abd;color: #ffffff;}

.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .kit-top-rig-2 p{font-size:12px;color: #555555; }


.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6{padding: 0;overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit{width: 90%;overflow: hidden;margin: 0 auto;margin-top: 10%;border-right: 1px solid #dddddd;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .input-group{width: 95%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .input-group .form-control{height: 40px;border: 1px solid #d43f3a;font-size: 14px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .input-group .form-control::-webkit-input-placeholder { /* WebKit browsers */color:    #888888;letter-spacing:2px;padding-left: 40px;}  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:    #eeeeee;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .input-group .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */color:    #eeeeee;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .input-group .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */color:    #eeeeee;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .input-group .input-group-btn .xl{padding: 9.5px 25px;background-color: #d43f3a;border: none;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz{width: 100%;overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top{margin-top: 5%;margin-bottom: 4%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top span{font-size: 14px;color: #555555;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top input{width: 40%; margin-left: 5%; padding-left: 10px; height: 30px;font-size: 12px;color: #bbbbbb;border-radius: 5px;border: 1px solid #dddddd;}

.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top2{overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top2 .kit-xz-top2-let{width: 15%;float: left;margin: 2.5% 0;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top2 .kit-xz-top2-let p{text-align: right;font-size: 14px;color: #555555;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top2 .kit-xz-top2-right{float: right;width: 80.5%; }
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top2 .kit-xz-top2-right a{border-radius: 5px; font-size: 12px;color: #555555; margin: 2%;text-align:center; display: block;float: left;width: 20%;height: 30px;line-height: 30px;border: 1px solid #dddddd;text-decoration: none;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top2 .kit-xz-top2-right .hui{color: #dddddd;}

.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3{overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-let{width: 15%;float: left;margin: 1.5% 0;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-let p{text-align: right;font-size: 14px;color: #555555;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-let .pt2{margin-top: 20%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-let .pt3{margin-top: 45%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-right{float: right;width: 80.5%; }
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-right input{margin: 2%;margin-top: 4.5%;height: 30px;border-radius: 5px; font-size: 14px;border: 1px solid #dddddd;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-right .liny{width: 20%;text-align: center;color: #fc5146;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-right .ea{width: 25%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-right .shiz{margin-top: 2%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-right span{color: #777777;font-size: 14px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-right .liny::-webkit-input-placeholder { /* WebKit browsers */color:#fc5146;letter-spacing:2px;text-align: center;}  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:    #eeeeee;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-right .liny::-moz-placeholder { /* Mozilla Firefox 19+ */color:    #fc5146;text-align: center;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top3 .kit-xz-top3-right .liny:-ms-input-placeholder { /* Internet Explorer 10+ */color:    #fc5146;text-align: center;}


.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4{overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4 .kit-xz-top4-let{width: 18%;;float: left;margin: 2.5% 0;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4 .kit-xz-top4-let p{text-align: right;font-size: 14px;color: #333333;margin: 20% 0;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4 .kit-xz-top4-right{float: right;width: 77%; }


.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4{border-top: 1px solid #ddd;margin-right: 50px;    border-bottom: 1px solid #ddd;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4 .kit-xz-top4-right p{margin-top: 4.8%;font-size: 14px;color: #333333;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4 .kit-xz-top4-right p .ospan{color: #4b7abd;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4 .kit-xz-top4-right .di3{margin-top: 8%;margin-bottom: 1.5%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4 .kit-xz-top4-right p a{text-decoration:none;font-size: 14px;color: #333333;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4 .kit-xz-top4-right .diyan{margin-left: 18%;font-size: 14px;color: #4b7abd;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top4 .kit-xz-top4-right .diy a{margin-left: 20%;color: #4b7abd;font-size: 14px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5{overflow: hidden;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-let{width: 15%;float: left;margin: 2.5% 0;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-let p{text-align: right;font-size: 14px;color: #555555;margin-top: 20%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-let .jsf{font-size: 12px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-right{float: right;width: 80.5%;margin-top: 2.5%;margin-bottom: 5%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-right p{font-size: 14px;color: #333333;margin-top: 3.5%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-right span{color: #ff6c63;font-size: 14px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-right p .sp1{margin-left: 10%; color: #4b7abd;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-right .sp2{color: #d43f3a;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-bom{width: 100%;text-align: center;overflow: hidden;margin-bottom: 10%}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-bom input{color: #ffffff; border: none;border-radius: 10px;width: 45%;height: 40px;background-color: #fc5146;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-bom .kit-rig{width: 45%;height: 40px;margin: 0 auto;margin-top: 2%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-bom .kit-rig .rad{width: 30px;height: 15px;float: left;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-bom .kit-rig .olk{float: left;display: inline-block;margin-top: 4px;font-size: 12px;color: #999999;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .col-md-6 .cj-hd-kit .cj-hd-kit-xz .cj-hd-kit-xz-top5 .kit-xz-top5-bom .kit-rig .olk2{cursor: pointer; float: left;display: inline-block;margin-top: 4px;font-size: 12px;color: #4b7abd;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .mt1{margin-top: 10%;padding: 0;width: 35%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .mt1 p{font-size: 24px;color: #333333;font-weight: bold;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .mt1 p span{font-size: 14px;color: #555555;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .mt2{margin-top: 8.5%;padding: 0;text-align: center;width: 41%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .mt2 p{font-size: 36px;color: #00a100;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .mt2 p img{margin-left: 5%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .mt3{width:24%;margin-top: 13%;padding: 0;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .mt3 p{text-align: left;color: #00a100;font-size: 14px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .mt3 p span{float: right;margin-right: 10px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .canvas{margin-top: 10%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-100{width: 97%;overflow: hidden;border-bottom: 1px solid #dddddd;padding-bottom: 20px;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-12{padding: 0;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-100 div{width: 14.28571428571429%;float: left;text-align: center;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-100 div:first-child{text-align: left;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-100 div:last-child{text-align: right;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-100 div p{font-size: 14px;color: #999999;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-100 div span{font-size: 14px;color: #555555;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-qs{width:97%;overflow:hidden; }
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-qs .col-qs-left{width: 50%;overflow: hidden;float: left;font-size: 14px;border-right: 1px solid #dddddd;margin-top: 5%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-qs .col-qs-left p{color: #00a100;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-qs .col-qs-left p span{margin-left: 10%;color: #555555;font-size: 14px; }
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-qs .col-qs-left p .mai1{margin-left: 0;margin-right: 10%}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-qs .col-qs-left p .mai2{margin-left: 10%}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-qs .col-qs-right{width: 50%;overflow: hidden;float: left;text-align: right;margin-top: 5%;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-qs .col-qs-right p{color: #fc5146;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-qs .col-qs-right p span{margin-left: 10%;font-size: 14px;color: #555555; }
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-qs .col-qs-right .mai3{margin-left: 0;margin-right: 10%;color: #555555;}
.con-hd-cjmn .cl-hd-ki2 .row .cl-ki2-right .k2 .col-md-12 .col-tu{overflow: hidden;margin-top: 5%;}