@charset "utf-8";

.active{background-color: #ed5551;color: #ffffff;}

section{overflow: hidden;}
section .main{background-color: #f5f5f5;}
section .main .container .col-md-12{margin: 4.7% auto;}
section .main .container .mok{margin:5% 0;}
section .main .container .col-md-12 .col-md-3{height: 660px;padding: 0; width: 23%;margin-right: 2%; background-color: #ffffff;border-top: 2px solid crimson;overflow: hidden;text-align: center;}
section .main .container .col-md-12 .col-md-3 .col-box{margin-top: 20%;}
section .main .container .col-md-12 .col-md-3 .col-box p{margin: 5% auto; }
section .main .container .col-md-12 .col-md-3 .col-box p .xig{cursor: pointer;margin-left: 5px;}
section .main .container .col-md-12 .col-md-3 .col-footr{margin-top: 2%;margin-bottom: 10%;}
section .main .container .col-md-12 .col-md-3 .col-footr a{transition: all .3s ease-in-out; display: block;width: 100%;text-decoration: none;padding: 15px 0;margin-top: 1%;}
section .main .container .col-md-12 .col-md-3 .col-footr a:first-child{border-top: 1px solid #dddddd;}
section .main .container .col-md-12 .col-md-3 .col-footr a:hover{background-color: #ed5551;color: #ffffff;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-12{height:111.88px;margin:0;line-height:111.88px;}
section .main .container .col-md-12 .col-md-9{height: 660px;background-color: #ffffff;border-top: 2px solid crimson;padding:0;}
section .main .container .col-md-12 .col-md-9 .col-top{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-top h3{font-size: 16px;margin: 3% 0;}

section .main .container .col-md-12 .col-md-9 .col-cen{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-12 span{margin: 0 2%;font-size: 14px;}


/*认证中心*/
section .main .container .col-md-12 .col-md-9 .hd-rzbom{border:none;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rzlet{width:25%;float:left;height: 40px;line-height: 40px;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rzlet i{color:red;}

section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ldet{margin-right: 5%; overflow: hidden;margin-top: 5%;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ld6to{width:100%;margin: 10% 0 7%;float: right;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ld6to .hd-rzlet span{font-size: 16px;font-family: "微软雅黑";font-weight: bold;color: #555;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ld6to .hd-rzrig{width:75%;float:right;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ld6to .hd-rzrig input{border-radius: 5px;height: 35px;border: 1px solid #DDDDDD;padding-left: 5px;width: 100%;outline: none;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ld6bom{clear: both;float: right; overflow: hidden; width: 100%;text-align: center;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ld6bom h2{font-size: 20px;color: #333333;font-family: "微软雅黑";font-weight: bold;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ld6bom .hd-ld6img{width:100%;height: 200px;float: right;border:1px solid #ddd;position: relative;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ld6bom .hd-ld6img input[type=file]{opacity: 0;position: absolute;width:100%;height:100%;z-index:999;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ld6bom .hd-ld6img img{width:100%;height:100%;z-index:99;left:0;top:0;position: absolute;}

section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-ldrg{overflow: hidden;margin-top: 5%;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rd6to{width:100%;float:left;margin: 10% 0 7%;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rd6to .hd-rzlet span{font-size: 16px;font-family: "微软雅黑";font-weight: bold;color: #555;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rd6to .hd-rzrig{width:75%;float:right;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rd6to .hd-rzrig input{border-radius: 5px;height: 35px;border: 1px solid #DDDDDD;padding-left: 5px;width: 100%;outline: none;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rd6bom{clear: both;width: 100%;text-align: center;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rd6bom h2{font-size: 20px;color: #333333;font-family: "微软雅黑";font-weight: bold;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rd6bom .hd-ld6img{width: 100%;height: 200px;float: right;border:1px solid #ddd;position: relative;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rd6bom .hd-ld6img input[type=file]{opacity: 0;position: absolute;width:100%;height:100%;z-index:999;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-6 .hd-rd6bom .hd-ld6img img{width:100%;height:100%;z-index:99;left:0;top:0;position: absolute;}

section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-12{clear: both;text-align: center;margin-top:7%;}
section .main .container .col-md-12 .col-md-9 .hd-rzbom .col-lg-12 input{font-size: 20px; width: 413px;height: 42px;border-radius: 7px; border: none; outline: none; background-color: #fb6b66;color: #FFFFFF;}
