.graph {
    background-color: #ffffff;
    height: 90%;
    width: 100%;
}
text {
    fill: #fff;
}
.line {
    fill: none;
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
}
.area {
    vector-effect: non-scaling-stroke;
}
