@charset "utf-8";
*{font-family:'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important;}
.active{background-color: #ed5551;color: #ffffff;}

section{overflow: hidden;}
section .main{background-color: #f5f5f5;}
section .main .container .col-md-12{margin: 5% auto;}
section .main .container .col-md-12 .col-md-3{height: 660px;padding: 0; width: 23%;margin-right: 2%; background-color: #ffffff;border-top: 2px solid crimson;overflow: hidden;text-align: center;}
section .main .container .col-md-12 .col-md-3 .col-box{margin-top: 20%;}
section .main .container .col-md-12 .col-md-3 .col-box p{margin: 5% auto; }
section .main .container .col-md-12 .col-md-3 .col-box p span{font-size: 12px;}
section .main .container .col-md-12 .col-md-3 .col-box p .xig{cursor: pointer;margin-left: 5px;}
section .main .container .col-md-12 .col-md-3 .col-footr{margin-top: 2%;margin-bottom: 10%;}
section .main .container .col-md-12 .col-md-3 .col-footr a{font-size: 14px; transition: all .3s ease-in-out; display: block;width: 100%;text-decoration: none;padding: 15px 0;margin-top: 1%;}
section .main .container .col-md-12 .col-md-3 .col-footr a:first-child{border-top: 1px solid #dddddd;}
section .main .container .col-md-12 .col-md-3 .col-footr a:hover{background-color: #ed5551;color: #ffffff;}

section .main .container .col-md-12 .col-md-9{height: 660px;background-color: #ffffff;border-top: 2px solid crimson;padding:0;}
section .main .container .col-md-12 .col-md-9 .col-top{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-top h3{font-size: 16px;margin: 3% 0;color: #555555;}
section .main .container .col-md-12 .col-md-9 .col-cen{padding: 20px 30px;overflow: hidden;margin-bottom: 18%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-6 p{border-left: 4px solid #ed5551;padding-left: 20px;font-weight: bold;margin: 20% 0;margin-top:5%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-6 a{margin: 0 20px;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-6 .a1{margin-left: 0px;}

section .main .container .col-md-12 .col-md-9 .col-cen .col-md-6 input{background-color: #ed5551;width:80%;border: none;margin: 15% 0;color: #ffffff;border-radius: 10px;height: 40px;}
section .main .container .col-md-12 .col-md-9 .col-cen .colmd6{text-align: center;width: 48%;border-left: 1px solid #eeeeee;}
section .main .container .col-md-12 .col-md-9 .col-cen .colmd6 p{padding: 0;border: none;font-weight: bold;margin-bottom:10%;}
section .main .container .col-md-12 .col-md-9 .col-cen .colmd6 .erw{margin-bottom:5%%;height: 170px;overflow:hidden;}
section .main .container .col-md-12 .col-md-9 .col-cen .colmd6 .erw img{height:100%;}
section .main .container .col-md-12 .col-md-9 .col-cen .colmd6 a{text-decoration: none;color:#4b7abd;font-size: 12px;}
