@charset "utf-8";

.active{background-color: #ed5551;color: #ffffff;}

section{overflow: hidden;}
section .main{background-color: #f5f5f5;}
section .main .container .col-md-12{margin: 4.7% auto;}
section .main .container .mok{margin:5% 0;}
section .main .container .col-md-12 .col-md-3{height: 660px;padding: 0; width: 23%;margin-right: 2%; background-color: #ffffff;border-top: 2px solid crimson;overflow: hidden;text-align: center;}
section .main .container .col-md-12 .col-md-3 .col-box{margin-top: 20%;}
section .main .container .col-md-12 .col-md-3 .col-box p{margin: 5% auto; }
section .main .container .col-md-12 .col-md-3 .col-box p .xig{cursor: pointer;margin-left: 5px;}
section .main .container .col-md-12 .col-md-3 .col-footr{margin-top: 2%;margin-bottom: 10%;}
section .main .container .col-md-12 .col-md-3 .col-footr a{transition: all .3s ease-in-out; display: block;width: 100%;text-decoration: none;padding: 15px 0;margin-top: 1%;}
section .main .container .col-md-12 .col-md-3 .col-footr a:first-child{border-top: 1px solid #dddddd;}
section .main .container .col-md-12 .col-md-3 .col-footr a:hover{background-color: #ed5551;color: #ffffff;}

section .main .container .col-md-12 .col-md-9{height: 660px;background-color: #ffffff;border-top: 2px solid crimson;padding:0;}
section .main .container .col-md-12 .col-md-9 .col-top{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-top h3{font-size: 16px;margin: 3% 0;}

section .main .container .col-md-12 .col-md-9 .col-cen{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-6{width: 40%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-2{width: 30%;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-6 p{color: #999999;font-size: 14px;margin: 12% 0;margin-bottom: 5%;text-indent: 1em;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-2 p{text-align: left; color: #999999;font-size: 14px;margin: 17% 0;margin-bottom: 5%;}

section .main .container .col-md-12 .col-md-9 .col-bom{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-bom .col-md-6{width:36%;padding:0;}
section .main .container .col-md-12 .col-md-9 .col-bom .col-md-2{width: 32%;}
section .main .container .col-md-12 .col-md-9 .col-bom .col-md-6 a{text-decoration: none; color: #4b7abd;display: block; font-size: 14px;margin:7%  0;}
section .main .container .col-md-12 .col-md-9 .col-bom .col-md-2 p{text-align: left; color: #555555;font-size: 14px;margin: 9.5% 0;}
section .main .container .col-md-12 .col-md-9 .col-bom .colt2 p{padding-left:10px;}
section .main .container .col-md-12 .col-md-9 .col-bom2{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-bom2 .col-md-6{width: 40%;}
section .main .container .col-md-12 .col-md-9 .col-bom2 .col-md-2{width: 20%;}
section .main .container .col-md-12 .col-md-9 .col-bom2 .col-md-6 a{text-decoration: none; color: #4b7abd;display: block; font-size: 14px;margin:7% 0;}
section .main .container .col-md-12 .col-md-9 .col-bom2 .col-md-2 p{text-align: left; color: #555555;font-size: 14px;margin: 16% 0;}

section .main .container .col-md-12 .col-md-9 .col-bom3{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;margin-bottom: 33.4%;}
section .main .container .col-md-12 .col-md-9 .col-bom3 .col-md-6{width: 40%;}
section .main .container .col-md-12 .col-md-9 .col-bom3 .col-md-2{width: 20%;}
section .main .container .col-md-12 .col-md-9 .col-bom3 .col-md-6 a{text-decoration: none; color: #4b7abd;display: block; font-size: 14px;margin:7% 0;}
section .main .container .col-md-12 .col-md-9 .col-bom3 .col-md-2 p{text-align: left; color: #555555;font-size: 14px;margin:16% 0;}