@charset "utf-8";
.banner{overflow: hidden;}
.banner .row .container p{margin: 10px 0;color: #888888;}
section{overflow: hidden;}
section .row{background-color: #f5f5f5;}
section .row .container{margin-bottom: 5%;}
section .row .container .col-md-12{padding: 0;margin: 2% auto;border-bottom: 1px solid #dddddd;}
section .row .container .col-md-12 h2{margin-left: 0px;font-size: 30px;}
section .row .container .col-md-12 p{color:#888888;margin-bottom: 2%;}
section .row .container .hd_xwm2{border: none;margin: 0 auto;}
section .row .container .hd_xwm2 p{margin: 3% 0;}
