@charset "utf-8";
*{font-family:'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important;}
.active{background-color: #ed5551;color: #ffffff;}

section{overflow: hidden;}
section .main{background-color: #f5f5f5;}
section .main .container .col-md-12{margin: 5% auto;}
section .main .container .col-md-12 .col-md-3{height: 660px; padding: 0; width: 23%;margin-right: 2%; background-color: #ffffff;border-top: 2px solid crimson;overflow: hidden;text-align: center;}
section .main .container .col-md-12 .col-md-3 .col-box{margin-top: 20%;}
section .main .container .col-md-12 .col-md-3 .col-box p{margin: 5% auto; }
section .main .container .col-md-12 .col-md-3 .col-box p span{font-size: 12px;}
section .main .container .col-md-12 .col-md-3 .col-box p .xig{cursor: pointer;margin-left: 5px;}
section .main .container .col-md-12 .col-md-3 .col-footr{margin-top: 2%;margin-bottom: 10%;}
section .main .container .col-md-12 .col-md-3 .col-footr a{font-size: 14px; transition: all .3s ease-in-out; display: block;width: 100%;text-decoration: none;padding: 15px 0;margin-top: 1%;}
section .main .container .col-md-12 .col-md-3 .col-footr a:first-child{border-top: 1px solid #dddddd;}
section .main .container .col-md-12 .col-md-3 .col-footr a:hover{background-color: #ed5551;color: #ffffff;}

section .main .container .col-md-12 .col-md-9{height: 660px;background-color: #ffffff;border-top: 2px solid crimson;padding:0;}
section .main .container .col-md-12 .col-md-9 .col-top{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-top h3{font-size: 16px;margin: 3% 0;}

section .main .container .col-md-12 .col-md-9 .col-cen{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-4 span{margin: 0 4%;font-size: 14px;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-4 span img{margin: 20% 0;}
section .main .container .col-md-12 .col-md-9 .col-cen .col-md-4 .col-cen-rg{margin-left: 10%;}
section .main .container .col-md-12 .col-md-9 .col-cen .text-center span{display: block;margin: 20% auto;}
section .main .container .col-md-12 .col-md-9 .col-cen .text-center a{display: block;margin: 20% auto;color: #4b7abd;text-decoration: none;}

section .main .container .col-md-12 .col-md-9 .col-bom{width: 90%;margin: 0 auto;border-bottom: 1px solid #dddddd;overflow: hidden;margin-bottom: 30%;}
section .main .container .col-md-12 .col-md-9 .col-bom .col-md-4 span{margin: 0 4%;font-size: 14px;}
section .main .container .col-md-12 .col-md-9 .col-bom .col-md-4 span img{margin: 20% 0;}
section .main .container .col-md-12 .col-md-9 .col-bom .col-md-4 .col-cen-rg{margin-left: 10%;}
section .main .container .col-md-12 .col-md-9 .col-bom .text-center span{display: block;margin: 20% auto;color: #e75b58;}
section .main .container .col-md-12 .col-md-9 .col-bom .text-center a{display: block;margin: 20% auto;color: #4b7abd;text-decoration: none;}

section .main .container .col-md-12 .col-md-9 .col-cen .cenr{float: right;}
section .main .container .col-md-12 .col-md-9 .col-cen .cenr .rig{margin: 20% 0;}
section .main .container .col-md-12 .col-md-9 .col-cen .cenr .rig .chooseBtn {display: none;}
section .main .container .col-md-12 .col-md-9 .col-cen .cenr .rig .choose-label{box-shadow: #ccc 0px 0px 0px 1px;width: 40px;height: 20px;display: inline-block;border-radius: 20px;position: relative;background-color: #bdbdbd;overflow: hidden;}
section .main .container .col-md-12 .col-md-9 .col-cen .cenr .rig .choose-label:before {content: '';position: absolute;left: 0;width: 20px;height: 20px;display: inline-block;border-radius: 20px;background-color: #fff;z-index: 20;-webkit-transition: all 0.5s;transition: all 0.5s;}
section .main .container .col-md-12 .col-md-9 .col-cen .cenr .rig .chooseBtn:checked + label.choose-label:before {left: 20px;}
section .main .container .col-md-12 .col-md-9 .col-cen .cenr .rig .chooseBtn:checked + label.choose-label {background-color:#1E9FFF;}