
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">股票管理</h3>
                    <a href="{:url('stock/add')}" id="addToTable" target="_blank" style="float:left; margin-left: 130px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">
                    <i class="fa fa-plus"></i> 新增股票</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>股票代码</th>
                                    <th>股票名称</th>
                                    <th>是否推荐</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.stock_code}</td>
                                    <td>{$vo.stock_name}</td>
                                    <td>{$vo.is_recommend}</td>
                                    <td><a href="{:url('stock/update',['id'=>$vo['id']])}" class="ion-edit"></a></td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>
{include file="login/footer" /}
<!-- Page Content Ends -->
<!-- =======