{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">股票推荐</h3></div>
                <div class="panel-body">

                    <form  action="{:url('stock/update')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <input type="hidden" name="id" value="{$stockdetail.id}">
                        <div style="width:100%">
                            <div class="form-group" style="width: 50%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>股票代码</span>
                                    <input type="text" id="" name='stock_code' class="form-control" placeholder="股票代码"  value="{$stockdetail.stock_code}" disabled >
                                </div>
                            </div>
                            <div class="form-group" style="width: 50%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>股票名称</span>
                                    <input type="text" id="" name='stock_name' class="form-control" placeholder="股票名称"  value="{$stockdetail.stock_name}" disabled >
                                </div>
                            </div>
                            <div class="form-group" style="width: 49%;  display:inline-block">
                                <div class="col-sm-10">
                                    <span>是否推荐</span>
                                    <select class="form-control" name='is_recommend'>
                                        <option value=1 {if $stockdetail.is_recommend eq 1} selected {/if}>已推荐</option>
                                        <option value=2 {if $stockdetail.is_recommend eq 2} selected {/if}>未推荐</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->



{include file="login/footer" /}