{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改轮播图</h3></div>
                <div class="panel-body">

                    <form  action="{:url('webbanner/update')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <input type="hidden" name="id" value="{$banner.id}">
                        <div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <span>排序</span>
                                    <input type="text" id="" name='sort' class="form-control" placeholder="排序"  value="{$banner.sort}">
                                </div>
                                <div class="col-sm-6">
                                    <span>轮播图分类</span>
                                    <select class="form-control" name='type'>
                                        <option value="1" {if $banner.type eq 1} selected {/if}>首页</option>
                                        <option value="2" {if $banner.type eq 2} selected {/if}>新闻中心</option>
                                        <option value="3" {if $banner.type eq 3} selected {/if}>关于我们</option>
                                        <option value="4" {if $banner.type eq 4} selected {/if}>新手引导</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-6">
                                    <span>banner标题</span>
                                    <input type="text" id="" name="banner_title" class="form-control" value="{$banner.banner_title}">
                                </div>
                                <div class="col-sm-6">
                                    <span>banner文案</span>
                                    <input type="text" id="" name="banner_wenan" class="form-control" value="{$banner.banner_wenan}">
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-sm-12">
                                    <span>banner链接</span>
                                    <input type="text" id="" name="banner_link" class="form-control" value="{$banner.banner_link}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                 <span>轮播图</span>
                                    <div class="fallback">
                                        <input id="f_file" name="web_bannerurl" type="file" />
                                    </div>
                                    <div class="col-sm-10">
                                        <img src="{$banner.web_bannerurl}" alt="" width="200px" height="100px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}