.w94{
    width:94%;
    margin: 0 auto;
    position:relative;
}
.content-box{
    position: relative;
    z-index: 1;
    background:#f3f5f7;
    width:100%;
    padding-bottom: 0.98rem;
}
/***首页****/
.welcome-banner li{
    width:100%;
}
.welcome-banner li a{
    display: block;
    width:100%;
}
.welcome-banner li img{
    width:100%;
}
.welcome-banner .swiper-pagination{
    font-size: 0;
}
.welcome-banner .swiper-pagination-bullet{
    width:5px;
    height:5px;
    opacity: 1;
    background:#b7b7b7;
}
.welcome-banner .swiper-pagination .swiper-pagination-bullet-active{
    background: #fff;
}
.welcome-list{
    width:100%;
    background:#fff;
    margin:0.15rem 0;
    padding: 0.2rem 0;
}
.welcome-list ul{
    width:100%;
}
.welcome-list li{
    float: left;
    width:33.33%;
    text-align: center;
    position:relative;
    border-left:1px solid #ddd;
}
.welcome-list li:first-child{
    border-left:none;
}
.welcome-list li h2{
    font-size:0.28rem;
    color: #222;
    line-height: 0.37rem;
    margin-bottom: 0.09rem;
}
.welcome-list li h3{
    font-size:0.34rem;
    line-height:0.42rem;
}
.welcome-list li .ico{
    padding-right: 0.2rem;
    background-size: 0.14rem auto !important;
}
.welcome-list li .ico.red{
    background:url(../img/wel03.png) no-repeat right center;
}
.welcome-list li .ico.green{
    background:url(../img/wel04.png) no-repeat right center;
}
.welcome-list li .num{
    font-size:0.24rem;
    line-height:0.36rem;
}
.welcome-list li .num:first-child{
    padding-left: 0.2rem;
}
.welcome-list li .num:last-child{
    padding-right: 0.2rem;
}

.welcome-list li .red{
    color:#e83a3a;
}
.welcome-list li .green{
    color:#279d1b;
}
.welcome-links{
    width:100%;
    text-align: center;
    background:#fff;

}
.welcome-links ul{
    width:100%;
}
.welcome-links li{
    float: left;
    width:25%;
    text-align: center;
}
.welcome-links li a{
    display: block;
    padding:0.15rem 0 0;
    width:100%;
}
.welcome-links li img{
    width:0.8rem;
    display: block;
    margin:0 auto 0.02rem;
}
.welcome-links li h2{
    font-size:0.24rem;
    color:#222;
    line-height:0.53rem;
}
.welcome-notice-list{
    margin:0.2rem 0 !important;
    background:#fff;
    padding:0.32rem 3% !important;
    z-index:1;
}
.welcome-notice-list .pic{
    width:0.94rem;
    float: left;
    margin-right: 0.2rem;
}
.welcome-notice-list a{
    display: block;
    width:100%;
    padding-right: 0.3rem;
    background:url(../img/wel10.png) no-repeat right center;
    background-size:0.3rem auto;
}
.welcome-notice-list h2{
    font-size:0.3rem;
    color:#db7b1e;
    line-height:0.42rem;
    height:0.42rem;
    overflow:hidden;
    margin-top: 0.06rem;
}
.welcome-notice-list p{
    font-size:0.24rem;
    color:#999;
    line-height:0.37rem;
    height:0.37rem;
    overflow:hidden;
    padding-bottom: 0.09rem;
}
.welcome-notice-list.swiper-container-horizontal > .swiper-pagination-bullets{
    font-size:0;
    bottom:0.12rem;
}
.welcome-notice-list.swiper-container-horizontal > .swiper-pagination-bullets span{
    background:#e31818;
    opacity:0.5;
}
.welcome-notice-list.swiper-container-horizontal > .swiper-pagination-bullets span.swiper-pagination-bullet-active{
    opacity:1;
}
.welcome-gupiao{
    width:100%;
    background:#fff;
    margin-bottom: 0.5rem;
}
.welcome-gupiao .title{
    width:100%;
    line-height:0.79rem;
    height:0.8rem;
    color:#555;
    position: relative;
    border-bottom:1px solid #eeeeee;
    padding:0 3% 0 4.6%;
    // background:#fe0000;
}
.welcome-gupiao .title span{
     font-size:28px;
     transform: scale(0.5);
     display: block;
     line-height:0.79rem;
     height:0.79rem;
     position: relative;
    left: -24%;
}
.welcome-gupiao .title:after{
    content:"";
    width:0.04rem;
    height:40%;
    position: absolute;
    left:3%;
    top:30%;
    background:#fe0000;
}
.welcome-gupiao li{
    float: left;
    width:100%;
    text-align: center;
    border-top:1px solid #eee;
}
.welcome-gupiao li:first-child{
    border-top:none;
}
.welcome-gupiao li a{
    float: left;
    width:100%;
     padding:0.16rem 0 0.13rem;
}
.welcome-gupiao li .one{
    width:21.4%;
    text-align: left;
}
.welcome-gupiao li h2{
    width:100%;
    font-size:0.28rem;
    color:#333;
    line-height:0.38rem;
    height:0.38rem;
    overflow:hidden;
}
.welcome-gupiao li h2.red{
    color:#e83a3a;
}
.welcome-gupiao li h2.black{
    color:#666;
}
.welcome-gupiao li p{
    width:100%;
    font-size:0.22rem;
    color:#888;
    line-height:0.33rem;
    height:0.33rem;
    overflow:hidden;
}
.welcome-gupiao li .two{
    width: 21.4%;
}
.welcome-gupiao li .the{
    width:36.7%;
}
.welcome-gupiao li .more{
    width:14%;
    height:0.6rem;
    line-height:0.6rem;
    color:#fff;
    background:#f81d27;
    border-radius:3px;
    margin-top:0.06rem;
    font-size:0.28rem;
}
/***底部****/
footer{
    width:100%;
    background:#fff;
    border-top:1px solid #ddd;
    position: fixed;
    bottom:0;
    left:0;
    z-index: 10;
}
footer ul{
    width:100%;
}
footer li{
    width:25%;
    float: left;
    text-align: center;
}
footer li a{
    display: block;
    width:100%;
    padding:0.1rem 0 0;
}
footer li .pic-box{
    width:0.48rem;
    height:0.48rem;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
footer li .pic-box .bg{
    position: absolute;
    top:0;
    left:0;
    opacity:1;
    filter:alpha(opacity=100);
}
footer li .pic-box .pic{
    opacity:0;
    filter:alpha(opacity=0);
}
footer li h2{
    font-size:0.2rem;
    color:#989898;
    line-height:0.44rem;
}
footer li.hover h2{
    color:#333;
}
footer li.hover .pic-box .bg{
    opacity:0;
    filter:alpha(opacity=0);
}
footer li.hover .pic-box .pic{
    opacity:1;
    filter:alpha(opacity=100);
}
/***头部****/
header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index: 10;
    padding:0.15rem 0;
    background:rgba(0,0,0,.0);
    transition: background 0.3s;
}
header.active{
    background:rgba(0,0,0,1);
}
header form{
    width:94%;
    margin:0 auto;
    display: block;
    height:0.58rem;
    position:relative;
    border-radius:0.3rem;
    background-color:rgba(255,255,255,.4);
    padding-left: 0.64rem;
    background-image: url(../img/head01.png);
    background-repeat: no-repeat;
    background-position: 0.2rem center;
    background-size:0.3rem auto;
}
header form input{
    font-size:0.28rem;
    color:#fff;
    line-height:0.58rem;
    width:90%;
    height:0.58rem;
    display: block;
    background:none;
    border:none;
}
header form input::-webkit-input-placeholder{
    color: #fff;
}
header form input:-moz-placeholder{
    color: #fff;
}
header form input::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color:#fff;
}
header form input:-ms-input-placeholder{
    color: #fff;
}
header .info-links{
    width:0.3rem;
    height:0.3rem;
    background:url(../img/head02.png) no-repeat center;
    background-size:100% auto;
    position:absolute;
    top:50%;
    margin-top: -0.15rem;
    right:0.43rem;
}
header .info-links .red-box{
    width:0.1rem;
    height:0.1rem;
    background:#fe0000;
    border-radius:50%;
    position: absolute;
    top:-0.04rem;
    right:0;
    display: none;
}
header .info-links.active .red-box{
    display: block;
}
/***loading****/
.loading{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 11;
    background:#fff;
    transition:left 0.5s,opacity 0.5s;
}
.loading.active{
    left:100%;
}
.loading img{
    width:1.8rem;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    -webkit-animation: loading 3s infinite linear;
          animation: loading 3s infinite linear;
}
@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    }
    25%{
        -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    }
    75% {
        -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    }
    25%{
        -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    }
    75% {
        -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    }
}
.search-over {
    width: 100%;
    background: #fff;
    position: fixed;
    border-top: 1px solid #ddd;
    box-shadow: 0 4px 5px rgba(0,0,0,.1);
    top:0.88rem;
    left: 0;
    z-index: 9;
    padding: 3%;
    text-align: left;
    display: none;
}
.search-over li {
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.28rem;
    line-height: 0.6rem;
    /*left: 50px;
    opacity: 0;*/
    position: relative;
}
.search-over li a {
    display: block;
    width: 100%;
    color: #222;
}
/***登入注册***/
.w80{
    width:80%;
    margin:0 auto;
    position:relative;
}
.content-loreq{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(../img/l01.jpg) no-repeat center;
    background-size:cover !important;
}
.content-loreq h1{
    color:#fff;
    font-size:0.38rem;
    line-height:0.58rem;
    text-align: center;
}
.content-loreq .title{
    font-size:0.3rem;
    color:#fff;
    line-height:0.4rem;
    padding-left:0.72rem;
    background:url(../img/l02.png) no-repeat left center;
    background-size:0.51rem auto;
    margin-top:0.8rem;
}
.content-loreq form{
    width: 100%;
    display: block;
    padding-top: 0.1rem;
}
.content-loreq label{
    width:100%;
    height:0.68rem;
    display: block;
    border-radius:0.1rem;
    margin-top: 0.6rem;
    border: 1px solid #afafaf;
    background-color: rgba(255,255,255,.3);
    padding-left: 0.8rem;
    background-size:0.3rem auto !important;
    background-repeat:no-repeat !important;
    background-position:0.2rem center !important;
}
.content-loreq label.ico1{
    background-image:url(../img/l03.png);
}
.content-loreq label.ico2{
    background-image:url(../img/l04.png);
}
.content-loreq label.ico3{
    background-image:url(../img/l05.png);
}
.content-loreq label.code{
    width:50%;
}
.register .btn{
    margin: 0.6rem 0 0;
    background:#ff9930;
    border:none;
    border-radius:0.1rem;
    padding:0 0.15rem;
    height:0.68rem;
    line-height:0.68rem;
    font-size:0.28rem;
    color:#fff;
}

.content-loreq label input{
    color:#fff;
    font-size:0.28rem;
    display: block;
    height:0.48rem;
    width:95%;
    line-height:0.48rem;
    border:none;
    background:none;
    margin-top: 0.09rem;
}
.content-loreq label input::-webkit-input-placeholder{
    color: #fff;
}
.content-loreq label input:-moz-placeholder{
    color: #fff;
}
.content-loreq label input::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color:#fff;
}
.content-loreq label input:-ms-input-placeholder{
    color: #fff;
}
.content-loreq .links{
    width:100%;
    padding-bottom: 0.61rem;
}
.content-loreq .links a{
    font-size:0.2rem;
    color:#f3f5f7;
    line-height:0.77rem;
}
.content-loreq input[type="submit"]{
    width:100%;
    background:#e74f4c;
    color:#fff;
    border:none;
    display: block;
    height:0.7rem;
    line-height:0.7rem;
    text-align: center;
    border-radius:0.1rem;
    font-size:0.3rem;
    padding:0;
    margin:0;
}
#logincss {
    width: 100%;
    background: #e74f4c;
    color: #fff;
    border: none;
    display: block;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    border-radius: 0.1rem;
    font-size: 0.3rem;
    padding: 0;
    margin: 0;
}
.content-loreq input[type="submit"].res{
    margin-top: 1rem;
}
.content-loreq .btn.hover{
    background:#a7a7a7;
}
.login{
    padding-top:2rem;
}
.register{
    padding-top:1.2rem;
}
.ts{
    width:100%;
    text-align: center;
    font-size:0.2rem;
    color:#f3f5f7;
    line-height:0.5rem;
    left:0;
    bottom: 0.3rem;
    position:absolute;
}
.ts .red{
    color:#e74f4c;
}
.forget-box{
    width:100%;
}
.forget-box h1{
    text-align: center;
    width:100%;
    background:#333;
    color:#fff;
    font-size:0.34rem;
    line-height:0.8rem;
}
.forget-box .bgfff{
    background:#fff;
}
.forget-box label{
    display: block;
    width: 94%;
    margin:0 auto;
    position:relative;
    border-top:1px solid #ddd;
    padding-left: 0.67rem;
    background-size:0.3rem auto !important;
    background-repeat:no-repeat !important;
    background-position:0.2rem center !important;
}
.forget-box label:first-child{
    border-top:none;
}
.forget-box label.ico1{
    background-image:url(../img/l06.png);
}
.forget-box label.ico2{
    background-image:url(../img/l07.png);
}
.forget-box label.ico3{
    background-image:url(../img/l08.png);
}
.forget-box label.ico4{
    background-image:url(../img/l09.png);
}
.forget-box label input{
    width:100%;
    font-size:0.28rem;
    color:#989898;
    line-height:0.67rem;
    margin:0.1rem 0;
    border:none;
    padding:0;
}
.forget-box label input[type="button"]{
    width:auto;
    padding:0 0.2rem;
    background:none;
    border:none;
    border-left:1px solid #ddd;
    position: absolute;
    right:0;
    top:0;
}
.forget-box input[type="submit"]{
    background:#e74f4c;
    width:94%;
    margin:0.5rem auto 0;
    text-align: center;
    border:none;
    line-height:0.6rem;
    height:0.6rem;
    color:#fff;
    font-size:0.26rem;
    display: block;
    border-radius:0.1rem;
}
/***交易****/
.trade-nav-list{
    width:100%;
    text-align: center;
    height:0.89rem;
    background:#fff;
}
.trade-nav-list li{
    float: left;
    width:20%;
    font-size:0.32rem;
    color:#333;
    line-height:0.89rem;
    position: relative;
}
.trade-nav-list li:after{
    content:"";
    background:#fe0000;
    width:0.6rem;
    height:1px;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -0.3rem;
    display: none;
}
.trade-nav-list li a{
    display: block;
    width:100%;
    color:#333;
}
.trade-nav-list li.hover:after{
    display: block;
}
.trade-nav-list li.hover a{
    color:#fe0000;
}
.trade_cancel{
    margin-top: 0.2rem;
    background:#fff;
}
.trade_cancel-tiut{
    width:100%;
    padding:0 3%;
    border-bottom:1px solid #eee;
    line-height:0.79rem;
    height:0.79rem;
}
.trade_cancel-tiut span{
    float: left;
    font-size:0.28rem;
    color:#999;
    display: block;
    text-align: center;
    line-height:0.79rem;
}
.trade_cancel-tiut span.ww{
    width:23%;
}
.trade_cancel-list li{
    float: left;
    width:100%;
    text-align: center;
    border-top:1px solid #eee;
}
.trade_cancel-list li:first-child{
    border-top:none;
}
.trade_cancel-list li a{
    float: left;
    width:100%;
    display: block;
    padding:0.15rem 0;
}
.trade_cancel-list li .box{
    float: left;
}
.trade_cancel-list li .ww{
    width:23%;
}
.trade_cancel-list li h2{
    font-size:0.28rem;
    color:#333;
    line-height:0.4rem;
    height:0.4rem;
    overflow:hidden;
}
.trade_cancel-list li p{
    font-size:0.22rem;
    color:#888;
    line-height:0.31rem;
}
.trade_cancel-list li h3{
    font-size:0.28rem;
    color:#e83a3a;
    line-height:0.71rem;
}
.trade_cancel-list li h3.black{
    color:#666;
}
.trade_cancel-list li h3.green{
    color:#279d1b;
}
.trade_cancel-list li .delet{
    float: left;
    width:8%;
    height:0.71rem;
    background:url(../img/tra01.png) no-repeat center;
    background-size:0.26rem auto;
}
.trade_hold{
    padding-top: 0.2rem;
    width:100%;
}
.trade_hold-top{
    background:#fff url(../img/tra02.jpg) no-repeat center 1.5rem;
    background-size:100% auto;
    border-radius:5px;
    margin-bottom: 0.2rem;
}
.trade_hold-top h3{
    font-size:0.32rem;
    color:#333;
    text-align: center;
    line-height:0.46rem;
    padding-top: 0.23rem;
}
.trade_hold-top h2{
    font-size:0.4rem;
    color:#333;
    font-weight: bold;
    line-height:0.68rem;
    padding-bottom: 0.77rem;
    text-align: center;
}
.trade_hold-top dl{
    width:85.9%;
    margin:0 auto;
}
.trade_hold-top dd{
    float: left;
    width:100%;
    font-size:0.28rem;
    color:#999;
    line-height:0.55rem;
}
.trade_hold-top dd .fonts{
    color:#333;
}
.trade_hold-top .links{
    padding:0.16rem 0 0.4rem;
    width:85.9%;
    margin:0 auto;
}
.trade_hold-top .links a{
    width:2.6rem;
    border:1px solid #e83a3a;
    line-height:0.56rem;
    font-size:0.24rem;
    color:#e83a3a;
    text-align: center;
    border-radius:0.1rem;
}
.trade_hold-top .links a.delay{
    border-color: #fc8f29;
    color:#fc8f29;
}
.trade_hold-tit{
    width:100%;
    padding: 0 3% 0 4.6%;
    line-height:0.88rem;
    height:0.88rem;
    font-size:0.28rem;
    color:#999;
    background:#fff;
    position: relative;
     margin-bottom: 0.2rem;
}
.trade_hold-tit span{
    line-height:0.88rem;
    height:0.88rem;
    display: block;
    transform: scale(0.5);
    font-size:28px;
    position: relative;
    left:-24%;
}
.trade_hold-tit:after{
    content: "";
    width: 0.04rem;
    height: 0.3rem;
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -0.15rem;
    background: #fe0000;
}
.trade_hold-list li{
    background:#fff;
    margin-bottom: 0.2rem;
    border-radius:0.1rem;
    overflow:hidden;
    width:100%;
}
.trade_hold-list li a{
    display: block;
    width:100%;
}
.trade_hold-list li h2{
    font-size:0.28rem;
    color:#222;
    line-height:0.79rem;
    border-bottom:1px solid #eee;
    padding:0 3%;
}
.trade_hold-list li .time{
    font-size:0.24rem;
    color:#989898;
}
.trade_hold-list li dl{
    width:100%;
}
.trade_hold-list li dd{
    width:25%;
    float: left;
    text-align: center;
    padding:0.18rem 0 0.29rem;
}
.trade_hold-list li h3{
    font-size:0.28rem;
    color:#333;
    line-height:0.44rem;
}
.trade_hold-list li p{
    font-size:0.24rem;
    color:#999;
    line-height:0.43rem;
}
.trade-hold-info{
    margin-top:0.2rem;
    background:#fff url(../img/tra02.jpg) no-repeat center 2.46rem;
    background-size:100% auto;
    border-radius:5px;
    position: relative;
    text-align: center;
}
.trade-hold-info h3{
    font-size:0.32rem;
    color:#333;
    line-height:0.45rem;
    padding-top: 0.33rem;
}
.trade-hold-info p{
    font-size:0.24rem;
    color:#999;
    line-height:0.37rem;
    margin-bottom: 0.12rem;
}
.trade-hold-info h2{
    font-size:0.4rem;
    line-height:0.51rem;
    font-weight: bold;
}
.trade-hold-info h4{
    font-weight: normal;
    font-size:0.26rem;
    color:#999;
    line-height:0.35rem;
}
.trade-hold-info h4 .bb{
    color:#333;
}
.trade-hold-info dl{
    width:88%;
    margin:0 auto;
    padding: 0.98rem 0 0.24rem;
    text-align: left;
}
.trade-hold-info dd{
    width:100%;
    font-size:0.28rem;
    color:#999;
    line-height:0.57rem;
}
.trade-hold-info dd .fonts{
    color:#333;
}
.trade-hold-info .type{
    width:1.06rem;
    height:1.06rem;
    position: absolute;
    top:0.72rem;
    right:0.4rem;
    background-size:100% auto !important;
}
.trade-hold-info .type.process{
    background:url(../img/tra04.png) no-repeat center;
}
.trade-hold-info .type.end{
    background:url(../img/tra03.png) no-repeat center;
}
.trade-into-top{
    background:#fff;
    margin:0.2rem 0;
    position: relative;
    padding-top: 0.18rem;
}
.trade-into-top .left{
    width:53.5%;
}
.trade-into-top .right{
    width:40%;
}
.trade-into-top .right ul{
    border-top:1px solid #eee;
    padding-top: 0.18rem;
    margin-top: 0.18rem;
}
.trade-into-top .right ul:first-child{
    border-top:none;
    padding-top:0;
    margin-top:0;
}
.trade-into-top .right li{
    width:100%;
    color:#279d1b;
    font-size:0.28rem;
    float: left;
    line-height:0.5rem;
    text-align: center;
    position: relative;
}
.trade-into-top .right li .bb{
    margin:0 auto;
}
.trade-into-top .right .fonts{
    color:#333;
    position: absolute;
    left:0;
    top:0;
}
.trade-into-top .right .num{
    color:#666;
    position: absolute;
    right:0;
    top:0;
}
.trade-into-top .left input{
    width:100%;
    border:1px solid #ccc;
    padding-left: 0.69rem;
    font-size:0.26rem;
    color:#666;
    line-height:0.66rem;
    height:0.68rem;
    display:block;
    background:url(../img/tra05.png) no-repeat 0.19rem center;
    background-size:0.3rem auto;
}
.trade-into-top .left .box{
    width:100%;
    border:1px solid #ccc;
    padding:0.08rem 0;
    border-radius:5px;
    margin:0.3rem 0 0.2rem;
    line-height:0.5rem;
}
.trade-into-top .left .content-font{
    font-size:0.26rem;
    color:#999;
    line-height:0.5rem;
    height:0.5rem;
    width:64%;
    float: left;
    display:block;
    text-align: center;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.trade-into-top .left .bb{
    color:#666;
    width:18%;
    line-height: 0.5rem;
    height: 0.5rem;
    text-align: center;
    font-size: 0.4rem;
}
.trade-into-top .left .tsd{
    font-size:0.24rem;
    color:#999999;
    line-height:0.24rem;
}
.trade-into-top .left .tsd i{
    font-style: inherit;
}
.trade-into-top .left .lists{
    width:100%;
}
.trade-into-top .left li{
    width:100%;
    font-size:0.28rem;
    color:#999;
    float: left;
    line-height:0.48rem;
}
.trade-into-top .left li h2{
    font-size:0.4rem;
    line-height:0.51rem;
    margin-bottom: 0.18rem;
}
.trade-into-top .left li h3{
    font-size:0.26rem;
    line-height:0.51rem;
}
.trade-into-top .left li p{
    color:#333;
}
.trade-into-top .left li:nth-child(2n){

}
.trade-into-top .left li.none h2{
    color:#333 !important;
}
.trade-into-top .left li.none h3{
    color:#999 !important;
}
.trade-into-top .submit{
    width:100%;
    text-align: center;
    border:none;
    background:#fe0000;
    color:#fff;
    font-size:0.28rem;
    line-height:0.88rem;
    height:0.88rem;
    margin-top: 0.18rem;
    border-radius:5px;
}
.trade-into-top .submit.out{
    background:#0e8afd;
}
.trade-into-top .trade-into-tb{
    height:0.64rem;
    color:#999;
    width:100%;
    font-size:0.28rem;
}
.trade-into-top .trade-into-tb i{
    font-style: inherit;
    color:#333;
}
.none-trade-into{
    width:100%;
    text-align: center;
    padding-top: 2.98rem;
}
.none-trade-into img{
    width:2.8rem;
}
.none-trade-into p{
    font-size:0.22rem;
    color:#333;
    line-height:1rem;
}
.none-trade-into a{
    color:#fe0000;
}
/***登录注册忘记密码****/
.login-top{
    width:100%;
    background:url(../img/p01.png) no-repeat bottom center;
    background-size:100% auto;
    padding:0 0 1.39rem;
    text-align: center;
}
.login-top h2{
    font-size:0.38rem;
    color:#fff;
    line-height:0.89rem;
}
.login-top img{
    width:1.64rem;
    padding-top: 1.19rem;
}
.login-from{
    padding-top: 0.74rem;
}
.login-from input.text{
    width:100%;
    font-size:0.28rem;
    color:#333;
    border:none;
    border-bottom:1px solid #ddd;
    margin-bottom: 0.34rem;
    background:none;
    line-height:0.76rem;
    height:0.77rem;
    background:transparent;
    padding:0 0.3rem 0 0.68rem;
    background-size:0.36rem auto !important;
    background-position:0.07rem center;
    background-repeat:no-repeat;
}
.login-from input.tel{
    background-image:url(../img/p03.png);
}
.login-from input.pas{
    background-image:url(../img/p04.png);
}
.login-from input:-moz-placeholder,
.login-from textarea:-moz-placeholder {
  color: #666;
}

.login-from input::-moz-placeholder,
.login-from textarea::-moz-placeholder {
  color: #666;
}

.login-from input:-ms-input-placeholder,
.login-from textarea:-ms-input-placeholder {
  color: #666;
}

.login-from input::-webkit-input-placeholder,
.login-from textarea::-webkit-input-placeholder {
  color: #666;
}
.login-from .box{
    display: block;
    position: relative;
}
.login-from .clickable{
    display: block;
    width:0.35rem;
    height:0.25rem;
    position: absolute;
    right:0;
    top:50%;
    margin-top: -0.12rem;
    background:url(../img/p05.png) no-repeat center;
    background-size:100% auto !important;
}
.login-from .clickable.hover{
    background:url(../img/p06.png) no-repeat center;
}
.login-from input[type="submit"]{
    width:97%;
    margin:0.86rem auto 0.19rem;
    display: block;
    background:url(../img/p07.png) no-repeat center;
    background-size:100% auto;
    line-height:0.88rem;
    height:0.88rem;
    border:none;
    color:#fff;
    text-align: center;
    padding:0;
    font-size:0.3rem;
    border-radius:0.55rem;
}
.login-from .links{
    width:97%;
    margin:0 auto;
}
.login-from .links a{
    font-size:0.26rem;
    color:#999;
    line-height:0.42rem;
    padding-bottom: 0.5rem;
}
.login-from.bb{
    padding-top: 0.8rem;
}
.login-from input.code{
    background-image:url(../img/p08.png);
}
.login-from input.invite{
    background-image:url(../img/p09.png);
}
.login-from #code{
    position: absolute;
    top:0.4rem;
    right:0;
    font-size:0.28rem;
    color:#fe0000;
    border:none;
    background:none;
    line-height:0.3rem;
    padding:0 0.12rem 0 0.31rem;
    border-left:1px solid #ccc;
}
.login-from #code.hover{
    color:#666;
}
.login-from .ttd{
    font-size:0.2rem;
    color:#999;
    text-align: center;
    line-height:0.3rem;
    padding-top:0.55rem;
}
.login-from .ttd .red{
    color:#fe0000;
}
.register-fonts{
    width:100%;
    text-align: center;
    background:url(../img/p10.jpg) no-repeat center;
    background-size:100% auto;
    color:#fff;
    font-size:0.38rem;
    line-height:0.88rem;
    height:0.88rem;
}
.personal-list{
    width:100%;
    background:#fff;
    margin-bottom:0.2rem;
}
.personal-list a{
    display: block;
    width:94%;
    margin:0 auto;
    border-top:1px solid #ddd;
    line-height:0.9rem;
    padding-left: 0.58rem;
    font-size:0.28rem;
    color:#222;
    position: relative;
    background-repeat:no-repeat !important;
    background-position:0.09rem center !important;
    background-size:0.3rem auto !important;
}
.personal-list a:first-child{
    border-top:none;
}
.personal-list a.ico1{
    background-image:url(../img/per02.png);
}
.personal-list a.ico2{
    background-image:url(../img/per03.png);
}
.personal-list a.ico3{
    background-image:url(../img/per04.png);
}
.personal-list a.ico4{
    background-image:url(../img/per05.png);
}
.personal-list a.ico5{
    background-image:url(../img/per06.png);
}
.personal-list a.ico6{
    background-image:url(../img/per07.png);
}
.personal-list a.ico7{
    background-image:url(../img/per08.png);
}
.personal-list a.ico8{
    background-image:url(../img/per09.png);
}
.personal-list a.ico9{
    background-image:url(../img/per30.png);
}
.personal-list a.ico10{
    background-image:url(../img/per31.png);
}
.personal-list a.ico11{
    background-image:url(../img/per32.png);
}
.personal-list a.ico12{
    background-image:url(../img/per33.png);
}
.personal-list a.ico13{
    background-image:url(../img/per34.png);
}
.personal-list a .Group-input{
    width:100%;
    background:none;
    height:100%;
    border:none;
    display: block;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    filter:alpha(opacity=0);
}
.personal-list span.tss,.personal-data-list span.tss{
    font-size:0.2rem;
    color:#989898;
    height:0.9rem;
    line-height:0.9rem;
}
.personal-data-list span.tss{
    height:0.87rem;
    line-height:0.87rem;
}
.personal-list span.jt,.personal-data-list span.jt{
    padding-right: 0.2rem;
    background:url(../img/wel11.png) no-repeat right center;
    background-size:0.11rem;
}
.personal-top{
    background:url(../img/per10.jpg) no-repeat center;
    background-size:cover;
    width:100%;
    text-align: center;
    padding:0 3% 0.6rem;
}
.personal-top .title{
    font-size:0.38rem;
    color:#fff;
    line-height:0.89rem;
    position: relative;
}
.personal-top .title a{
    display: block;
    width:0.36rem;
    height:0.36rem;
    background:url(../img/per11.png) no-repeat center;
    background-size:100% auto;
    margin-top: 0.26rem;
    position: absolute;
    top:50%;
    right:0;
    margin-top: -0.18rem;
}
.personal-top .links{
    text-align: center;
    font-size:0;
}
.personal-top .links a{
    display: inline-block;
    width:2.1rem;
    color:#fff;
    margin:0 0.3rem;
    border:1px solid #fff;
    font-size:0.26rem;
    line-height:0.56rem;
    border-radius:5px;
}
.personal-top .links a:first-child{
    color:#555;
    border-color:#555;
}
.personal-top .none-login{
    margin-bottom: 0.34rem;
}
.personal-top .none-login a{
    display: block;
    font-size:0.44rem;
    color:#fff;
    line-height:2.09rem;
    width:100%;
}
.personal-top .login-cese{
    text-align: center;
}
.personal-top .login-cese a{
    display: block;
    width:100%;
}
.personal-top .login-cese h3{
    font-size:0.3rem;
    color:#fff;
    line-height:0.66rem;
}
.personal-top .login-cese h2{
    font-size:0.6rem;
    color:#fff;
    line-height:0.66rem;
    font-weight: bold;
}
.personal-top .login-cese p{
    font-size:0.24rem;
    color:#fff;
    line-height:1.11rem;
}
.personal-top .login-cese .ico{
    width:0.11rem;
    height:0.18rem;
    display: inline-block;
    margin-left: 0.2rem;
    background:url(../img/per12.png) no-repeat center center;
    background-size:100% auto;
}
.vouchers-title{
    text-align: center;
    line-height:0.88rem;
    width:100%;
    background:#fff;
    padding:0 3%;
    font-size:0.38rem;
    color:#333;
}
.vouchers-title a{
    float: right;
    font-size:0.28rem;
    color:#666;
}
.personal-attr{
    padding:0.4rem 0;
}
.personal-attr .list{
    padding-bottom: 0.81rem;
    width:100%;
}
.personal-attr .list li{
    float: left;
    width:48.5%;
    background:url(../img/per13.png) no-repeat center;
    background-size:100% 100%;
    padding:3%;
    position: relative;
}
.personal-attr .list li:nth-child(2n){
    float: right;
}
.personal-attr .list li .bg{
    width:100%;
    height:2.1rem;
    border-radius:5px;
    background-size:cover !important;
}
.personal-attr .list li .btn{
    width:0.8rem;
    height: 0.8rem;
    position: absolute;
    background:#fff;
    text-align: center;
    line-height:0.8rem;
    border-radius:50%;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    left:50%;
    margin-left: -0.4rem;
    bottom:-0.4rem;
}
.personal-attr .list li .btn img{
    width:0.35rem;
}
.file-box{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    display: none;
    background:rgba(0,0,0,.5);
    z-index:11;
}
.file-box .bottom{
    width:100%;
    background:#fff;
    position: absolute;
    bottom:-50%;
    left:0;
}
.file-box .top{
    width:100%;
    text-align: center;
    font-size:0;
    padding:0.3rem 0;
}
.file-box .top label{
    width:30%;
    position: relative;
    font-size: 0.24rem;
    line-height:0.24rem;
    text-align: center;
    display: inline-block;
    padding-top: 0.98rem;
}
.file-box .top label.ico1{
    background:url(../img/per18.png) no-repeat center top;
    background-size:0.8rem auto;
}
.file-box .top label.ico2{
    background:url(../img/per19.png) no-repeat center top;
    background-size:0.8rem auto;
}
.file-box .top label input{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    filter:alpha(opacity=0);
}
.file-box .file-box-cel{
    width:100%;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.32rem;
    color:#666;
    border-top:1px solid #ddd;
}
.label-box{
    width:100%;
    display: block;
    border-bottom:1px solid #ddd;
    line-height:0.87rem;
}
.label-box .fonts{
    float: left;
    font-size:0.28rem;
    color:#444;
    display: block;
    line-height:0.87rem;
    width:20%;
}
.label-box input{
    float: left;
    width:80%;
    height:0.87rem;
    line-height:0.87rem;
    font-size:0.24rem;
    color:#666;
    border:none;
    background:none;
}
.label-submit{
    display: block;
    width:100%;
    text-align: center;
    border:none;
    background:#fe0000;
    border-radius:5px;
    line-height:0.88rem;
    height:0.88rem;
    color:#fff;
    font-size:0.28rem;
    margin-top: 1.2rem;
}
.examine{
    padding-top: 0.2rem;
}
.examine-top{
    width:100%;
    padding:0.5rem 3% 0.52rem;
    background:#fff;
    margin:0 0 0.2rem;
    text-align: center;
}
.examine-top img{
    width:1.57rem;
    margin-bottom: 0.22rem;
}
.examine-top h2{
    font-size:0.28rem;
    color:#555;
    line-height:0.42rem;
}
.examine-top p{
    font-size:0.24rem;
    color:#999;
    line-height:0.4rem;
}
.examine-bot{
    width:100%;
    padding:0 3%;
    background:#fff;
}
.examine-bot .tts{
    width:100%;
    border-top:1px solid #ddd;
    font-size:0.24rem;
    color:#989898;
    line-height:0.87rem;
}
.examine-bot .tts:first-child{
    border-top:none;
}
.examine-bot .tts span{
    font-size:0.28rem;
    color:#444;
    width:20%;
}
.personal-card{
    margin-top: 0.3rem;
    padding:0.3rem;
    background-size:cover !important;
    border-radius:0.15rem;
    overflow:hidden;
    position:relative;
}
.personal-card .picture{
    width:13%;
    float: left;
    margin-right:5%;
}
.personal-card .con{
    float: left;
    width:82%;
}
.personal-card h2{
    font-size:0.36rem;
    color:#fff;
    line-height:0.5rem;
    margin-bottom: 0.15rem;
}
.personal-card p{
    font-size:0.28rem;
    color:#fff;
    line-height:0.47rem;
    margin-bottom: 0.39rem;
}
.personal-card h3{
    font-size:0.4rem;
    color:#fff;
    line-height:0.52rem;
}
.optional-box{
    position:relative;
    padding-top: 0.2rem;
}
.optional-text{
    width:92%;
    min-height:6rem;
    margin:0 auto;
    background:#fff;
    display: block;
    border:none;
    border-radius:0.2rem;
    font-size:0.26rem;
    color:#666;
    line-height:0.36rem;
    padding:0.23rem 0.36rem;
}
.optional-box .fonts{
    font-size:0.26rem;
    color:#989898;
    line-height:0.36rem;
    position: absolute;
    bottom:0.2rem;
    right:6%;
}
.information{
    width:100%;
    background:#fff;
}
.information a{
    display: block;
    width:100%;
    border-top:1px solid #ddd;
    line-height:0.88rem;
    padding-left: 0.68rem;
    font-size:0.28rem;
    color:#222;
    background-size:0.3rem auto !important;
}
.information a:first-child,.information-list li:first-child{
    border-top:none;
}
.information a.ico2{
    background: url(../img/info02.png) no-repeat 0.09rem center;
}
.information a.ico3{
    background: url(../img/info03.png) no-repeat 0.09rem center;
}
.information a.ico4{
    background: url(../img/info04.png) no-repeat 0.09rem center;
}
.information a .num{
    color:#fff;
    font-size:0.2rem;
    background:#d63834;
    float: right;
    padding:0 0.1rem;
    line-height:0.3rem;
    border-radius:0.55rem;
    margin-top:0.29rem;
}
.information a .fonts{
    float: right;
    color:#989898;
    font-size:0.24rem;
}
.none-data{
    padding-top:4rem;
    text-align: center;
}
.none-data img{
    width:1.86rem;
}
.none-data p{
    font-size:0.28rem;
    color:#333;
    line-height:0.86rem;
}
.information-list{
    padding-top: 0.2rem;
}
.information-list li{
    width:100%;
    background:#fff;
    margin-bottom: 0.2rem;
    border-radius:5px;
    overflow:hidden;
}
.information-list li h2{
    border-bottom:1px solid #eee;
    line-height:0.88rem;
    height:0.89rem;
    overflow:hidden;
    font-size:0.28rem;
    color:#333;
    padding:0 0.22rem;
}
.information-list li .time{
    font-size:0.24rem;
    color:#999;
}
.information-list li .fonts{
    padding:0.25rem 0.21rem 0.55rem;
}
.information-list li p{
    font-size:0.26rem;
    color:#666;
    line-height:0.36rem;
}
.personal-data-list span.tss{
    font-size:0.2rem;
    color:#989898;
    height:0.9rem;
    line-height:0.9rem;
}
.personal-data-list span.tss{
    height:0.87rem;
    line-height:0.87rem;
}
.personal-data-list span.jt{
    padding-right: 0.2rem;
    background:url(../img/wel11.png) no-repeat right center;
    background-size:0.11rem;
}
.personal-data-list{
    width:100%;
    background:#fff;
    margin-bottom: 0.3rem;
}
.personal-data-list a{
    display: block;
    width:94%;
    font-size:0.28rem;
    color:#222;
    margin:0 auto;
    position:relative;
    line-height:0.87rem;
    border-top:1px solid #ddd;
}
.personal-data-list a:first-child{
    border-top:none;
}
.personal-data-list .picture{
    width:0.6rem;
    height:0.6rem;
    border-radius:50%;
    float: right;
    display: block;
    margin-top: 0.13rem;
    background-size:cover !important;
}
.personal-data-list .open{
    width:20px;
    height:11px;
    position:absolute;
    border-radius:5px;
    border:1px solid #ddd;
    float: right;
    background:#fff;
    transition:all 0.3s;
    top:50%;
    margin-top:-5px;
    right:0;
}
.personal-data-list .open.hover{
    background:#66bc6a;
    border-color: #66bc6a;
}
.personal-data-list .open:after{
    content:"";
    width:9px;
    height:9px;
    background:#ddd;
    border-radius:50%;
    position: absolute;
    top:0px;
    left:0px;
    transition:all 0.3s;
}
.personal-data-list .open.hover:after{
    left:10px;
    background:#fff;
}
.exit,.personal-cash input[type="submit"],.personal-attr input[type="submit"]{
    width:94%;
    margin:1.2rem auto 0;
    display: block;
    text-align: center;
    background:#fe0000;
    font-size:0.26rem;
    color:#fff;
    line-height:0.88rem;
    background:#e74f4c;
    border-radius:0.1rem;
}
.change-informationa{
    position: fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,.6);
    width:100%;
    height:100%;
    z-index:12;
    display: none;
}
.change-informationa .content{
    width:5.4rem;
    background:#F7F7F7;
    border-radius:10px;
    position: absolute;
    top:-20%;
    left:50%;
    padding-top: 0.35rem;
    margin:-1.8rem 0 0 -2.7rem;
    text-align: center;
    overflow:hidden;
}
.change-informationa h2{
    font-weight: bold;
    font-size:0.34rem;
    line-height:0.54rem;
    color:#333;
}
.change-informationa h2.bb{
    padding-bottom: 0.3rem;
}
.change-informationa p{
    font-size:0.24rem;
    color:#999;
    line-height:0.34rem;
}
.change-informationa input{
    background:#fff;
    border:1px solid #999;
    width:4.78rem;
    margin:0.35rem auto 0.2rem;
    padding:0 0.1rem;
    line-height:0.54rem;
    height:0.56rem;
    color:#666;
    font-size:0.26rem;
}
.change-informationa .btns{
    width:100%;
    border-top:1px solid #E3E4E5;
    height:0.88rem;
    line-height:0.88rem;
}
.change-informationa .btns a{
    display: block;
    float: left;
    width:50%;
    color:#fe0000;
    font-size:0.34rem;
    border-left:1px solid #E3E4E5;
}
.change-informationa .btns a:first-child{
    color:#999;
    border-left:none;
}
.personal-data,.personal-cash{
    padding-top: 0.2rem;
}
.personal-cash form{
    display: block;
}
.personal-cash label{
    width:100%;
    display: block;
    margin-bottom: 0.3rem;
    padding:0 3% 0 0.9rem;
    font-size:0.3rem;
    color:#989898;
    line-height:0.88rem;
    background-size:0.31rem auto !important;
}
.personal-cash label.ico1{
    background:#fff url(../img/per25.png) no-repeat 0.31rem center;
}
.personal-cash label.ico2{
    background:#fff url(../img/per26.png) no-repeat 0.31rem center;
}
.personal-cash label input{
    width:100%;
    border:none;
    font-size:0.26rem;
    color:#666;
}
.personal-cash label input::-webkit-input-placeholder,.personal-attr label input::-webkit-input-placeholder,.optional-text::-webkit-input-placeholder{
    color: #989898;
}
.personal-cash label input:-moz-placeholder,.personal-attr label input:-moz-placeholder,.optional-text:-moz-placeholder{
    color: #989898;
}
.personal-cash label input::-moz-placeholder,.personal-attr label input::-moz-placeholder,.optional-text::-moz-placeholder{
    color:#989898;
}
.personal-cash label input:-ms-input-placeholder,.personal-attr label input:-ms-input-placeholder,.optional-text:-ms-input-placeholder{
    color: #989898;
}
.personal-cash input[type="submit"],.personal-attr input[type="submit"]{
    border:none;
    width:94%;
    margin:0.6rem auto 0;
}
#payPassword_container{
    padding-top: 0.8rem;
    text-align: center;
    opacity:0;
    filter:alpha(opacity=0);
    position: relative;
}
#payPassword_container.hover{
    opacity:1;
    filter:alpha(opacity=100)
}
.six-password {
    position: relative;
    height: 33px;
    width: 182px;
    margin: 0 auto;
    display: block;
    vertical-align: middle;
}
.sixDigitPassword {
    height: 26px;
    color: #fff;
    font-size: 12px;
    -webkit-user-select: initial;
    outline: 'none';
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width:100%;
    height:100%;
  }
.sixDigitPassword-box {
    cursor:text;
    background: #fff;
    outline: none;
    position: relative;
    padding:5px 0;
    height:33px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}
.sixDigitPassword-box i {
    float: left;
    display: block;
    padding: 4px 0;
    height:23px;
    line-height: 15px;
    border-left: 1px solid #cccccc;
}
.sixDigitPassword-box i:first-child{
    border-left:none;
}
.sixDigitPassword-box .active {
    background: url('../img/password-blink.gif') no-repeat center center;
}
.sixDigitPassword-box b {
    display: block;
    margin: 0 auto;
    width:29px;
    height:15px;
    overflow: hidden;
    visibility:hidden;
    background: url('../img/passeord-dot.png') no-repeat center;
}
.sixDigitPassword-box span {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width:30px;
    height: 30px;
    border: 1px solid rgba(82, 168, 236, .8);
    border: 1px solid #00ffff\9;
    border-radius: 2px;
    visibility: hidden;
    -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.75), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.ui-securitycore  .ui-form-item .ui-form-explain{
    margin-top: 8px;
}
.account{
    padding-top: 0.2rem;
}
.account-top{
    width:100%;
    background:#fff;
    padding:0.14rem 0 0.4rem;
    margin-bottom: 0.2rem;
}
.account-top h2{
    font-size:0.28rem;
    color:#333;
    line-height:0.98rem;
}
.account-top h1{
    font-size:0.5rem;
    color:#333;
    float: left;
    line-height:0.6rem;
}
.account-top .links,.account-center .links{
    width:2rem;
    border:1px solid #fe0000;
    text-align: center;
    line-height:0.58rem;
    position:relative;
    border-radius:0.1rem;
}
.account-top .links:after,.account-center .links:before{
    content:"";
    width:1px;
    height:0.3rem;
    background:#fe0000;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -0.15rem;
}
.account-top .links a,.account-center .links a{
    display: block;
    float: left;
    width:50%;
    font-size:0.26rem;
    color:#fe0000;
}
.account-top p{
    font-size:0.2rem;
    color:#fff;
    padding-top: 0.3rem;
    line-height:0.4rem;
}
.personal-water-list{
    width:100%;
    padding-top: 0.2rem;
}
.personal-water-list .title{
    width:100%;
    background:#fff url(../img/per27.png) no-repeat 97% center;
    padding:0 3%;
    font-size:0.3rem;
    color:#707070;
    line-height:0.88rem;
    background-size:0.18rem auto !important;
}
.personal-water-list dl{
    width:100%;
    background:#f6f4f5;
    display: none;
}
.personal-water-list dd{
    width:100%;
    padding:0 3% 0 0.66rem;
    line-height:0.68rem;
    font-size:0.26rem;
    color:#666;
    border-top:1px solid #fff;
    background-size:0.3rem auto !important;
}
.personal-water-list dd.ico1{
    background:url(../img/per28.png) no-repeat 3% center;
}
.personal-water-list dd.ico2{
    background:url(../img/per29.png) no-repeat 3% center;
}
.personal-water-list dd:first-child{
    border-top:none;
}
.personal-water-list li.hover .title{
    background:#fff url(../img/per27_h.png) no-repeat 97% center;
}
.can-buy{
    font-size:0.24rem;
    color:#999;
    line-height:0.24rem;
    margin-bottom: 0.15rem;
}
.can-buy span{
    color:#333;
}
.change-informationa .lists{
    width:100%;
    padding:0 5% 0.25rem;
}
.change-informationa .lists li{
    float: left;
    width:44%;
    text-align: left;
}
.change-informationa .lists li:nth-child(2n+1){
    float: right;
}
.change-informationa .lists li:first-child{
    width:100%;
    float: left;
}
.change-informationa .lists h3{
    float: left;
    font-size:0.24rem;
    color:#888;
    margin-right: 0.25rem;
    line-height:0.44rem;
}
.change-informationa .lists p{
    font-size:0.26rem;
    color:#333;
    line-height:0.44rem;
}
.change-informationa .lists p.blue,.change-informationa .btns a.blue{
    color:#0e8afd;
}
.bond{
    padding-top: 0.2rem;
}
.bond-top{
    width:100%;
    background:#fff;
    margin-bottom: 0.2rem;
}
.bond-top h2,.bond-bot h2{
    font-size:0.28rem;
    color:#999;
    padding:0 3%;
    line-height:0.79rem;
    border-bottom:1px solid #eee;
}
.bond-top .click-bond{
    position: relative;
    padding:0.08rem 0.2rem 0.13rem 0;
    background:url(../img/wel11.png) no-repeat 99% center;
    background-size:0.11rem auto;
}
.bond-top .click-bond h3{
    font-size:0.28rem;
    color:#333;
    line-height:0.46rem;
}
.bond-top .click-bond p{
    font-size:0.24rem;
    color:#999;
    line-height:0.33rem;
}
.click-bond .Group-input,.trader-info-center .bot-list li input{
    width:100%;
    height:100%;
    background:none;
    border:none;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:1;
}
.bond-bot{
    background:#fff;
    width:100%;
    padding-bottom: 0.4rem;
}
.bond-bot form{
    display: block;
    width:100%;
}
.bond-bot label{
    border-bottom:1px solid #eee;
    font-size:0.4rem;
    color:#333;
    line-height:0.88rem;
    display: block;
}
.bond-bot label .tts{
    font-size:0.28rem;
    color:#999;
}
.bond-bot label input{
    display: block;
    float: right;
    background:none;
    border:none;
    font-size:0.28rem;
    color:#333;
    width:93%;
    height:0.88rem;
    line-height:0.88rem;
}
.bond-bot label .right{
    text-align: right;
    font-size:0.24rem;
}
.bond-bot label .right input{
    width:auto;
}
.bond-bot h3{
    font-size:0.3rem;
    color:#fe0000;
    line-height:0.46rem;
    padding-top: 0.3rem;
}
.bond-bot p{
    font-size:0.24rem;
    color:#666;
    line-height:0.4rem;
    padding-bottom: 0.32rem;
}
.bond-bot .sibmit{
    background:#fe0000;
    padidng:0;
    margin:0;
    border:none;
    width:100%;
    border-radius:5px;
    display: block;
    line-height:0.88rem;
    height:0.88rem;
    text-align: center;
    color:#fff;
    font-size:0.28rem;
}
.bond-top .picture{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    display: block;
    float: left;
    margin: 0.13rem 0.21rem 0 0;
    background-size: cover !important;
}
.bond-top .dd{
    font-size:0.2rem;
    color:#989898;
    line-height:0.4rem;
    height:0.4rem;
    position: absolute;
    right:0;
    top:50%;
    margin-top: -0.2rem;
    padding-right:7%;
}
.trade .click-bond{
    padding: 0.08rem 5% 0.13rem 3%;
    background: url(../img/wel11.png) no-repeat 97% center;
    background-size: 0.11rem auto;
}
.trade-info-list li{
    float: left;
    width:33%;
    text-align: center;
    padding:0.19rem 0 0.14rem;
}
.trade-info-list li h3{
    font-size:0.24rem;
    color:#999;
    line-height:0.43rem;
}
.trade-info-list li p{
    font-size:0.32rem;
    color:#333;
    line-height:0.5rem;
}
.trade-info-list li p.hover{
    color:#333 !important;
}
.trade-info-list li .it{
    display: inline-block;
    width:0.21rem;
    height:0.21rem;
    background:url(../img/tra07.png) no-repeat center;
    background-size:100%;
    margin-left: 0.1rem;
}
.trade-info-list li .hide{
    display: inline-block;
    width:0.36rem;
    height:0.27rem;
    background:url(../img/p06.png) no-repeat center;
    background-size:100%;
    margin-left: 0.1rem;
}
.trade-info-list li .hide.active{
    background:url(../img/p05.png) no-repeat center;
    background-size:100%;
}
.links-list{
    padding-bottom: 0.1rem;
}
.links-list li{
    float: left;
    width:20%;
    text-align: center;
    padding:0.31rem 0 0;
}
.links-list li a{
    display: block;
    width:100%;
}
.links-list li img{
    width:0.61rem;
}
.links-list li p{
    font-size:0.24rem;
    color:#999;
    line-height:0.63rem;
}
.download{
    width:100%;
    background:#fff;
    text-align: center;
}
.download .download-top{
    width:100%;
    background:url(../img/d02.png) no-repeat center;
    background-size:100% 100%;
    padding:2.59rem 0 2.55rem;
}
.download .download-top img{
    width:4.01rem;
    padding:0 0 0.72rem;
}
.download .download-top p{
    font-size:0.4rem;
    color:#fdfdfd;
    line-height:0.55rem;
    letter-spacing:2px;
}
.download-bot{
    padding:0.9rem 0 1.5rem;
    text-align: center;
}
.download-bot a{
    display: block;
    width:5.01rem;
    height:0.89rem;
    line-height:0.89rem;
    text-align: center;
    background:url(../img/d03.png) no-repeat center;
    background-size:100% 100%;
    border-radius:0.45rem;
    color:#fff;
    margin:0 auto 0.3rem;
    font-size:0.4rem;
    box-shadow:0 10px 16px rgba(27,131,230,.35);
}
.download-bot a span{
    padding-left: 0.65rem;
    background:url(../img/d04.png) no-repeat left center;
    background-size:0.39rem;
}
.download-bot a span.ico1{
    background:url(../img/d05.png) no-repeat left center;
    background-size:0.36rem;
}
.download-bot a span.ico2{
    background:url(../img/d06.png) no-repeat left center;
    background-size:0.34rem;
}
.download-bot p{
    font-size:0.3rem;
    color:#333;
    letter-spacing:3px;
    line-height:0.48rem;
}
.trader-info{
    padding-top: 0.2rem;
}
.trader-info-links{
    width:100%;
    margin-bottom: 0.2rem;
    background:#fff;
    height:0.88rem;
    padding:0 3%;
    line-height:0.88rem;
}
.trader-info-links a{
    font-size:0.28rem;
    color:#0e8afd;
}
.trader-info-links a.second{
    color:#fe0000;
}
.trader-info-center{
    width:100%;
    background:#fff;
    padding:0.4rem 3% 0.2rem;
}
.trader-info-center .top-list{
    padding-bottom: 0.4rem;
}
.trader-info-center .top-list li{
    float: left;
    width:50%;
    text-align: center;
    border-left:1px solid #eee;
}
.trader-info-center .top-list li:first-child{
    border-left:none;
}
.trader-info-center .top-list h2{
    font-size:0.32rem;
    color:#fd9e0e;
    line-height:0.3rem;
    padding-bottom: 0.18rem;
}
.trader-info-center .top-list p{
    font-size:0.24rem;
    color:#999;
    line-height:0.24rem;
}
.trader-info-center .bot-list{
    width:100%;
}
.trader-info-center .bot-list li{
    float: left;
    width:36%;
    margin:0 7% 0.2rem;
    text-align: center;
    line-height:0.56rem;
    font-size:0.24rem;
    color:#e83a3a;
    border:1px solid #e83a3a;
    border-radius:5px;
    position: relative;
}
.trader-info-bot{
    width:100%;
    background:#fff;
    padding:0 3% 0.31rem;
    margin: 0.2rem 0;
}
.trader-info-bot ul{
    width:100%;
}
.trader-info-bot li{
    width:100%;
    line-height:0.88rem;
    height:0.88rem;
    overflow:hidden;
    border-bottom:1px solid #eee;
    font-size:0.28rem;
    color:#999;
}
.trader-info-bot li p{
    color:#333;
    font-size:0.28rem;
    line-height:0.88rem;
}
.trader-info-bot li .red{
    color:#fe0000;
}
.trader-info-bot .title{
    font-size:0.3rem;
    color:#fe0000;
    line-height:0.45rem;
    padding-top: 0.3rem;
}
.trader-info-bot .fonts{
    font-size:0.24rem;
    color:#666;
    line-height:0.4rem;
}
.change-informationa .fonts{
    width:4.75rem;
    margin:0 auto;
    text-align: left;
    padding-bottom: 0.25rem;
}
.change-informationa .fonts label{
    display: block;
    font-size:0.4rem;
    color:#333;
    line-height:0.65rem;
    height:0.65rem;
}
.change-informationa .fonts input{
    background:none;
    border:none;
    padding-left: 0.2rem;
    font-size:0.28rem;
    color:#333;
    line-height:0.65rem;
    width: 80%;
    margin: 0;
    height: 0.65rem;
}
.change-informationa .fonts p{
    font-size:0.24rem;
    color:#666;
    line-height:0.32rem;
}
.change-informationa .fonts h3{
    font-size:0.4rem;
    line-height:0.56rem;
    color:#999;
    height: 0.56rem;
}
.change-informationa .fonts .num{
    font-size:0.28rem;
}
.trader-record{
    padding-top: 0.2rem;
}
.trader-record-top{
    width:100%;
    font-size:0;
    text-align: center;
    background:#fff;
    height:0.9rem;
}
.trader-record-top a{
    display: inline-block;
    font-size:0.32rem;
    color:#333;
    line-height:0.9rem;
    height:0.9rem;
    position: relative;
    margin:0 0.5rem;
}
.trader-record-top a:after{
    content:"";
    width:0;
    height:1px;
    position: absolute;
    bottom:0;
    left:50%;
    background:#fe0000;
}
.trader-record-top a.hover{
    color:#fe0000;
}
.trader-record-top a.hover:after{
    left:0;
    width:100%;
}
.trader-record-bot{
    padding-top: 0.2rem;
}
.trader-record-bot .content{
    display: none;
}
.trader-record-bot ul{
    width:100%;
}
.trader-record-bot li{
    width:100%;
    float: left;
    background:#fff;
    padding:0.1rem 3%;
    margin-bottom: 0.2rem;
}
.trader-record-bot li h2{
    font-size:0.28rem;
    color:#999;
    line-height:0.8rem;
    height:0.8rem;
    width:53%;
}
.trader-record-bot li .con{
    width:46%;
}
.trader-record-bot li h3{
    text-align: right;
    font-size:0.28rem;
    color:#333;
    line-height:0.4rem;
}
.trader-record-bot li p{
    text-align: right;
    font-size:0.24rem;
    color:#999;
    line-height:0.4rem;
}
.trade-info-asse{
    padding:0.47rem 0 0.66rem;
}
.trade-info-asse .all-line{
    width:94%;
    background:#f3f5f7;
    height:0.12rem;
    border-radius:8px;
    margin:0 auto;
    position: relative;
}
.trade-info-asse .blue-line{
    height:0.12rem;
    border-radius:8px;
    position: absolute;
    background:#2f6adb;
    z-index:1;
    left:0;
    top:0;
}
.trade-info-asse .yell-line{
    height:0.12rem;
    border-radius:8px;
    width:50%;
    position: absolute;
    background:#ffa825;
    z-index:2;
    left:0;
    top:0;
}
.trade-info-asse .red-line{
    height:0.12rem;
    border-radius:8px;
    position: relative;
    width:33%;
    background:#ed1814;
    z-index:3;
}
.trade-info-asse .red-line span{
    font-size:0.24rem;
    color:#ed1814;
    line-height:0.47rem;
    position: absolute;
    top:0.12rem;
    left:0;
}
.trade-info-asse .yell-line span{
    font-size:0.24rem;
    color:#ffa825;
    line-height:0.47rem;
    position: absolute;
    top:-0.47rem;
    right: -0.6rem;
}
.trade-info-asse .blue-line span{
    font-size:0.24rem;
    color:#2f6adb;
    line-height:0.47rem;
    position: absolute;
    top:-0.47rem;
    right:0;
}
.trade-info-asse .qiu{
    width:0.2rem;
    height:0.2rem;
    z-index:4;
    position: absolute;
    left:0;
    top:50%;
    margin-top: -0.1rem;
    border-radius:50%;
    background:#2f6adb;
}
.trade_hold-top dd .fonts.red,.trade_hold-list li h3.red,.trade-hold-info h2.red,.trade-hold-info dd .fonts.red,.trade-into-top .left .tsd i.red,.trade-into-top .left li h2.red,.trade-into-top .left li h3.red,.change-informationa .lists p.red,.trade-info-list li p.red{
    color:#e83a3a;
}
.trade_hold-top dd .fonts.green,.trade_hold-list li h3.green,.trade-hold-info h2.green,.trade-hold-info dd .fonts.green,.trade-into-top .left .tsd i.green,.trade-into-top .left li h2.green,.trade-into-top .left li h3.green,.change-informationa .lists p.green,.trade-info-list li p.green{
    color:#5db12a;
}