.content-box{
    position: relative;
    z-index: 1;
    background:#f3f5f7;
    width:100%;
}
.content-box.data{
	padding-top: 0.88rem;
}
.news-content{
	padding-top: 0.2rem;
}
.news-content ul{
	width: 100%;
	background:#fff;
}
.news-content li{
	display: block;
	width: 94%;
	margin: 0 auto;
	background: #fff;
	border-top: 1px solid #eeeeee;
}
.news-content li a{
	display: block;
	font-size: 0.28rem;
	line-height: 0.9rem;
	color: #000;
	background: url(../imgs/news.png) no-repeat 100% center;
	background-size: 0.11rem auto;
}
.news-content li:first-child {
    border-top: none;
}
.gentou{
	background: #f3f5f7;
	padding-top: 0.2rem;
}
.gentou-content{
	width: 100%;
	padding: 0.1rem 3%;
	background: #fff;
}
.gentou-content h2{
	font-size: 0.28rem;
	color: #383838;
	width: 3.38rem;
	text-align: left;
    padding-left: 0.15rem;
	border-left: 2px solid #d02d28;
	line-height: 0.28rem;
	font-weight: bold;
	margin: 0.1rem 0;
}
.gentou-content p{
	font-size: 0.24rem;
	color: #6c6c6c;
	width: 100%;
	margin-bottom: 0.40rem;
}
.gentou-content .zhu{
	font-size: 0.25rem;
	color: #cb413e;
	line-height: 0.28rem;
}
.vouchers_activity ul{
	color: #f3f5f7;
}
.vouchers_activity .prepare{
	height: 2.6rem;
	width: 100%;
	padding: 0.5rem 0.4rem 0.5rem 0.02rem;
	background: url(../imgs/red.png) no-repeat  center;
	background-size: 7.1rem 2.4rem;
}
.vouchers_activity .prepare .caopan{
	float: left;
	padding-left: 0.4rem;
}
.vouchers_activity .prepare h2{
	width: 1.75rem;
	text-align: center;
	line-height: 0.5rem;
	color: #fff;
	font-size: 0.6rem;
}
.vouchers_activity .prepare img{
	width: 0.2rem;
	height: 0.25rem;
	float: left;
	margin-top: 0.22rem;
}
.vouchers_activity .prepare p{
	font-size: 0.24rem;
	color: #ffd9d1;
}
.vouchers_activity .prepare .goto{
	width: 0.3rem;
	font-size: 0.24rem;
	color: #fff;
	float: right;
	padding-top: 0.1rem;
}
.vouchers_activity .prepare .suit{
	float: left;
	width: 75%;
	line-height: 0.36rem;
	color: #fff;
	font-size: 0.24rem;
	text-align: left;
	margin-top: 0.3rem;
	padding-left: 0.4rem;
	background: -webkit-linear-gradient(left, #fdb3ae, #fb665c);
    background: -o-linear-gradient(right, #fdb3ae, #fb665c);
    background: -moz-linear-gradient(right, #fdb3ae, #fb665c);
    background: linear-gradient(to right, #fdb3ae , #fb665c);
}
.vouchers_activity .already{
	height: 2.6rem;
	width: 100%;
	padding: 0.5rem 0.4rem 0.5rem 0.03rem;
	background: url(../imgs/gray.png) no-repeat  center;
	background-size: 7.1rem 2.4rem;
}
.vouchers_activity .already .caopan{
	float: left;
	padding-left: 0.4rem;
}
.vouchers_activity .already h2{
	width: 1.75rem;
	text-align: center;
	line-height: 0.5rem;
	color: #555555;
	font-size: 0.6rem;
}
.vouchers_activity .already img{
	width: 0.2rem;
	height: 0.25rem;
	float: left;
	margin-top: 0.22rem;
}
.vouchers_activity .already p{
	font-size: 0.24rem;
	color: #777777;
}
.vouchers_activity .already .goto{
	width: 0.3rem;
	font-size: 0.24rem;
	color: #666666;
	float: right;
}
.vouchers_activity .already .suit{
	float: left;
	width: 75%;
	line-height: 0.36rem;
	color: #999999;
	font-size: 0.24rem;
	text-align: left;
	margin-top: 0.3rem;
	padding-left: 0.4rem;
	background: -webkit-linear-gradient(left, #e1e1e1, #cdcdcd);
    background: -o-linear-gradient(right, #e1e1e1, #cdcdcd);
    background: -moz-linear-gradient(right, #e1e1e1, #cdcdcd);
    background: linear-gradient(to right, #e1e1e1 , #cdcdcd);
}
.useinfo{
	background: #f3f5f7;
	padding-top: 0.2rem;
}
.useinfo-content{
	width: 100%;
	padding: 0.1rem 3%;
	background: #fff;
}
.useinfo-content h2{
	font-size: 0.28rem;
	color: #383838;
	width: 3.38rem;
	text-align: left;
    padding-left: 0.15rem;
	border-left: 2px solid #d02d28;
	line-height: 0.28rem;
	font-weight: bold;
	margin: 0.1rem 0;
}
.useinfo-content p{
	font-size: 0.24rem;
	color: #6c6c6c;
	width: 100%;
	margin-bottom: 0.40rem;
}
.useinfo-content .usezhu{
	font-size: 0.25rem;
	color: #9c9c9c;
	line-height: 0.28rem;
}
.promote{
	width: 100%;
	background: #f3f5f7;
	padding-top: 0.2rem;
}
.promote-content{
	width: 94%;
	margin: 0rem auto;
	background: #fff;
	padding: 0.2rem 0 0.45rem 0;
	border-radius: 0.1rem;
}
.promote-content .list{
	margin: 0 0.2rem;
	background: #fff;
	border-bottom: 2px solid #eeeeee;
}
.promote-content .list h3{
	width: 50%;
	color: #000;
	line-height: 0.88rem;
	font-size: 0.32rem;
	float: left;
	text-align: left;
}
.promote-content .list p{
	width: 50%;
	color: #000;
	line-height: 0.88rem;
	font-size: 0.24rem;
	float: right;
	text-align: right;
}
.promote-content .erweima{
	text-align: center;
}
.promote-content .erweima h3{
	font-size: 0.28rem;
	color: #000;
	width: 100%;
	line-height: 0.4rem;
	margin-top: 0.23rem;
}
.promote-content .erweima p{
	font-size: 0.24rem;
	color: #747474;
	width: 100%;
	line-height: 0.4rem;
}
.promote-content .erweima img{
	width: 28%;
	margin-top: 0.4rem;
}
.back{
	width: 94%;
	height: 0.42rem;
	margin: -0.1rem auto -0.05rem auto;
	background: url(../imgs/promote.png) no-repeat center;
	background-size: 7.1rem 0.42rem;
	z-index: 2;
}
.username{
	background: #fff;
	width: 94%;
	margin: 0rem auto;
	padding-top: 0.4rem;
	padding-bottom: 0.8rem;
	border-radius: 0.1rem;
	z-index: 1;
}
.username ul{
	width: 100%;
	background: #fff;
}
.username li{
	width: 50%;
	text-align: center;
	float: left;
}
.username h4{
	font-size: 0.24rem;
	color: #b0b0b0;
	line-height: 0.5rem;
}
.username p{
	font-size: 0.24rem;
	color: #333333;
	line-height: 0.5rem;
}
.funding{
	width: 100%;
	background: #f3f5f7;
}
.funding-header{
	background: #fff;
	width: 100%;
	text-align: center;
}
.funding-header p{
	width: 21%;
	color: #000;
	font-size: 0.28rem;
	line-height: 0.88rem;
	text-align: center;
	margin-left: 3rem;
	float: left;
}
.funding-header img{
	width: 0.38rem;
	height: 0.38rem;
	float: right;
	margin-right: 0.27rem;
	margin-top: 0.27rem;
}
.funding-content{
	width: 100%;
	background: #f3f5f7;
}
.funding-content ul{
	margin-top: 0.2rem;
}
.funding-content .button{
	background: #fff;
}
.funding-content .button p{
	font-size: 0.28rem;
	color: #b0b0b0;
	float: left;
	line-height: 1rem;
	padding-left: 0.2rem;
}
.funding-content .button li a{
	font-size: 0.28rem;
	color: #999999;
	text-align: center;
	float: right;
	width: 21.6%;
	margin-right: 0.2rem;
	margin-top: 0.15rem;
    height:0.7rem;
    line-height:0.68rem;
	border: 1px solid #999999;
	border-radius: 0.1rem;
}
.funding-content .button li.hover a{
	color: #fe0000;
	border-color: #fe0000;
}
.funding-content .money{
	width: 100%;
	background: #fff;
}
.funding-content .money li{
	width: 94%;
	margin: 0 auto;
	border-top: 1px solid #eeeeee;
}
.funding-content .money li:first-child {
    border-top: none;
}

.funding-content .money h3{

	font-size: 0.28rem;

	color: #b0b0b0;

	float: left;

	line-height: 1rem;

}

.funding-content .money p{

	font-size: 0.28rem;

	color: #333333;

	float: right;

	line-height: 1rem;

}

.funding-content .money h2{

	font-size: 0.3rem;

	color: #e6453d;

	line-height: 1rem;

}

.funding-content .money h4{

	font-size: 0.24rem;

	color: #8a8a8a;

}

.funding-content .money .sure{

	width: 94%;

	margin: 0.4rem auto;

	background: #e6453d;

	border-radius: 0.1rem;

	color: #fff;

	font-size: 0.28rem;

	line-height: 0.89rem;

	text-align: center;

}

.funding-content ul{

	width: 100%;

	background: #fff;

}

.funding-content .list li{

	background: #fff;

	width: 94%;

	margin: 0 auto;

	padding: 0.18rem 0;

	border-top: 1px solid #eeeeee;

}

.funding-content .list li:first-child {

    border-top: none;

}

.funding-content .list h3{

	font-size: 0.28rem;

	color: #333333;

	float: left;

}

.funding-content .list label{

	margin-left:0.3rem;

    background:#fff;

    line-height:0.36rem;

    float: left;

    border:1px  solid #aaa;

    border-radius:0.1rem;

    padding:0 2%;

    position:relative;

    width: 38%;

}

.funding-content .list input{

	width: 88%;

    height:0.46rem;

    line-height:0.36rem;

    float: left;

    display: block;

    border:none;

    font-size:0.28rem;

    color:#333333;

    z-index: 1;

    background: transparent;

    position: relative;

    -webkit-text-fill-color: transparent;

}

.funding-content .list span{

	font-size: 0.24rem;

	color: #989898;

	line-height: 0.46rem;

}

.funding-content .list .ospan{

	display: block;

    width: 88%;

    font-size: 0.28rem;

    height: 0.36rem;

    line-height: 0.36rem;

    color: #333333;

    position: absolute;

    z-index: 2;

    top: 0.05rem;

    left: 0.16rem;

}

.funding-content .list p{

	width: 2.90rem;

	float: right;

	font-size: 0.24rem;

	color: #989898;

	padding-left: 0.18rem;

	line-height: 0.56rem;

}

.funding-content .list h2{

	font-size: 0.28rem;

	color: #999999;

}

.funding-content .list dl{

	width: 6rem;

	margin-left: 15%;

}

.funding-content .list dd{

	float: left;

	font-size: 0.28rem;

	border: 1px solid #999;

	width:28%;

	margin-left: 0.3rem;

	margin-bottom: 0.3rem;

	border-radius: 0.1rem;

	color: #999999;

	text-align: center;

	line-height: 0.66rem;

}

.funding-content .list dd.hover{

	color: #e6453d;

	border-color: #e6453d;

}



.funding-content .list2 li{

	background: #fff;

	width: 94%;

	margin: 0 auto;

	padding: 0.18rem 0;

	border-top: 1px solid #eeeeee;

}

.funding-content .list2 li:first-child {

    border-top: none;

}

.funding-content .list2 h3{

	font-size: 0.28rem;

	color: #333333;

	float: left;

}

.funding-content .list2 label{

	margin-left:0.3rem;

    background:#fff;

    line-height:0.36rem;

    float: left;

    border:1px  solid #aaa;

    border-radius:0.1rem;

    padding:0 2%;

    position:relative;

    width: 79%;

}

.funding-content .list2 .ospan{

	display: block;

    width: 5.0rem;

    font-size: 0.28rem;

    height: 0.36rem;

    line-height: 0.36rem;

    color: #333333;

    position: absolute;

    z-index: 2;

    top: 0.05rem;

    left: 0.16rem;

}

.funding-content .list2 span{

	font-size: 0.24rem;

	color: #989898;

	line-height: 0.46rem;

}

.funding-content .list2 input{

	width: 90%;

    height:0.46rem;

    line-height:0.36rem;

    float: left;

    display: block;

    border:none;

    font-size:0.28rem;

    color:#333333;

    z-index: 1;

    background: transparent;

    position: relative;

    -webkit-text-fill-color: transparent;

}

.funding-content .list2 p{

	width: 90%;

	float: right;

	font-size: 0.24rem;

	color: #989898;

	padding-left: 0.18rem;

	line-height: 0.56rem;

}

.funding-content .list2 h2{

	font-size: 0.28rem;

	color: #999999;

}

.funding-content .list2 dl{

	width: 6rem;

	margin-left: 15%;

}

.funding-content .list2 dd{

	float: left;

	font-size: 0.28rem;

	border: 1px solid #999;

	width:28%;

	margin-left: 0.3rem;

	margin-bottom: 0.3rem;

	border-radius: 0.1rem;

	color: #999999;

	text-align: center;

	line-height: 0.66rem;

}

.funding-content .list2 dd.hover{

	color: #e6453d;

	border-color: #e6453d;

}

.funding-content .begin h3{

	font-size: 0.28rem;

	color: #999999;

	line-height: 1rem;

	padding-left: 0.2rem;

	float: left;

}

.funding-content .begin li{

	font-size: 0.32rem;

	color: #999999;

	text-align: center;

	float: right;

	width: 1.82rem;

	margin-right: 0.2rem;

	margin-top: 0.15rem;

	border: 1px solid #999999;

	border-radius: 0.1rem;

}

.funding-content .begin li.hover{

	color: #e6453d;

	border-color: #e6453d;

}

.funding-content .manager li{

	width: 94%;

	margin: 0 auto;

	border-top: 1px solid #eeeeee;

}

.funding-content .manager li:first-child {

    border-top: none;

}

.funding-content .manager h3{

	font-size: 0.28rem;

	color: #999999;

	line-height: 1rem;

	float: left;

}

.funding-content .manager p{

	font-size: 0.28rem;

	color: #333333;

	line-height: 1rem;

	text-align: right;

}



.agree{

    padding:0 3%;

    background:#fff;

    width:100%;

    margin-top: 0.2rem;

}

.agree .submit{

    width:100%;

    border:none;

    border-radius:0.1rem;

    text-align: center;

    background:#abaaaa;

    color:#fff;

    font-size:0.28rem;

    display: block;

    line-height:0.88rem;

    margin-bottom: 1.5rem;

}

.agree .submit.hover{

    background:#e6453d;

}

.agree label{

    padding: 0.3rem 0.44rem;

    background:url(../imgs/redgou_h.png) no-repeat left center;

    background-size:0.26rem auto !important;

    font-size:0.24rem;

    color:#333333;

    line-height:0.88rem;



}

.agree label.check{

	width: 100%;

    background:url(../imgs/redgou.png) no-repeat left center;

}

.agree label input{

    position: fixed;

    top:0;

    left:0;

    opacity:0;

}



.pay-content{

	background: #f3f5f7;

	width: 100%;

	padding-top: 0.22rem;

}

.pay-content ul{

	width: 100%;

	background: #fff;

	margin-bottom: 0.22rem;

}

.pay-content .payment li{

	width: 94%;

	margin: 0 auto;

	border-top: 1px solid #eeeeee;

}

.pay-content .payment li:first-child {

    border-top: none;

}

.pay-content .payment h1{

	float: left;

	line-height: 1rem;

}

.pay-content .payment h1 a{

	border-left: 2px solid #e6453d;

	color: #b0b0b0;

	font-size: 0.28rem;

	padding-left: 0.1rem;

}

.pay-content .payment h3{

	font-size: 0.28rem;

	color: #b0b0b0;

	float: left;

	line-height: 1rem;

}

.pay-content .payment p{

	font-size: 0.28rem;

	color: #333333;

	float: right;

	line-height: 1rem;

}

.pay-content .payment .account{

	width: 100%;

}

.pay-content .payment .account h5{

	font-size: 0.24rem;

	color: #959595;

	float: left;

	width:45%;

	line-height: 0.35rem;

}

.pay-content .payment .account .recharge{

	font-size: 0.28rem;

	color: #fff;

	background: #e6453d;

	width: 1.02rem;

	line-height: 0.6rem;

	float: right;

	text-align: center;

	border-radius: 0.1rem;

}

.pay-content .payment .anniu{

	width: 100%;

	margin-bottom: 1.2rem;

	margin-top: 0.5rem;

}

.pay-content .payment .anniu .goback{

	width: 48%;

	font-size: 0.28rem;

	color: #fff;

	background: #cccccc;

	border-radius: 0.1rem;

	float: left;

	line-height: 0.88rem;

	text-align: center;

}

.pay-content .payment .anniu .gosure{

	width: 48%;

	font-size: 0.28rem;

	color: #fff;

	background: #e6453d;

	border-radius: 0.1rem;

	float: right;

	line-height: 0.88rem;

	text-align: center;

}

.file-box {

    width: 100%;

    height: 100%;

    position: fixed;

    top: 0;

    left: 0;

    display: none;

    background: rgba(0,0,0,.5);

    z-index: 11;

}

.file-box .center {

    width: 73%;

    background: #fff;

    position: absolute;

    left: 0;

    top: 35%;

    left: 13%;

    border-radius: 0.1rem;

    margin: 0 auto;

}

.file-box .center .top{

	width: 100%;

	border-bottom: 1px solid #e3e4e4;

}

.file-box .center .top h2{

	width: 4.05rem;

	font-size: 0.34rem;

	color: #333333;

	text-align: center;

	margin: 0 auto;

}

.file-box .center .top p{

	width: 4.05rem;

	font-size: 0.26rem;

	color: #909090;

	text-align: center;

	margin: 0 auto;

}

.file-box .center .file-box-sure{

	font-size: 0.34rem;

	color: #e6453d;

	text-align: center;

	line-height: 0.88rem;

}

.optional-content{

	width: 100%;

	background: #f3f5f7;

	padding-top: 0.2rem;

	z-index: 1;

	margin-bottom: 1rem;

}

.optional-list{

    width:100%;

    background:#fff;

    padding: 0.2rem 0;

}

.optional-list ul{

    width:100%;

}

.optional-list li{

    float: left;

    width:33.33%;

    text-align: center;

    position:relative;

    border-left:1px solid #ddd;

}

.optional-list li:first-child{

    border-left:none;

}

.optional-list li h2{

    font-size:0.28rem;

    color: #222;

    line-height: 0.37rem;

    margin-bottom: 0.09rem;

}

.optional-list li h3{

    font-size:0.34rem;

    line-height:0.42rem;

}

.optional-list li .ico{

    padding-right: 0.2rem;

    background-size: 0.14rem auto !important;

}

.optional-list li .ico.red{

    background:url(../imgs/upred.png) no-repeat right center;

}

.optional-list li .ico.green{

    background:url(../img/wel04.png) no-repeat right center;

}

.optional-list li .num{

    font-size:0.24rem;

    line-height:0.36rem;

}

.optional-list li .num:first-child{

    padding-left: 0.35rem;

}

.optional-list li .num:last-child{

    padding-right: 0.35rem;

}



.optional-list li .red{

    color:#e83a3a;

}

.optional-list li .green{

    color:#5db12a;

}

.add_optional{

	background: #f3f5f7;

	width: 100%;

}

.add_optional img{

	display: block;

    width: 0.8rem;

    margin: 0 auto;

}

.add_optional a{

	width: 55%;

    margin: 2.15rem auto 0;

    font-size: 0.22rem;

    color: #484848;

    text-align: center;

    display: block;

    line-height: 0.82rem;

}

.add_optional span{

	color: #e6453d;

}



.aleardy_cancel{

    margin-top: 0.2rem;

    background:#fff;

}

.aleardy_cancel_tiut{

    width:100%;

    border-bottom:1px solid #eee;

    line-height:0.79rem;

    height:0.79rem;

    padding-left: 3%;

}

.aleardy_cancel_tiut span{

	width: 90%;

    float: left;

    font-size:0.28rem;

    color:#999;

    display: block;

    text-align: center;

    line-height:0.79rem;

}

.aleardy_cancel_tiut span.ww{

    width:26%;

    /*padding-right: 0.7rem;*/

}

.aleardy_cancel_list li{

    float: left;

    width:94%;

    margin-left: 0.2rem;

    text-align: center;

    border-top:1px solid #eee;

}

.aleardy_cancel_list li:first-child{

    border-top:none;

}

.aleardy_cancel_list li a{

    float: left;

    width:90%;

    display: block;

    padding:0.15rem 0;

}

.aleardy_cancel_list li .box{

    float: left;

}

.aleardy_cancel_list li .ww{

    width:30%;

}

.aleardy_cancel_list li h2{

    font-size:0.28rem;

    color:#333;

    line-height:0.4rem;

    height:0.4rem;

    overflow:hidden;

}

.aleardy_cancel_list li p{

    font-size:0.22rem;

    color:#888;

    line-height:0.31rem;

}

.aleardy_cancel_list li h3{

    font-size:0.28rem;

    color:#e83a3a;

    line-height:0.71rem;

}

.aleardy_cancel_list li h3.black{

    color:#666;

}

.aleardy_cancel_list li h3.green{

    color:#279d1b;

}

.aleardy_cancel_list li .delet{

    float: left;

    width:8%;

    height:0.79rem;

    background:url(../imgs/delete.png) no-repeat center;

    background-size:0.26rem auto;

    margin-top: 0.15rem;

}

.toadd{

	width: 1rem;

    height: 1rem;

    position: fixed;

    left: 80%;

    top: 80%;

    display: none;

    background: rgba(255,255,255,0);

    z-index: 11;

    display: block;

}

.toadd img{

	width: 1.2rem;

	position: absolute;

}

.optional-search{

	width: 100%;

    top: 0;

    left: 0;

    position: fixed;

    z-index: 10;

    padding: 0.15rem 0;

    background: #fff;

}

.optional-search form{

	width: 6.22rem;

	float: left;

	margin-left: 0.2rem;

    display: block;

    height: 0.58rem;

    position: relative;

    border-radius: 0.3rem;

    background-color: #f1f1f1;

    padding-left: 0.64rem;

    background-image: url(../imgs/search.png);

    background-repeat: no-repeat;

    background-position: 0.2rem center;

    background-size: 0.3rem auto;

}

.optional-search form input{

	font-size: 0.28rem;

    color: #a0a0a0;

    line-height: 0.58rem;

    width: 90%;

    height: 0.58rem;

    display: block;

    background: none;

    border: none;

}

.optional-search .cancel{

	font-size: 0.3rem;

	color: #7a7a7a;

    position: absolute;

    right: 0.2rem;

}

.search-content{

	width: 100%;

	background: #f3f5f7;

	margin-top: 1.08rem;

	position: absolute;

}

.search-content .search-hot{

	width: 100%;

	background: #fff;

}

.search-content .search-hot .stock{

	font-size: 0.28rem;

	color: #a9a9a9;

	width: 100%;

	line-height: 0.8rem;

	padding-left: 0.2rem;

	border-bottom: 1px solid #eeeeee;

}

.search-content .search-hot ul{

	width: 100%;

	background: #fff;

}

.search-content .search-hot li{

	width: 94%;

	margin: 0 auto;

	border-top: 1px solid #eeeeee;

}

.search-content .search-hot li:first-child{

    border-top:none;

}

.search-content .search-hot li .mm{

	font-size: 0.28rem;

	color: #333333;

	line-height: 0.8rem;

	float: left;

	width: 3.7rem;

}

.search-content .search-hot li .mm span{

	font-size: 0.24rem;

	color: #888888;

	line-height: 0.8rem;

}

.search-content .search-hot li .ms{

	font-size: 0.28rem;

	color: #747474;

	float: left;

	width: 1.05rem;

	line-height: 0.8rem;

	padding-left: 0.2rem;

}

.search-content .search-hot li .ms .red{

	font-size: 0.28rem;

	color: #e83a3a;

	line-height: 0.8rem;

}

.search-content .search-hot li .ms .green{

	font-size: 0.28rem;

	color: #279d1b;

	line-height: 0.8rem;

}



.search-content .search-history{

	width: 100%;

	background: #fff;

	margin-top: 0.2rem;

}

.search-content .search-history .stock{

	padding: 0 0.2rem;

	border-bottom: 1px solid #eeeeee;

}

.search-content .search-history .stock h2{

	font-size: 0.28rem;

	color: #a9a9a9;

	line-height: 0.9rem;

	float: left;

}

.search-content .search-history .stock p{

	float: right;

}

.search-content .search-history .stock a{

	font-size: 0.28rem;

	color: #a9a9a9;

}

.search-content .search-history ul{

	width: 100%;

	background: #fff;

}

.search-content .search-history li{

	width: 94%;

	margin: 0 auto;

	border-top: 1px solid #eeeeee;

}

.search-content .search-history li:first-child{

    border-top:none;

}

.search-content .search-history li .mm{

	font-size: 0.28rem;

	color: #333333;

	line-height: 0.8rem;

	float: left;

	width: 4.75rem;

}

.search-content .search-history li .mm span{

	font-size: 0.24rem;

	color: #888888;

	line-height: 0.8rem;

}

.search-content .search-history li .ms{

	font-size: 0.28rem;

	color: #747474;

	float: left;

	width: 1.05rem;

	line-height: 0.8rem;

	padding-left: 0.2rem;

}

.search-content .search-history li .ms h2{

	text-align: center;

}

.search-content .search-history li .ms .red{

	font-size: 0.28rem;

	color: #e83a3a;

	line-height: 0.8rem;

}

.search-content .search-history li .ms .green{

	font-size: 0.28rem;

	color: #279d1b;

	line-height: 0.8rem;

}

.tosearch{

	width: 100%;

    height: 100%;

    margin-top: 0.88rem;

    position: fixed;

    top: 0;

    left: 0;

    display: none;

    background: #f3f5f7;

    z-index: 11;

}

.tosearch ul{

	width: 100%;

	background: #fff;

}

.tosearch li{

	width: 94%;

	margin: 0 auto;

	border-top: 1px solid #eeeeee;

}

.tosearch li:first-child{

    border-top:none;

}

.tosearch li .mm{

	font-size: 0.28rem;

	color: #333333;

	line-height: 0.8rem;

	float: left;

	width: 3.7rem;

}

.tosearch li .mm span{

	font-size: 0.24rem;

	color: #888888;

	line-height: 0.8rem;

}

.tosearch li .ms{

	font-size: 0.28rem;

	color: #747474;

	float: left;

	width: 1.05rem;

	line-height: 0.8rem;

	padding-left: 0.2rem;

}

.tosearch li .ms .red{

	font-size: 0.28rem;

	color: #e83a3a;

	line-height: 0.8rem;

}

.tosearch li .ms .green{

	font-size: 0.28rem;

	color: #279d1b;

	line-height: 0.8rem;

}



.trader-header{

	width: 100%;

	background: #fff;

	margin-bottom: 0.2rem;

	text-align: center;

}

.trader-header li{

	display: inline-block;

    text-align: center;

    border-bottom: 1px solid #fff;

    line-height: 1rem;

    font-size: 0.32rem;

    color: #333333;

    margin: 0 0.5rem;

}

.trader-header li.hover{

	border-color: #e6453d;

	color: #e6453d;

}

.trader-content .content{

    display: none;

}

.trader-content ul{

    width:100%;

}

.trader-content li{

    width: 100%;

    background:#fff;

    border-radius:5px;

    margin-bottom: 0.2rem;

    box-shadow: 0 3px 10px rgba(136,136,136,.13);

}

.trader-content li a{

    display: block;

    width:100%;

}

.trader-content li h2{

    font-size:0.28rem;

    color:#333;

    line-height:0.79rem;

    border-bottom:1px solid #eee;

    padding:0 3%;

}

.trader-content li h2 span{

    color:#fd9e0e;

    font-size:0.24rem;

}

.trader-content li .center{

    padding:0.2rem 0;

    width:94%;

    margin:0 auto;

    border-bottom:1px solid #eee;

    background:url(../img/wel11.png) no-repeat right 80%;

    background-size:0.11rem auto;

}

.trader-content li p{

    font-size:0.24rem;

    color:#999;

    line-height:0.4rem;

}

.trader-content li h3{

    font-size:0.28rem;

    color:#fd9e0e;

    line-height:0.4rem;

}

.trader-content li .bottom{

    padding:0.22rem 0;

    width:94%;

    margin:0 auto;

}

.trader-content li .red{

    color:#e6453d;

}