{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->
<style>
    .col-sm-6{margin-bottom: 3%}
</style>


<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改风控参数</h3></div>
                <div class="panel-body">

                    <form action="{:url('fengkong/index')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <div style="width:100%">
                            <div class="form-group" >

                                <div class="col-sm-6">
                                    <span>{$list[21]['remark']}</span>
                                    <input type="text" id="" name='value22' class="form-control" placeholder="{$list[21]['remark']}"  value="{$list[21]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[22]['remark']}</span>
                                    <input type="text" id="" name='value23' class="form-control" placeholder="{$list[22]['remark']}"  value="{$list[22]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[23]['remark']}</span>
                                    <input type="text" id="" name='value24' class="form-control" placeholder="{$list[23]['remark']}"  value="{$list[23]['value']}">
                                </div>

                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}