
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">余额异常的会员</h3>
                    <a href="" id="export" target="_blank" style="float:left; margin-left: 160px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">导出会员</a>
                </div>
                <span>异常金额=总充值金额-账户余额-策略账户余额-冻结余额-总提现金额-总手续费-总递延费-总盈利</span>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>用户账号</th>
                                    <th>真实姓名</th>
                                    <th>账户余额</th>
                                    <th>策略账户余额</th>
                                    <th>冻结余额</th>
                                    <th>总充值金额</th>
                                    <th>总提现金额</th>
                                    <th>总手续费</th>
                                    <th>总递延费</th>
                                    <th>总盈利</th>
                                    <th>异常金额</th>
                                    <th>注册时间</th>
                                    {empty name="marketer"}
                                    <th>操作</th>
                                    {/empty}
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left" >
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.true_name}</td>
                                    <td>{$vo.balance}</td>
                                    <td>{$vo.tactics_balance}</td>
                                    <td>{$vo.frozen_money}</td>
                                    <td>{$vo.chongzhi}</td>
                                    <td>{$vo.tixian}</td>
                                    <td>{$vo.shouxufei}</td>
                                    <td>{$vo.diyanfei}</td>
                                    <td>{$vo.yingli}</td>
                                    <td>{$vo.chazhi}</td>
                                    <td>{$vo.create_time}</td>
                                    {empty name="marketer"}
                                    <td>
                                        <a href="{:url('admin/update',['id'=>$vo['id']])}" target="_blank" class="ion-edit"></a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('admin/bankindex',['account'=>$vo['account']])}" target="_blank" class="ion-card"></a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('admin/del',['id'=>$vo['id']])}" class="ion-trash-a" onclick="return confirm('确定删除?');"></a>
                                    </td>
                                    {/empty}
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<script>
    $('#export').click(function(){
        var content = $("input[type=search]").val();
        var url = "/index/admin/exportAdmin/type/3";
        if(content){
            url=url+'/content/'+content;
        }
        $(this).prop('href',url);
    });
</script>
<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}
