{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">新手指导信息</h3></div>
                <div class="panel-body">

                    <form  action="{:url('admin/addGuide',['state'=>2])}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <div style="width:100%">
                            <div class="form-group" style="width: 100%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>新手引导问题</span>
                                    <input type="text" id="" name='problem' class="form-control" placeholder="问题"  value="">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>问题详情</span>
                                </div>
                            </div>
                            <script id="container" name="problem_detail" style="height: 500px;" type="text/plain"></script>
                            <!-- 配置文件 -->
                            <script type="text/javascript" src="/public/static/utf8-php/ueditor.config.js"></script>
                            <!-- 编辑器源码文件 -->
                            <script type="text/javascript" src="/public/static/utf8-php/ueditor.all.js"></script>
                            <!-- 实例化编辑器 -->
                            <script type="text/javascript">
                                var ue = UE.getEditor('container');
                            </script>
                            
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">提交</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>

<script type="text/javascript" src="/stockht/public/static/js/jquery-3.3.1.min.js" ></script>
{include file="login/footer" /}