
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">银行卡管理</h3>
                    {empty name="$list.id"}
                    <a href="{:url('admin/updbankindex',['account'=>$account])}" target="_blank" id="" style="float:left; margin-left: 130px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">新增银行卡</a>
                    {else /}
                    <a href="{:url('admin/updbankindex',['account'=>$account,'id'=>$list.id])}" target="_blank" id="" style="float:left; margin-left: 130px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">更换银行卡</a>
                    {/empty}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>银行名字</th>
                                    <th>银行卡号</th>
                                  	<th>开户行地址</th>
                                    <th>绑定时间</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                <tr align="left" >
                                    <td>{$list.id}</td>
                                    <td>{$list.bank_name}</td>
                                    <td>{$list.bank_num}</td>
                                    <td>{$list.bank_address}</td>
                                    <td>{$list.create_time}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}