
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">待审核会员</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>用户账号</th>
                                    <th>账户余额</th>
                                    <th>策略账户余额</th>
                                    <th>昵称</th>
                                    <th>真实姓名</th>
                                    <th>身份证</th>
                                    <th>证件照</th>
                                    <th>邀请人</th>
                                    <th>是否禁用</th>
                                    <th>注册时间</th>
                                    <th>最后登录时间</th>
                                    {empty name="marketer"}
                                    <th>操作</th>
                                    {/empty}
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left" >
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.balance}</td>
                                    <td>{$vo.tactics_balance}</td>
                                    <td>{$vo.nick_name}</td>
                                    <td>{$vo.true_name}</td>
                                    <td>{$vo.card_id}</td>
                                    <td><img src="{$vo.frontcard}" alt="" width="40px" height="30px"><img src="{$vo.backcard}" alt="" width="40px" height="30px"></td>
                                    <td>{$vo.inviter}</td>
                                    {if $vo.is_del eq '正常'}
                                    <td>{$vo.is_del}</td>
                                    {else/}
                                    <td><span style="color: red">{$vo.is_del}</span>&nbsp;&nbsp;&nbsp;<a href="{:url('admin/enableadmin',['id'=>$vo['id']])}" target="_blank" class="ion-play"></a></td>
                                    {/if}
                                    <td>{$vo.create_time}</td>
                                    <td>{$vo.lastlogin_time}</td>
                                    {empty name="marketer"}
                                    <td>
                                        <a href="{:url('admin/update',['id'=>$vo['id'],'shenhe'=>2])}" target="_blank">审核</a>
                                    </td>
                                    {/empty}
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<script>
    $('#export').click(function(){
        var content = $("input[type=search]").val();
        $(this).prop('href',"/index/admin/exportAdmin/content/"+content);
    });

</script>
<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}
