
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">推广人员管理</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>用户账号</th>
                                    <th>账户余额</th>
                                    <th>策略账户余额</th>
                                    <th>昵称</th>
                                    <th>真实姓名</th>
                                    <th>身份证</th>
                                    <th>是否禁用</th>
                                    <th>推广时间</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left" >
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.balance}</td>
                                    <td>{$vo.tactics_balance}</td>
                                    <td>{$vo.nick_name}</td>
                                    <td>{$vo.true_name}</td>
                                    <td>{$vo.card_id}</td>
                                    <td>{$vo.is_del}</td>
                                    <td>{$vo.create_time}</td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}