
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">新手引导</h3>
                    <a href="{:url('admin/addGuide')}" id="addToTable" target="_blank" style="float:left; margin-left: 110px;margin-top: -30px" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-plus"></i> 新增新手引导</a>
                </div>
                <div class="panel-body">
                    <!-- <form action="{:url('admin/index')}" method="get">
                        <div class="rig" style="float: left;margin-right: 20px;margin-bottom: 20px;">
                            <label style="display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;">是否实盘</label>
                            <select name="is_real_disk" style="border: none;">
                                <option value="0">请选择</option>
                                <option {notempty name="is_real_disked" }{if $is_real_disked eq 1} selected {/if}{/notempty} value="1">是</option>
                                <option {notempty name="is_real_disked" }{if $is_real_disked eq 2} selected {/if}{/notempty} value="2">否</option>
                            </select>
                        </div>
                        <input type="submit" value="查询" style="float: left; border: none;padding: 3px 10px;margin-top: -2px;background-color: #5dadfb;color: #ffffff;border-radius: 5px;">
                    </form> -->
                    <!-- <input type="hidden" id="is_real_disks" {notempty name="is_real_disked" } value="{$is_real_disked}" {/notempty}> -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>问题</th>
                                    <th width="80">操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left" >
                                    <td>{$vo.id}</td>
                                    <td>{$vo.problem}</td>
                                    <td>
                                        <a href="{:url('admin/guideUpdate',['id'=>$vo['id']])}" target="_blank" class="ion-edit"></a>
                                        &nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('admin/guideDel',['id'=>$vo['id']])}" class="ion-stop" onclick="return confirm('确定删除?');"></a>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<script>
    $("#is_real_disks").change(function(){
        var is_real_disk = $("#is_real_disk").val();
        $("#is_real_disks").val(is_real_disk);
    });
    $('#export').click(function(){
        var is_real_disk = $("#is_real_disks").val();
        var content = $("input[type=search]").val();
        var url = "/admin/admin/exportAdmin/type/1";
        if(is_real_disk){
            url=url+'/is_real_disk/'+is_real_disk;
        }
        if(content){
            url=url+'/content/'+content;
        }

        $(this).prop('href',url);
    });
</script>
<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}
