
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">会员管理</h3>
                    {empty name="marketer_user"}
                    <a href="" id="export" style="float:left; margin-left: 130px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">导出会员</a>
                    {/empty}
                    {empty name="marketer"}
                    <a href="{:url('admin/balanceadmin')}" target="_blank" id="" style="float:left; margin-left: 30px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">策略余额不足的会员</a>
                    {/empty}
                    {empty name="marketer"}
                    <a href="{:url('admin/enticationadmin')}" target="_blank" id="" style="float:left; margin-left: 30px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">待审核会员</a>
                    {/empty}
                    {empty name="marketer"}
                    <!-- LRSS 2019-2-28 EDIT 显示余额异常用户数量 -->
                    <!--
                    <a href="{:url('admin/abnormaladmin')}" target="_blank" id="" style="float:left;border-color: red; background-color: red; margin-left: 30px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">余额异常的会员</a>
                    -->
                    <a href="{:url('admin/abnormaladmin')}" target="_blank" id="abnormal_user" style="float:left; margin-left: 30px;margin-top: -27px" class="btn btn-primary waves-effect waves-light">余额异常的会员<span></span></a>
                    {/empty}
                </div>
                <div class="panel-body">
                    <form action="{:url('admin/index')}" method="get">
                        <div class="rig" style="float: left;margin-right: 20px;margin-bottom: 20px;">
                            <label style="display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;">是否测试</label>
                            <select name="is_real_disk" style="border: none;">
                                <option value="0">请选择</option>
                                <option {notempty name="is_real_disked" }{if $is_real_disked eq 1} selected {/if}{/notempty} value="1">正式</option>
                                <option {notempty name="is_real_disked" }{if $is_real_disked eq 2} selected {/if}{/notempty} value="2">测试</option>
                            </select>
                        </div>
                        <input type="submit" value="查询" style="float: left; border: none;padding: 3px 10px;margin-top: -2px;background-color: #5dadfb;color: #ffffff;border-radius: 5px;">
                    </form>
                    <input type="hidden" id="is_real_disks" {notempty name="is_real_disked" } value="{$is_real_disked}" {/notempty}>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>用户账号</th>
                                    <th>余额</th>
                                    <th>策略余额</th>
                                    <th>浮动盈亏</th>
                                    <th>平仓盈亏</th>
                                    <th>真实姓名</th>
                                    <th>身份证号</th>
                                    <th>实名认证</th>

                                    <!-- LRSS 2019-2-27 EDIT -->
                                    <!--
                                    <th>邀请人</th>
                                    -->
                                    <th>邀请人(姓名)</th>

                                    <th>是否禁用</th>
                                    <th>我的推广</th>
                                    <th>注册时间</th>
                                    <th>最后登录</th>
                                    <th width="80">操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left" >
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.balance}</td>
                                    <td>{$vo.tactics_balance}</td>
                                    <td>{$vo.chicangyingkui}</td>
                                    <td>{$vo.pingcangyingkui}</td>
                                    <td>{$vo.true_name}</td>
                                    <td>{$vo.card_id}</td>
                                    <td>{$vo.is_true}</td>

                                    <!-- LRSS 2019-2-27 EDIT -->
                                    <!--
                                    <td>{$vo.inviter}</td>
                                    -->
                                    <td>{$vo.inviter}&nbsp;({$vo.inviter_name})</td>

                                    {if $vo.is_del eq '正常'}
                                    <td>{$vo.is_del}</td>
                                    {else/}
                                    <td><span style="color: red">{$vo.is_del}</span>&nbsp;&nbsp;&nbsp;<a href="{:url('admin/enableadmin',['id'=>$vo['id']])}" target="_blank" class="ion-play"></a></td>
                                    {/if}
                                    <td>{$vo.extend}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('admin/extendindex',['id'=>$vo['id']])}" target="_blank" class="ion-eye"></a></td>
                                    <td>{$vo.create_time}</td>
                                    <td>{$vo.lastlogin_time}</td>
                                    <td>
                                        {empty name="marketer"}
                                        <a href="{:url('admin/update',['id'=>$vo['id'],'shenhe'=>1])}" target="_blank" class="ion-edit"></a>
                                        &nbsp;&nbsp;&nbsp;
                                        {/empty}
                                        <a href="{:url('index/countinfo',['date'=>4,'account'=>$vo.account])}" target="_blank" class="ion-stats-bars"></a>
                                        {empty name="marketer"}
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('admin/bankindex',['account'=>$vo['account']])}" target="_blank" class="ion-card"></a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a href="{:url('admin/del',['id'=>$vo['id']])}" class="ion-stop" onclick="return confirm('确定禁用?');"></a>
                                        {/empty}
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- LRSS 2019-2-28 ADD 显示余额异常用户数量 -->
<style type="text/css">
#abnormal_user{
    position: relative;
}
#abnormal_user span{
    position: absolute;
    display: none;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background: #b92217;
    right: -13px;
    top: -13px;
    border-radius: 50%;
}
</style>
<script>
    $(function () {
        $.ajax({
            url: "/index/Admin/getAbnormalUserNumber",
            type: "post",
            dataType: "json",
            success: function (data) {
                if(data.status == 1){
                    if(data.number > 0){
                        $('#abnormal_user').css({'border':'1px solid red','background-color':'red'});
                        $('#abnormal_user span').show().html(data.number);
                    }
                }
            }
        });
    });
</script>

<script>
    $("#is_real_disks").change(function(){
        var is_real_disk = $("#is_real_disk").val();
        $("#is_real_disks").val(is_real_disk);
    });
    $('#export').click(function(){
        var is_real_disk = $("#is_real_disks").val();
        var content = $("input[type=search]").val();
        var url = "/index/admin/exportAdmin/type/1";
        if(is_real_disk){
            url=url+'/is_real_disk/'+is_real_disk;
        }
        if(content){
            url=url+'/content/'+content;
        }

        $(this).prop('href',url);
    });
</script>
<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}
