{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">会员信息</h3></div>
                <div class="panel-body">

                    <form  action="{:url('admin/update')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <input type="hidden" name="id" value="{$user.id}">
                        <input type="hidden" name="shenhe" value="{$shenhe}">
                        <div style="width:100%">
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>账号</span>
                                    <input type="text" id="" name='account' class="form-control" placeholder="账号"  value="{$user.account}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>登陆密码</span>
                                    <input type="text" id="" name='pwd' class="form-control" placeholder="登陆密码" value="">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>账户余额</span>
                                    <input type="text" id="" name='balance' class="form-control" placeholder="账户余额" disabled value="{$user.balance}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>策略账户余额</span>
                                    <input type="text" id="" name='tactics_balance' class="form-control" placeholder="策略账户余额" disabled value="{$user.tactics_balance}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>身份证</span>
                                    <input type="text" id="" name='card_id' class="form-control" placeholder="身份证"  value="{$user.card_id}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>昵称</span>
                                    <input type="text" id="" name='nick_name' class="form-control" placeholder="昵称" value="{$user.nick_name}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>真实姓名</span>
                                    <input type="text" id="" name='true_name' class="form-control" placeholder="真实姓名" value="{$user.true_name}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>交易密码</span>
                                    <input type="text" id="" name='trade_pwd' class="form-control" placeholder="交易密码" value="">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-6">
                                    <span>更改邀请人会更改进入实盘</span>
                                    <input type="text" id="inviter" name='inviter' class="form-control" placeholder="邀请人"  value="">
                                </div>
                                <a style="width:80px;height: 35px;background: #ccc;display: block;text-align: center;line-height: 35px;border-radius:5px;margin-top:40px;margin-right:70px;float: right " data-toggle="modal" data-target="#myModal">选择</a>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <label  class="col-md-3 control-label" style="text-align: left; padding-left: 23px">头像</label>
                                <div class="col-md-6">
                                    <div class="fallback" style="margin-top: 8px;font-size: 12px;">
                                        <input id="f_file" name="headurl" type="file" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <label  class="col-md-3 control-label" style="text-align: left; padding-left: 23px">身份证正面</label>
                                <a href="{$user.frontcard}" target="_blank"><img src="{$user.frontcard}" alt="" width="200px" height="150px"></a>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <label  class="col-md-3 control-label" style="text-align: left; padding-left: 23px">身份证背面</label>
                                <a href="{$user.backcard}" target="_blank"><img src="{$user.backcard}" alt="" width="200px" height="150px"></a>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <label class="col-md-4 name='if_record' control-label" style="text-align: left; padding-left: 25px">实名认证</label>
                                <div class="col-md-8">
                                    <div class="radio-inline" style="padding-left: 0px;">
                                        <label name='is_true' class="cr-styled" for="example-radio7">
                                            <input type="radio" id="example-radio7" name="is_true" value="1" {if $user.is_true eq 1} checked {/if}>
                                            <i class="fa" selected></i>
                                            成功
                                        </label>
                                    </div>
                                    <div class="radio-inline" >
                                        <label name='is_true' class="cr-styled" for="example-radio8">
                                            <input type="radio" id="example-radio8" name="is_true" value="2" {if $user.is_true eq 2} checked {/if}>
                                            <i class="fa" ></i>
                                            失败
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <label class="col-md-4 name='if_record' control-label" style="text-align: left; padding-left: 25px">是否测试</label>
                                <div class="col-md-8">
                                    <div class="radio-inline" style="padding-left: 0px;">
                                        <label name='is_real_disk' class="cr-styled" for="example-radio4">
                                            <input type="radio" id="example-radio4" name="is_real_disk" value="1" {if $user.is_real_disk eq 1} checked {/if}>
                                            <i class="fa" selected></i>
                                            正式
                                        </label>
                                    </div>
                                    <div class="radio-inline" >
                                        <label name='is_real_disk' class="cr-styled" for="example-radio5">
                                            <input type="radio" id="example-radio5" name="is_real_disk" value="2" {if $user.is_real_disk eq 2} checked {/if}>
                                            <i class="fa" ></i>
                                            测试
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <label class="col-md-4 name='if_record' control-label" style="text-align: left; padding-left: 25px">测试信息</label>
                                <div class="col-md-8">
                                    <div class="radio-inline" style="padding-left: 0px;">
                                        <label name='is_open_ranking' class="cr-styled" for="example-radio1">
                                            <input type="radio" id="example-radio1" name="is_open_ranking" value="1" {if $user.is_open_ranking eq 1} checked {/if}>
                                            <i class="fa" selected></i>
                                            开放
                                        </label>
                                    </div>
                                    <div class="radio-inline" >
                                        <label name='is_open_ranking' class="cr-styled" for="example-radio2">
                                            <input type="radio" id="example-radio2" name="is_open_ranking" value="2" {if $user.is_open_ranking eq 2} checked {/if}>
                                            <i class="fa" ></i>
                                            不开放
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%;  display:inline-block">
                                <div class="col-sm-10">
                                    <span>正式账户(正式才有效)</span>
                                    <select class="form-control" name='shipan_account'>
                                        {foreach name="shipan_account" item="v" key="key"}
                                        <option value="{$v.id}" {if $user.shipan_account eq $v.id} selected {/if}>{$v.name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">提交</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog wh">
        <div class="modal-content" style="width:1000px; margin-left: -200px">
            <div class="modal-header headers" >
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <p class="modal-title" id="myModalLabel" >
                    选择上级分销商
                </p>
            </div>
            <div class="modal-body">
                <div class="modal-boy-top">
                    <form class="bs-example bs-example-form" role="form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <input type="text" class="form-control inpt" id="content">
									<span class="input-group-btn">
										<button class="btn btn-default inpt" type="button" id="search">
                                            搜索
                                        </button>
									</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-boy-bom" id="contenthtml">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#search').click(function(){
        var url = "{:url('admin/searchMarketerUser')}";
        var content = $('#content').val();
        $.post(url,{content:content},function(data){
            if(data.status==1){
                var str='';
                for(var i=0;i<data.count;i++){
                    var id =  data.list[i]['id'];
                    var username =  data.list[i]['username'];
                    str+="<div class='modal-bom-1' style='height: 30px;margin-top: 10px;'> " +
                         "<div class='col-lg-4 tol' > <p>"+id+"</p> </div> " +
                         "<div class='col-lg-4 text-center'> <p>"+username+"</p> </div> " +
                         "<div class='col-lg-4 text-right'> <a href='#' onclick='choose(\""+id+"\")' data-dismiss='modal' >选择</a> </div> " +
                         "</div>"
                }
                $('#contenthtml').html(str);
            }else{
                $('#contenthtml').html('暂无');
            }
        });
    });
    function choose(id){

        document.getElementById('inviter').value = id;
    }
</script>
<!-- Page Content Ends -->
<!-- ================== -->

<script type="text/javascript" src="/public/static/js/jquery-3.3.1.min.js" ></script>
{include file="login/footer" /}