{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">银行卡</h3></div>
                <div class="panel-body">

                    <form  action="{:url('admin/updbankindex')}" class="form-horizontal" role="form" enctype="multipart/form-data" method="post">
                        {notempty name="id"}
                        <input type="hidden" name="id" value="{$id}">
                        {/notempty}
                        <input type="hidden" name="account" value="{$account}">
                        <div>
                            <div class="form-group" >
                                <div class="col-sm-12">
                                    <input type="text" id="" name='bank_num' class="form-control" placeholder="银行卡号" value="">
                                </div>
                            </div>
                          	<div class="form-group" >
                                <div class="col-sm-12">
                                    <input type="text" id="" name='bank_address' class="form-control" placeholder="开户行地址" value="">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">提交</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}