
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->
<style>
    .rig{  float: left;margin-right: 20px;margin-bottom: 20px;}
    .rig select{border: none;}
    input[type="submit"]{border: none;padding: 3px 10px;margin-top: -10px;background-color: #5dadfb;color: #ffffff;border-radius: 5px;}
</style>

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">股票优选管理</h3>
                    <a href="{:url('strategyanalog/add')}" target="_blank" id="addToTable" style="float:left; margin-left: 210px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-plus"></i> 新增股票优选</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>用户账号</th>
                                    <th>股票名字</th>
                                    <th>股票代码</th>
                                    <th>买入价格</th>
                                    <th>股票数量</th>
                                    <th>买入时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.stock_name}</td>
                                    <td>{$vo.stock_code}</td>
                                    <td>{$vo.buy_price}</td>
                                    <td>{$vo.stock_number}</td>
                                    <td>{$vo.create_time}</td>
                                    <td>
                                        <a href="{:url('strategyanalog/update',['id'=>$vo['id']])}" target="_blank" class="ion-edit"></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('strategyanalog/del',['id'=>$vo['id']])}" class="ion-trash-a" onclick="return confirm('确定删除?');"></a>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}
