{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改股票优选</h3></div>
                <div class="panel-body">

                    <form  action="{:url('strategyanalog/update')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <input type="hidden" name="id" value="{$strategy.id}">
                        <div style="width:100%">
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>账号</span>
                                    <input type="text" id="" name='account' class="form-control" placeholder="账号"  value="{$strategy.account}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>股票名字</span>
                                    <input type="text" id="" name='stock_name' class="form-control" placeholder="股票名字"  value="{$strategy.stock_name}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>股票代码</span>
                                    <input type="text" id="" name='stock_code' class="form-control" placeholder="股票代码"  value="{$strategy.stock_code}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>买卖的股数</span>
                                    <input type="text" id="" name='stock_number' class="form-control" placeholder="买卖的股数"  value="{$strategy.stock_number}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>买入价格</span>
                                    <input type="text" id="" name='buy_price' class="form-control" placeholder="买入价格"  value="">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">提交</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->

</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}