{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->
<style>
    .col-sm-6{margin-bottom: 3%}
</style>


<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改公司信息</h3></div>
                <div class="panel-body">

                    <form action="{:url('webcominfo/index')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <div style="width:100%">
                            <div class="form-group" >
                                


                                <div class="col-sm-6">
                                    <span>{$list[32]['remark']}</span>
                                    <input type="text" id="" name='value33' class="form-control" placeholder="{$list[32]['remark']}"  value="{$list[32]['value']}">
                                </div>


                                <div class="col-sm-6">
                                    <span>{$list[33]['remark']}</span>
                                    <input type="text" id="" name='value34' class="form-control" placeholder="{$list[33]['remark']}"  value="{$list[33]['value']}">
                                </div>

                                <div class="col-sm-6">
                                    <span>{$list[36]['remark']}</span>
                                    <input type="text" id="" name='value37' class="form-control" placeholder="{$list[36]['remark']}"  value="{$list[36]['value']}">
                                </div>
                              
                              
                              	<div class="col-sm-6">
                                    <span>{$list[34]['remark']}</span>
                                    <input type="text" id="" name='value35' class="form-control" placeholder="{$list[34]['remark']}"  value="{$list[34]['value']}">
                                </div>
                              
                              	<div class="col-sm-6">
                                    <span>{$list[35]['remark']}</span>
                                    <input type="text" id="" name='value36' class="form-control" placeholder="{$list[35]['remark']}"  value="{$list[35]['value']}">
                                </div>
                                
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}