
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">新闻管理</h3>
                    <a href="{:url('news/add')}" id="addToTable" target="_blank" style="float:left; margin-left: 110px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-plus"></i> 新增新闻</a>
                </div>
                <div class="panel-body">
                    <a href="{:url('news/index',['cid'=>1])}" id="" style="background: #888;border:0;margin-bottom: 20px" class="btn btn-primary waves-effect waves-light">头条新闻</a>
                    <a href="{:url('news/index',['cid'=>2])}" id="" style="background: #888;border:0; margin-bottom: 20px" class="btn btn-primary waves-effect waves-light">股票新闻</a>
                    <a href="{:url('news/index',['cid'=>3])}" id="" style="background: #888;border:0;margin-bottom: 20px" class="btn btn-primary waves-effect waves-light">理财新闻</a>
                    <a href="{:url('news/index',['cid'=>4])}" id="" style="background: #888;border:0; margin-bottom: 20px" class="btn btn-primary waves-effect waves-light">基金新闻</a>
                    <a href="{:url('news/index',['cid'=>5])}" id="" style="background: #888;border:0; margin-bottom: 20px" class="btn btn-primary waves-effect waves-light">私募新闻</a>
                  	<a href="{:url('news/index',['cid'=>7])}" id="" style="background: #888;border:0; margin-bottom: 20px" class="btn btn-primary waves-effect waves-light">研报新闻</a>
                    <a href="{:url('news/index',['cid'=>6])}" id="" style="background: #888;border:0; margin-bottom: 20px" class="btn btn-primary waves-effect waves-light">系统公告</a>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>文章类型</th>
                                    <th>新闻标题</th>
                                    <th>是否推荐</th>
                                    <th>浏览次数</th>
                                    <th>排序</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.cid}</td>
                                    <td>{$vo.title}</td>
                                    <td>{$vo.is_recommend}</td>
                                    <td>{$vo.times}</td>
                                    <td>{$vo.sort}</td>
                                    <td>{$vo.create_time}</td>
                                    <td>
                                        <a href="{:url('news/update',['id'=>$vo['id']])}" target="_blank" class="ion-edit"></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('news/del',['id'=>$vo['id'],'cid'=>$cid])}" class="ion-trash-a" onclick="return confirm('确定删除?');"></a>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

{include file="login/footer" /}
<!-- Page Content Ends