{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 1200px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改新闻</h3></div>
                <div class="panel-body">

                    <form  action="{:url('news/update')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <input type="hidden" name="id" value="{$news.id}">
                        <input type="hidden" name="oldcid" value="{$news.cid}">
                        <div >
                            <div class="form-group" >
                                <div class="col-sm-6">
                                    <span>新闻标题</span>
                                    <input type="text" id="" name='title' class="form-control" placeholder="新闻标题"  value="{$news.title}">
                                </div>
                                <div class="col-sm-6">
                                    <span>排序</span>
                                    <input type="text" id="" name='sort' class="form-control" placeholder="排序"  value="{$news.sort}">
                                </div>
                            </div>
                            <div class="form-group" >
                              	<div class="col-sm-6">
                                 
                                    <select class="form-control" name='cid'>
                                        <option value="0">文章类型</option>
                                        {foreach name="cate" item="v" key="key"}
                                        <option value="{$v.cid}" {if $news.cid eq $v.cid} selected {/if}>{$v.cname}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                <label class="col-md-4 name='if_break' control-label" style="text-align: left; padding-left: 25px">是否推荐</label>
                                <div class="col-md-7">
                                    <div class="radio-inline" style="padding-left: 0px;">
                                        <label name='is_recommend' class="cr-styled" for="example-radio4">
                                            <input type="radio" id="example-radio4" name="is_recommend" value="1" {if $news.is_recommend eq 1} checked {/if}>
                                            <i class="fa"></i>
                                            推荐
                                        </label>
                                    </div>
                                    <div class="radio-inline" >
                                        <label name='is_recommend' class="cr-styled" for="example-radio5">
                                            <input type="radio" id="example-radio5" name="is_recommend" value="2" {if $news.is_recommend eq 2} checked {/if} >
                                            <i class="fa" selected></i>
                                            未推荐
                                        </label>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="col-sm-12">
                                    <input type="text" id="" name='synopsis' class="form-control" placeholder="简介"  value="{$news.synopsis}">
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="col-sm-10">
                                    <span>新闻内容必须包含一张图片</span>
                                </div>
                            </div>
                            <script id="container" name="content" style="height: 500px;" type="text/plain">{$news.content}</script>
                            <!-- 配置文件 -->
                            <script type="text/javascript" src="/public/static/utf8-php/ueditor.config.js"></script>
                            <!-- 编辑器源码文件 -->
                            <script type="text/javascript" src="/public/static/utf8-php/ueditor.all.js"></script>
                            <!-- 实例化编辑器 -->
                            <script type="text/javascript">
                                var ue = UE.getEditor('container');
                            </script>

                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->



{include file="login/footer" /}