
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->
<style>
    .rig{  float: left;margin-right: 20px;margin-bottom: 20px;}
    .rig select{border: none;}
    input[type="submit"]{border: none;padding: 3px 10px;margin-top: -10px;background-color: #5dadfb;color: #ffffff;border-radius: 5px;}
</style>

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">递延策略</h3>
                </div>
                <div class="panel-body">
                    <form action="{:url('strategy/deferStrategy')}" method="get">
                        <div class="rig">
                        <label>策略状态</label>
                        <select name="status" id="status">
                            <option value="0">请选择</option>
                            <option {notempty name="statusd" }{if $statusd eq 1} selected {/if}{/notempty} value="1">持仓申报中</option>
                            <option {notempty name="statusd" }{if $statusd eq 2} selected {/if}{/notempty} value="2">持仓中</option>
                            <option {notempty name="statusd" }{if $statusd eq 3} selected {/if}{/notempty} value="3">平仓申报中</option>
                            <option {notempty name="statusd" }{if $statusd eq 4} selected {/if}{/notempty} value="4">已平仓</option>
                        </select>
                        </div>
                        <div class="rig">
                        <label style="display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;">是否实盘</label>
                        <select name="is_real_disk" style="border: none;">
                            <option value="0">请选择</option>
                            <option {notempty name="is_real_disked" }{if $is_real_disked eq 1} selected {/if}{/notempty} value="1">是</option>
                            <option {notempty name="is_real_disked" }{if $is_real_disked eq 2} selected {/if}{/notempty} value="2">否</option>
                        </select>
                        </div>
                        {notempty name="strategy_type" }
                        <input type="hidden" id="strategy_type" name="strategy_type" value="{$strategy_type}">
                        {/notempty}
                        {notempty name="account" }
                            <input type="hidden" id="account" name="account" value="{$account}">
                        {/notempty}
                        {notempty name="mark" }
                        <input type="hidden" id="mark" name="mark" value="{$mark}">
                        {/notempty}
                        {notempty name="date" }
                        <input type="hidden" id="date" name="date" value="{$date}">
                        {/notempty}
                        {notempty name="begin_time" }
                        <input type="hidden" id="begin_time" name="begin_time" value="{$begin_time}">
                        {/notempty}
                        {notempty name="end_time" }
                        <input type="hidden" id="end_time" name="end_time" value="{$end_time}">
                        {/notempty}
                        <input type="submit" value="查询">
                    </form>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>策略单号</th>
                                    <th>用户账号</th>
                                    <th>真实姓名</th>
                                    <th>股票代码</th>
                                    <th>股票名字</th>
                                  	<th>信用金</th>
                                  	<th>实际金额</th>
                                    <th>策略种类</th>
                                    <th>买入时间</th>
                                    <th>卖出时间</th>
                                    <th>递延天数</th>
                                    <th>策略状态</th>
                                    <th>递延费</th>
                                    <th>缴费时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>{$vo.strategy_num}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.true_name}</td>
                                    <td>{$vo.stock_code}</td>
                                    <td>{$vo.stock_name}</td>
                                  	<td>{$vo.credit}</td>
                                  	<td>{$vo.double_value}</td>
                                    <td>{$vo.format_strategy_type}</td>
                                    <td>{$vo.format_buy_time}</td>
                                    <td>{$vo.format_sell_time}</td>
                                    <td>{$vo.defer_day}</td>
                                    <td>{$vo.format_status}</td>
                                    <td>{$vo.trade_price}</td>
                                    <td>{$vo.format_create_time}</td>
                                    <td><a href="{:url('strategy/detail',['id'=>$vo['id']])}" target="_blank" class="ion-eye"></a></td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->

<script>
    $("#strategy_type").change(function(){
        var strategy_type = $("#strategy_type").val();
        $("#strategy_types").val(strategy_type);
    });
    $("#income").change(function(){
        var income = $("#income").val();
        $("#incomes").val(income);
    });
    $("#status").change(function(){
        var status = $("#status").val();
        $("#statuss").val(status);
    });
    $("#is_real_disks").change(function(){
        var is_real_disk = $("#is_real_disk").val();
        $("#is_real_disks").val(is_real_disk);
    });
</script>

{include file="login/footer" /}
