{include file="login/header" /}

<div class="wraper container-fluid">
    <div class="page-title">
        <h3 class="title">策略详情</h3>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">策略单号：{$strategy.strategy_num}</h3>
                    {empty name="marketer"}
                        {if condition="$strategy.cancel == 1"}
                    <a href="{:url('strategy/cancelstrategy',['id'=>$strategy.id])}" target="_blank" id="" style=" float:right; margin-left: 30px;
                        margin-top: -27px" class="btn btn-primary waves-effect waves-light" onclick="return confirm('确定撤单?');">撤单</a>
                        {elseif condition="$strategy.cancel == 2"/}
                    <a href="{:url('strategy/backstrategy',['id'=>$strategy.id])}" target="_blank" id="" style=" float:right; margin-left: 30px;
                        margin-top: -27px" class="btn btn-primary waves-effect waves-light" onclick="return confirm('确定回退至持股?');">回退至持股</a>
                        {/if}
                    {/empty}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table style="margin-bottom: 10px;" class="table table-bordered">

                                <tbody>
                                <tr>
                                    <th >用户账号：</th>
                                    <td>{$strategy.account}</td>
                                    <th>策略种类：</th>
                                    <td>{$strategy.strategy_type}</td>
                                    <th>策略状态：</th>
                                    <td>{$strategy.status}</td>
                                </tr>
                                <tr>
                                    <th>股票名字：</th>
                                    <td>{$strategy.stock_name}</td>
                                    <th>股票代码：</th>
                                    <td>{$strategy.stock_code}</td>
                                    <th>买卖股数：</th>
                                    <td>{$strategy.stock_number}</td>
                                </tr>
                                <tr>
                                    <th>信用金：</th>
                                    <td>{$strategy.credit}</td>
                                    <th>追加信用金：</th>
                                    <td>{$strategy.credit_add}</td>
                                    <th>市值：</th>
                                    <td>{$strategy.market_value}</td>
                                </tr>
                                <tr>
                                    <th>买入价格：</th>
                                    <td>{$strategy.buy_price}</td>
                                    <th>卖出价格：</th>
                                    <td>{$strategy.sell_price}</td>
                                    <th>当前价格：</th>
                                    <td>{$strategy.nowprice}</td>
                                </tr>
                                <tr>
                                    <th>止盈价格：</th>
                                    <td>{$strategy.surplus_value}</td>
                                    <th>止损价格：</th>
                                    <td>{$strategy.loss_value}</td>
                                    <th>涨/跌幅比率：</th>
                                    <td>{$strategy.rate}</td>
                                </tr>
                                <tr>
                                    <th>买手续费：</th>
                                    <td>{$strategy.buy_poundage}</td>
                                    <th>卖手续费：</th>
                                    <td>{$strategy.sell_poundage}</td>
                                    <th>总手续费：</th>
                                    <td>{$strategy.all_poundage}</td>
                                </tr>
                                <tr>
                                    <th>递延费：</th>
                                    <td>{$strategy.defer_value}</td>
                                    <th>递延天数：</th>
                                    <td>{$strategy.defer_day}</td>
                                    <th>是否开启自动递延：</th>
                                    <td>{$strategy.defer}</td>
                                </tr>
                                <tr>
                                    <th>策略盈亏：</th>
                                    <td>{$strategy.income}</td>
                                    <th>盈利分配：</th>
                                    <td>{$strategy.getprice}</td>
                                    <th>亏损扣减：</th>
                                    <td>{$strategy.dropprice}</td>
                                </tr>
                                <tr>
                                    <th>买入时间：</th>
                                    <td>{$strategy.buy_time}</td>
                                    <th>卖出时间：</th>
                                    <td>{$strategy.sell_time}</td>
                                    <th>策略返还：</th>
                                    <td>{$strategy.true_getmoney}</td>
                                </tr>
                                
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- col -->
    </div> <!-- End row -->





</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}