
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->
<style>
    .rig{  float: left;margin-right: 20px;margin-bottom: 20px;}
    .rig select{border: none;}
    input[type="submit"]{border: none;padding: 3px 10px;margin-top: -10px;background-color: #5dadfb;color: #ffffff;border-radius: 5px;}
</style>

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">策略管理</h3>
                    {empty name="marketer_user"}
                    <a href="" id="export" style="float:left; margin-left: 130px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">导出策略</a>
                    {/empty}
                </div>
                <div class="panel-body">
                    <form action="{:url('strategy/index')}" method="get">
                        <div class="rig">
                            <label>策略种类</label>
                        <select name="strategy_type">
                            <option value="0">请选择</option>
                            <option {notempty name="strategy_typed" }{if $strategy_typed eq 1} selected {/if}{/notempty} value="1">T+1</option>
                            <option {notempty name="strategy_typed" }{if $strategy_typed eq 2} selected {/if}{/notempty} value="2">T+D</option>
                        </select>
                        </div>
                        <div class="rig">
                            <label>策略盈亏</label>
                        <select name="income">
                            <option value="0">请选择</option>
                            <option {notempty name="incomed" }{if $incomed eq 1} selected {/if}{/notempty} value="1">盈利</option>
                            <option {notempty name="incomed" }{if $incomed eq 2} selected {/if}{/notempty} value="2">亏损</option>
                        </select>
                        </div>
                        <div class="rig">
                        <label>策略状态</label>
                        <select name="status" id="status">
                            <option value="0">请选择</option>
                            <option {notempty name="statusd" }{if $statusd eq 1} selected {/if}{/notempty} value="1">持仓申报中</option>
                            <option {notempty name="statusd" }{if $statusd eq 2} selected {/if}{/notempty} value="2">持仓中</option>
                            <option {notempty name="statusd" }{if $statusd eq 3} selected {/if}{/notempty} value="3">平仓申报中</option>
                            <option {notempty name="statusd" }{if $statusd eq 4} selected {/if}{/notempty} value="4">已平仓</option>
                        </select>
                        </div>
                        <div class="rig">
                        <label style="display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;">是否测试</label>
                        <select name="is_real_disk" style="border: none;">
                            <option value="0">请选择</option>
                            <option {notempty name="is_real_disked" }{if $is_real_disked eq 1} selected {/if}{/notempty} value="1">正式</option>
                            <option {notempty name="is_real_disked" }{if $is_real_disked eq 2} selected {/if}{/notempty} value="2">测试</option>
                        </select>
                        </div>
                        {notempty name="account" }
                            <input type="hidden" id="account" name="account" value="{$account}">
                        {/notempty}
                        {notempty name="mark" }
                        <input type="hidden" id="mark" name="mark" value="{$mark}">
                        {/notempty}
                        <input type="submit" value="查询">
                    </form>
                    <input type="hidden" id="strategy_types" {notempty name="strategy_typed" } value="{$strategy_typed}" {/notempty}>
                    <input type="hidden" id="incomes" {notempty name="incomed" } value="{$incomed}" {/notempty}>
                    <input type="hidden" id="statuss" {notempty name="statusd" } value="{$statusd}" {/notempty}>
                    <input type="hidden" id="is_real_disks" {notempty name="is_real_disked" } value="{$is_real_disked}" {/notempty}>
                  	{empty name="marketer"}
                    <span style="float:right;font-weight: 700;">实盘持股总市值：{$market_value_all}</span>
                    {/empty}
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>策略单号</th>
                                    <th>用户账号</th>
                                    <th>真实姓名</th>
                                    <th>股票代码</th>
                                    <th>股票名字</th>
                                  	<th>股票数量</th>
                                  	<th>市值</th>
                                    <th>策略种类</th>
                                    <th>买入价格</th>
                                    <th>当前价格</th>
                                    <th>策略盈亏</th>
                                    <th>涨/跌幅比率</th>
                                    <th>持仓时间</th>
                                    <th>策略状态</th>
                                  	<th>买入时间</th>
                                    <th>卖出时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>{$vo.strategy_num}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.true_name}</td>
                                    <td>{$vo.stock_code}</td>
                                    <td>{$vo.stock_name}</td>
                                  	<td>{$vo.stock_number}</td>
                                  	<td>{$vo.market_value}</td>
                                    <td>{$vo.strategy_type}</td>
                                    <td>{$vo.buy_price}</td>
                                    <td>{$vo.nowprice}</td>
                                    <td>{$vo.income}</td>
                                    <td>{$vo.rate}</td>
                                    <td>{$vo.defer_day}</td>
                                    <td>{$vo.status}</td>
                                  	<td>{$vo.buy_time}</td>
                                    <td>{$vo.sell_time}</td>
                                    <td><a href="{:url('strategy/detail',['id'=>$vo['id']])}" target="_blank" class="ion-eye"></a></td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->

<script>
    $("#strategy_type").change(function(){
        var strategy_type = $("#strategy_type").val();
        $("#strategy_types").val(strategy_type);
    });
    $("#income").change(function(){
        var income = $("#income").val();
        $("#incomes").val(income);
    });
    $("#status").change(function(){
        var status = $("#status").val();
        $("#statuss").val(status);
    });
    $("#is_real_disks").change(function(){
        var is_real_disk = $("#is_real_disk").val();
        $("#is_real_disks").val(is_real_disk);
    });
    $('#export').click(function(){
        var strategy_type = $("#strategy_types").val();
        var income = $("#incomes").val();
        var status = $("#statuss").val();
        var is_real_disk = $("#is_real_disks").val();
        var account = $("#account").val();
        var mark = $("#mark").val();
        var content = $("input[type=search]").val();
        var url = "/index/strategy/exportstrategy";
        if(content){
            url=url+'/content/'+content;
        }
        if(strategy_type){
            url=url+'/strategy_type/'+strategy_type;
        }
        if(income){
            url=url+'/income/'+income;
        }
        if(status){
            url=url+'/status/'+status;
        }
        if(is_real_disk){
            url=url+'/is_real_disk/'+is_real_disk;
        }
        if(account){
            url=url+'/account/'+account;
        }
        if(mark){
            url=url+'/mark/'+mark;
        }
        $(this).prop('href',url);
    });
</script>

{include file="login/footer" /}
