{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">添加轮播图</h3></div>
                <div class="panel-body">

                    <form  action="{:url('banner/add')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <div >
                            <div class="form-group" >
                                <div class="col-sm-6">
                                    <input type="text" id="" name='sort' class="form-control" placeholder="排序"  value="">
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control" name='ban_id'>
                                        <option value="1" >首页</option>
                                        <option value="2" >策略</option>
                                        <option value="3" >排行</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block;">
                                <label  class="col-md-4 control-label" style="text-align: left; padding-left: 23px">轮播图</label>
                                <div class="col-md-8">
                                    <div class="fallback" style="margin-top: 8px;font-size: 12px;">
                                        <input  id="" name="bannerurl" type="file" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">提交</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->

</div>
<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}