
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">轮播图管理</h3>
                    <a href="{:url('banner/add')}" target="_blank" id="addToTable" style="float:left; margin-left: 130px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-plus"></i> 新增轮播图</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>分类</th>
                                    <th>轮播图</th>
                                    <th>排序</th>
                                    <th>是否禁用</th>
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.ban_id}</td>
                                    <td><img src="{$vo.bannerurl}" alt="" width="200px" height="100px"></td>
                                    <td>{$vo.sort}</td>
                                    <td>{$vo.is_del}</td>
                                    <td>{$vo.create_time}</td>
                                    <td>
                                        <a href="{:url('banner/update',['id'=>$vo['id']])}" target="_blank" class="ion-edit"></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('banner/del',['id'=>$vo['id']])}" class="ion-trash-a" onclick="return confirm('确定删除?');"></a>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>
{include file="login/footer" /}
<!-- Page Content Ends -->
<!-- =