{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">会员信息</h3></div>
                <div class="panel-body">

                    <!--<form  action="{:url('trade/createchongzhi')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">-->
                      	<div>
                        <input type="hidden" name="id" value="{$user.id}" id="id">
                        <div style="width:100%">
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>账号</span>
                                    <input type="text" id="" name='account' class="form-control" placeholder="账号" disabled  value="{$user.account}">
                                </div>
                            </div>
                            <div class="form-group" style="width: 48%; display:inline-block">
                                <div class="col-sm-10">
                                    <span>充值金额</span>
                                    <input type="text" id="balance" name='balance' class="form-control" placeholder="充值金额"  value="">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5 submit"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555" >提交</button>
                    </div>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<script>
$(function(){
  $(".submit").click(function(){
    	var _this = $(this);
    	_this.attr("disabled","disabled")
  	   $.ajax({
        type: "post",
        dataType: "json",
        url:"/index/trade/createchongzhi" ,
        data: {id:$("#id").val(),balance:$("#balance").val()},
        success: function (data) {
            alert(data.msg);
          _this.attr("disabled",false)
        }
    });
  })
})
</script>
<!-- Page Content Ends -->
<!-- ================== -->



<script type="text/javascript" src="/stockht/public/static/js/jquery-3.3.1.min.js" ></script>
{include file="login/footer" /}