
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">提现管理</h3>
                    <a href="{:url('trade/extractmoney',['status'=>1])}" id="" style="float:left; margin-left: 130px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">提现成功</a>
                    <a href="{:url('trade/extractmoney',['status'=>2])}" id="" style="float:left; margin-left: 230px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">提现失败</a>
                    <a href="{:url('trade/extractmoney',['status'=>3])}" id="" style="float:left; margin-left: 330px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">提现中</a>
                    <a href="{:url('trade/extractmoney',['status'=>4])}" id="" style="float:left; margin-left: 430px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">拒绝提现</a>
                    <a href="{:url('trade/extractmoney',['status'=>5])}" id="" style="float:left; margin-left: 530px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">提现申请中</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>订单单号</th>
                                    <th>账号ID</th>
                                    <th>提现账号</th>
                                    <th>真实姓名</th>
                                  	<th>银行卡号</th>
                                  	<th>银行名字</th>
                                  	<th>开户行地址</th>
                                    <th>提现金额</th>
                                    <th>提现状态</th>
                                    <th>交易时间</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>
                                        {if $status eq '5'}
                                        <label class="cr-styled" style="float: left;  margin-right: 10px;">
                                            <input type="checkbox" class="id" name = 'id' value="{$vo['id']}">
                                            <i class="fa"></i>
                                        </label>
                                        {/if}
                                        {$vo.id}
                                    </td>
                                    <td>{$vo.charge_num}</td>
                                    <td>{$vo.num}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.true_name}</td>
                                  	<td>{$vo.bank_num}</td>
                                  	<td>{$vo.bank_name}</td>
                                  	<td>{$vo.bank_address}</td>
                                    <td>{$vo.trade_price}</td>
                                    <td>{$vo.trade_status}</td>
                                    <td>{$vo.create_time}</td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                            {if $status eq '5'}
                            <label class="cr-styled" style="float: left; margin-top:28px;margin-left: 14px; margin-right: 20px;">
                                <input type="checkbox" id="j_cbAll" onclick="quanxuan(this)">
                                <i class="fa"></i>
                                全选
                            </label>
                            <div  id="agreeExtract" style="float:left; margin-right:15px;margin-top: 20px; background: #555" class="btn btn-primary waves-effect waves-light layui-btn" >同意提现</div>
                            <div  id="refuseExtract" style="float:left; margin-right:15px;margin-top: 20px; background: #555" class="btn btn-primary waves-effect waves-light layui-btn" >拒绝提现</div>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>
<script>
    function quanxuan(a)
    {
        var ck =document.getElementsByClassName("id");
        for(var i=0;i<ck.length;i++)
        {
            if(a.checked)
            {
                ck[i].setAttribute("checked","checked");
            }
            else
            {
                ck[i].removeAttribute("checked");
            }
        }
    }

    $('#agreeExtract').click(function(){
        if(window.confirm('你确定要同意提现吗？')){
            var url = "{:url('trade/agreeExtract')}";
            var c = $('input:checkbox:checked');
            var d = '';
            for(var i =0;i< c.length;i++) {
                d += c[i].value+',';
            }
            $.post(url,{id:d},function(data){
                window.location.reload();
            });
            return true;
        }else{
            return false;
        }
    });
    $('#refuseExtract').click(function(){
        if(window.confirm('你确定要拒绝提现吗？')){
            var url = "{:url('trade/refuseExtract')}";
            var c = $('input:checkbox:checked');
            var d = '';
            for(var i =0;i< c.length;i++) {
                d += c[i].value+',';
            }
            $.post(url,{id:d},function(data){
                alert(data.msg);
                window.location.reload();
            });
        }else{
            return false;
        }
    });

</script>
<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}
