
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->
<style>
    .rig{  float: left;margin-right: 20px;margin-bottom: 20px;}
    .rig select{border: none;}
    input[type="submit"]{border: none;padding: 3px 10px;margin-top: -10px;background-color: #5dadfb;color: #ffffff;border-radius: 5px;}
    .hove{background-color: #00a0e9; transition: all .3s ease-in-out;border: 1px solid #00a0e9;}
</style>

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">订单管理</h3>
                    {empty name="marketer_user"}
                    <a href="" id="export" style="float:left; margin-left: 130px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">导出订单</a>
                    {/empty}
                </div>
                <div class="panel-body">
                    <form action="{:url('trade/index')}" method="get">
                        <div class="rig">
                            <label style="display: inline-block;height: 30px;line-height: 32px;margin-right: 10px;font-weight: bold;">订单单号</label>
                            <input type="text" id="charge_num" name="charge_num" style="background-color: #fafafa;color: rgba(0,0,0,0.6);font-size: 14px;border-radius: 2px;border: 1px solid #eee;box-shadow: none;" {notempty name="charge_numed"} value="{$charge_numed}" {/notempty}>
                        </div>
                        <div class="rig">
                            <label style="display: inline-block;height: 30px;line-height: 32px;margin-right: 10px;font-weight: bold;">交易账号</label>
                            <input type="text" id="account" name="account" style="background-color: #fafafa;color: rgba(0,0,0,0.6);font-size: 14px;border-radius: 2px;border: 1px solid #eee;box-shadow: none;" {notempty name="accounted"} value="{$accounted}" {/notempty}>
                        </div>
                        <div class="rig">
                            <label style="display: inline-block;height: 30px;line-height: 32px;margin-right: 10px;font-weight: bold;">真实姓名</label>
                            <input type="text" id="true_name" name="true_name" style="background-color: #fafafa;color: rgba(0,0,0,0.6);font-size: 14px;border-radius: 2px;border: 1px solid #eee;box-shadow: none;" {notempty name="true_nameed"} value="{$true_nameed}" {/notempty}>
                        </div>
                        <input type="submit" value="查询" style="margin-top: 2px">
                    </form>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>订单单号</th>
                            <th>账号ID</th>
                            <th>交易账号</th>
                            <th>真实姓名</th>
                            <th>交易金额</th>
                            <th>交易类型</th>
                            <th>交易状态</th>

                            <!-- LRSS 2019-2-16 ADD 显示备注 -->
                            <th>备注</th>

                            <th>交易时间</th>
                        </tr>
                        </thead>
                        <tbody id="j_tb">
                        {foreach name="list" item="vo"}
                        <tr align="left">
                            <td>{$vo.id}</td>
                            <td>{$vo.charge_num}</td>
                            <td>{$vo.num}</td>
                            <td>{$vo.account}</td>
                            <td>{$vo.true_name}</td>
                            <td>{$vo.trade_price}</td>
                            <td>{$vo.trade_type}</td>
                            <td>{$vo.trade_status}</td>

                            <!-- LRSS 2019-2-16 ADD 显示备注 -->
                            <td>{$vo.detailed}</td>

                            <td>{$vo.create_time}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <div style="float: right">
                        {$list->render()}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>

<!-- Page Content Ends -->
<!-- ================== -->

<script>
    $('#export').click(function(){
        var content = $("input[type=search]").val();
        var charge_num = $("#charge_num").val();
        var account = $("#account").val();
        var true_name = $("#true_name").val();
        var url = "/index/trade/exporttrade";
        if(content){
            url=url+'/content/'+content;
        }
        if(charge_num){
            url=url+'/charge_num/'+charge_num;
        }
        if(account){
            url=url+'/account/'+account;
        }
        if(true_name){
            url=url+'/true_name/'+true_name;
        }
        $(this).prop('href',url);
    });
</script>

{include file="login/footer" /}
