
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">入金管理</h3>
                  	<a href="{:url('trade/zhuanzhang',['status'=>2])}" id="" style="float:left; margin-left: 130px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">待审核</a>
                    <a href="{:url('trade/zhuanzhang',['status'=>1])}" id="" style="float:left; margin-left: 230px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">已充值</a>
                    
                  	<a href="{:url('trade/zhuanzhang',['status'=>3])}" id="" style="float:left; margin-left: 342px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">已拒绝</a>
                    
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>订单单号</th>
                                    <th>账号ID</th>
                                  	<th>用户</th>
                                  	<th>付款账号</th>
                                    <th>付款人</th>
                                    <th>付款凭证</th>
                                    <th>真实姓名</th>
                                    <th>充值金额</th>
                                  	<th>充值类型</th>
                                    <th>充值状态</th>
                                    <th>交易时间</th>
                                  	
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    
                                  	
                                  	<td>
                                        {if $status eq 2}
                                        <label class="cr-styled" style="float: left;  margin-right: 10px;">
                                            <input type="checkbox" class="id" name = 'id' value="{$vo['id']}">
                                            <i class="fa"></i>
                                        </label>
                                        {/if}
                                        {$vo.id}
                                    </td>
                                  	
                                    <td>{$vo.charge_num}</td>
                                  	<td>{$vo.num}</td>
                                  	<td>{$vo.account}</td>
                                  	<td>{$vo.pay_account}</td>
                                    <td>{$vo.pay_username}</td>
                                    <td>
                                        {if condition="($vo.trade_type == '支付宝转账') OR ($vo.trade_type == '微信转账') OR ($vo.trade_type == '银行卡转账')"}
                                      	<a href="{$vo.detailed}" target='_blank'>
                                        <img src = '{$vo.detailed}' style="width:30px;height:30px;">
                                      	</a>
                                        {else}
                                        {$vo.detailed}
                                        {/if}
                                    </td>
                                    
                                    <td>{$vo.true_name}</td>
                                    <td>{$vo.trade_price}</td>
                                  	<th>{$vo.trade_type}</th>
                                    <td>{$vo.trade_status}</td>
                                    <td>{$vo.create_time}</td>
                                  	
                                  
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                          
                          	{if $status eq 2}
                           
                            <div  id="agreeExtract" style="float:left; margin-right:15px;margin-top: 20px; background: #555" class="btn btn-primary waves-effect waves-light layui-btn" >确认入金</div>
                            <div  id="refuseExtract" style="float:left; margin-right:15px;margin-top: 20px; background: #555" class="btn btn-primary waves-effect waves-light layui-btn" >拒绝入金</div>
                            {/if}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>
<script>
    function quanxuan(a)
    {
        var ck =document.getElementsByClassName("id");
        for(var i=0;i<ck.length;i++)
        {
            if(a.checked)
            {
                ck[i].setAttribute("checked","checked");
            }
            else
            {
                ck[i].removeAttribute("checked");
            }
        }
    }

    $('#agreeExtract').click(function(){
        if(window.confirm('你确定要同意充值吗？')){
            var url = "{:url('trade/agree_zhuanzhang')}";
            var c = $('input:checkbox:checked');
            var d = '';
            for(var i =0;i< c.length;i++) {
                d += c[i].value+',';
            }
          
            $.post(url,{id:d},function(data){
              	alert(data.msg);
                window.location.reload();
            });
            return true;
        }else{
            return false;
        }
    });
    $('#refuseExtract').click(function(){
        if(window.confirm('你确定要拒绝充值吗？')){
            var url = "{:url('trade/refuse_zhuanzhang')}";
            var c = $('input:checkbox:checked');
            var d = '';
            for(var i =0;i< c.length;i++) {
                d += c[i].value+',';
            }
            $.post(url,{id:d},function(data){
                alert(data.msg);
                window.location.reload();
            });
        }else{
            return false;
        }
    });

</script>
<!-- Page Content Ends -->
<!-- ================== -->

{include file="login/footer" /}
