@charset "utf-8";
/* CSS Document */
html, body, ul, li, a, p{margin: 0;padding: 0;}
body{background: url(images/maxbg.jpg) repeat;background-attachment: fixed;}
p{font-size: 14px;color: #aaaaaa;line-height: 33px;}
img{border: 0;}
ul, li{list-style: none;}
a{text-decoration: none;}
.content_show{background: #fff;width: 100%;max-width: 1440px; _width:expression((document.documentElement.clientWidth||document.body.clientWidth)>1440?"1440px":"100%");margin: 0 auto;}
/*清除浮动*/
.clearfix:after{content: ".";display: block;height: 0;visibility: hidden;clear: both;}
.clearfix{*zoom:1;}
/*main css*/
.show{display:block;}
.none{display:none;}
.banner{width: 100%;min-width: 1000px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"100%");overflow: hidden;position: relative;height: 525px;z-index: 998}
.banner_container{height: 525px;width: 100%;min-width: 1000px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"100%");max-width:1440px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>1440?"1440px":"100%");display: block;overflow: hidden;left: 50%;margin-left: -720px;z-index: 997}
.banner_container .banner_content{position: absolute;left: 0%;top: 0%;width: 100%;min-width: 1000px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"100%");max-width:1440px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>1440?"1440px":"100%");height: 100%;overflow: hidden;z-index: 996}
.banner_container .banner_content img{z-index: 995}
.banner_nav{position: absolute;z-index: 10;bottom: 10px;left: 50%;margin-left: -64px;z-index: 999}
.banner_nav li{float: left;width: 22px;height: 20px;}
.banner_nav li a{float: left;width: 22px;height: 20px;text-align: center;line-height: 20px;font-size: 0px;cursor: pointer;background-image: url(../images/point_2.png);background-repeat: no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/point_2.png')}
.banner_nav li.current a{background-image: url(../images/point_1.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/point_1.png');}
.prove_index,.next_index{background:url(../images/btn00.png);top:50%;height:47px;width:44px;position:absolute;margin-top:-23px;z-index:999;cursor:pointer}
.prove_index{left:20px;background-position:44px 0; display:none;}
.next_index{right:20px;background-position:0px 47px; display:none;}
.prove_index:hover{background:url(../images/btn00.png);background-position:0px 0px;}
.next_index:hover{background:url(../images/btn00.png);background-position:44px 47px;}