{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 800px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">推送消息</h3></div>
                <div class="panel-body">

                    <form  action="{:url('push/add')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">

                        <div style="width:100%">
                            <div class="col-md-10" style="width: 97%; margin-bottom: 20px">
                                <textarea name='content' class="form-control" rows="5" placeholder="内容"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">提交</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->

</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}