
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">推送管理</h3>
                    <a href="{:url('news/add')}" id="addToTable" target="_blank" style="float:left; margin-left: 110px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-plus"></i> 推送消息</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>推送内容</th>
                                    <th>创建时间</th>
                                    <th>推送状态</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.content}</td>
                                    <td>{$vo.create_time}</td>
                                    <td>{$vo.status}</td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>
{include file="login/footer" /}
<!-- Page Content Ends -->
<!-- =========