
{include file="login/header" /}

<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="title">管理员管理</h3>
                    <a href="{:url('user/add')}" id="addToTable" target="_blank" style="float:left; margin-left: 130px;margin-top: -40px" class="btn btn-primary waves-effect waves-light">
                        <i class="fa fa-plus"></i> 新增管理员</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-striped" id="datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>管理员账号</th>
                                    <th>名字</th>
                                    <th>可访问权限</th>
                                    <th>头像</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="j_tb">
                                {foreach name="list" item="vo"}
                                <tr align="left">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.username}</td>
                                    <td>{$vo.auth}</td>
                                    <td><img src="{$vo.headurl}" alt="" width="50px" height="50px" style="border-radius: 50%;"></td>
                                    <td>{$vo.create_time}</td>
                                    <td>
                                        <a href="{:url('user/update',['id'=>$vo['id']])}" target="_blank" class="ion-edit"></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{:url('user/del',['id'=>$vo['id']])}" class="ion-trash-a" onclick="return confirm('确定删除?');"></a>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Row -->
</div>
{include file="login/footer" /}
<!-- Page Content Ends -->
<!--