{include file="login/header" /}


<!-- Page Content Start -->
<!-- ================== -->

<div class="wraper container-fluid">

    <div class="row" style="width: 400px;margin: 2% auto;">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">修改股票</h3></div>
                <div class="panel-body">

                    <form  action="{:url('forbidden/update')}" class="form-horizontal" role="form" enctype="multipart/form-data"  method="post">
                        <input type="hidden" name="id" value="{$banner.id}">
                        <div>
                            



                            
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <span>股票代码</span>
                                    <input type="text" id="" name="stock_code" class="form-control" value="{$banner.stock_code}">
                                </div>
                            </div>


                        </div>
                        <button class="btn btn-primary btn-lg m-b-5"  style="width:120px; height:40px; font-size:14px;display: block;margin: 5% auto; background-color:#555">修改</button>
                    </form>

                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


</div>
<!-- Page Content Ends -->
<!-- ================== -->


{include file="login/footer" /}